<div class="backdrop"></div>
<div class="ca-student-list-container {{if isActivityPast 'past-activity' }}">
  <div class="ca-student-list-header">
    <div class="ca-student-selected-ctn">
      {{#if (eq usersCount -1)}}
        <span>Everyone</span>
      {{else if (eq usersCount 0)}}
        <span>No Students Selected</span>
      {{else}}
        <span> {{usersCount}}  Students Selected</span>
      {{/if}}
    </div>
    <div class="search-student-container">
      <div class="search-input-container">
        {{input type="text"
          placeholder=(t "common.search-placeholder")
          spellcheck="true"
          id="student-search"
        }}
        <label for="student-search" id="search-student" class="search-icon">
            {{gru-icon name="search"}}
        </label>
      </div>
    </div>
  </div>
  <div class="student-list-container">
    {{#each studentSearchResults as |student| }}
      <div class="user-profile-details">
        <div class="user-profile-img">
          {{#if student.isSelected}}
            <div class="selected-user-for-class-activity">
              {{gru-icon name="done_all"}}
              <div class="de-select-user" {{action 'onDeSelectUser' student}}>
                {{gru-icon name="close"}}
              </div>
            </div>
          {{/if}}
          <img src="{{student.avatarUrl}}" class="{{if student.isSelected 'selected'}}" {{action 'onSelectUser' student}} />
        </div>
        <div class="username">
          <span>{{student.firstName}}</span>
          <span>{{student.lastName}}</span>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="action-buttons">
    <button class="btn" {{action 'onPullUpClose'}}>Cancel</button>
    <button class="btn btn-primary save-users" {{action 'saveUsersToClassActivityContent'}}>Save</button>
  </div>
</div>
{{#if isLoading}}
  <div class="loading-spinner">
    {{three-bounce-spinner}}
  </div>
{{/if}}
