{{#if isLoading}}
  <div class="loading-spinner">{{three-bounce-spinner}}</div>
{{/if}}
{{#if isShowAtcView}}
  {{#if isPremiumClass}}
      <div class="performance-overview-header">
        <div class="class-grade {{unless isMultiClassView 'hidden'}}">
          <div class="clear-class {{if isPrimaryClass 'hidden'}}" {{action "onRemoveClassView" classInfo}}>{{gru-icon name="clear"}}</div>
          <div class="class-title">{{class.title}}</div>
        </div>
          <div class="class-selector {{unless isMultiClassView 'hidden'}} {{unless (and isPrimaryClass isMultiClassView) 'disable-event'}}">
            <div class="view-class-label {{unless (and isPrimaryClass isMultiClassView) 'hidden'}}" {{action "onToggleMultiClassSelector"}}>
              <span>View Other Classess</span>
              <span class="toggle-icon">{{gru-icon name="keyboard_arrow_down"}}</span>
            </div>
            <div class="multi-class-list {{unless (gt secondaryClassToBeShownList.length 0) 'hidden'}}">
              {{#each secondaryClassToBeShownList as |secondaryClass|}}
                <div class="multi-class-info" {{action "onSelectSecondaryClass" secondaryClass}}>
                  {{secondaryClass.title}}
                </div>
              {{/each}}
            </div>
          </div>
        <div class="month-picker {{if isCurrentMonth 'current-month'}}">
          {{ca-date-picker
            showToday=true
            forMonth=activeMonth
            allowDateSelectorToggle=true
            forYear=activeYear
            showPreviousMonth="onChangeMonth"
            showNextMonth="onChangeMonth"
          }}
        </div>
      </div>

    <div class="data-view-container navigator-class">
      <div class="chart-container">
        <div class="chart-area">
          {{teacher/class/navigator-atc-view classData=class month=activeMonth year=activeYear}}
        </div>
      </div>
      <div class="data-analysis-cards-container">
        <div class="competency-card-container">
          <div class="title-container">Struggling Competencies</div>
          <div class="competency-struggling-container" {{action "onSelectDomain"}}>
            <div class="competency-heading">
             <span>Competency heading</span>
            <ul class="competency-sub-heading">
              <li>Domain</li>
              <li>8.EE.4</li>
              <li>Learning Outcome Name</li>
            </ul>
            </div>
            <div class="competency-icon">
              {{gru-icon name="explore"}}
            </div>
            <div class="competency-count">
              5
            </div>
          </div>
          <div class="competency-struggling-container">
            <div class="competency-heading">
             <span>Competency heading</span>
            <ul class="competency-sub-heading">
              <li>Domain</li>
              <li>8.EE.4</li>
              <li>Learning Outcome Name</li>
            </ul>
            </div>
            <div class="competency-icon">
              {{gru-icon name="explore"}}
            </div>
            <div class="competency-count">
              5
            </div>
          </div>
        </div>

        <div class="competency-card-container other-grade">
          <div class="title-container">Struggling Competencies(Other Grade)</div>
          <div class="competency-struggling-container" {{action "onSelectGrade"}}>
            <div class="competency-heading">
             <span>Competency heading</span>
            <ul class="competency-sub-heading">
              <li>Domain</li>
              <li>8.EE.4</li>
              <li>Learning Outcome Name</li>
            </ul>
            </div>
            <div class="competency-icon">
              {{gru-icon name="explore"}}
            </div>
            <div class="competency-count">
              5
            </div>
          </div>
          <div class="competency-struggling-container">
            <div class="competency-heading">
             <span>Competency heading</span>
            <ul class="competency-sub-heading">
              <li>Domain</li>
              <li>8.EE.4</li>
              <li>Learning Outcome Name</li>
            </ul>
            </div>
            <div class="competency-icon">
              {{gru-icon name="explore"}}
            </div>
            <div class="competency-count">
              5
            </div>
          </div>
        </div>
        <div class="activities-count-container" {{action "onRedirectToCA"}}>
          <div class="activities-container completed">
            <div class="activity-count">{{activitiesCount.scheduled}}</div>
            <div class="activities-info"><span><i class="pin-icon"></i></span>{{t 'teacher-landing.class.atc-view.class-activities-completed'}}</div>
          </div>
          <div class="activities-container pending">
            <div class="activity-count">{{activitiesCount.unscheduled}}</div>
            <div class="activities-info"><span><i class="pin-icon"></i></span>{{t 'teacher-landing.class.atc-view.class-activities-pending'}}</div>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="data-view-container regular-class">
      <div class="chart-container">
        {{teacher/class/atc-chart classData=class isPremiumClass=isPremiumClass}}
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="data-not-available"> {{t 'teacher-landing.class.students-tab.data-not-available'}}</div>
{{/if}}

{{#if isShowCompetencyCompletionReport}}
  {{reports/pull-up/competency-completion-report fwCompetencies=fwCompetencies showPullUp=isShowCompetencyCompletionReport classId=classId activeMonth=activeMonth activeYear=activeYear domainData=selectedDomain competencyCompletionReport=competencyCompletionReport userAgent=userAgent onSuggestAtCompetency="onSuggestAtCompetency" maxLimitToSuggestContent=maxLimitToSuggestContent}}
{{/if}}
{{#if isShowStrugglingCompetencyReport}}
  {{reports/pull-up/struggling-competency-domain-level closePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowOtherGradeCompetency}}
 {{reports/pull-up/struggling-competency-other-grade-level closePullUp="onCloseOtherGrade"}}
{{/if}}

{{#if isShowActivitySearchContentPullup}}
  {{teacher/class/ca-search-content-pull-up
    showPullUp=isShowActivitySearchContentPullup
    addedContentToDCA="addedContentToDCA"
    context=contextParams
    selectedSearchContentType=selectedContentType
    classPreference=classPreference
    classId=classId
    competencyData=selectedCompetencyData
    defaultSearchPageSize=maxLimitToSuggestContent
    isShowMoreEnabled=false
  }}
{{/if}}
