<div class="add-collaborator-container">
  <div class="collaborator-list-conatiner">
    {{#each users as |user userIndex|}}
      <div class="selected-user">
        <div class="user-thumbnail" style="background-image: url({{user.avatarUrl}})"></div>
        <div class="user-name ellipsis">{{user.fullName}}</div>
        <div class="user-email">({{user.email}})</div>
        <div class="remove-user" {{action "onRemoveUser" user}}>{{gru-icon name="clear"}}</div>
      </div>
    {{/each}}
    <div class="email-value-container">
      {{input
        type="text"
        value=userEmail
        class=(concat 'email-value' (if inValidEmail ' in-valid'))
        placeholder = (t 'class.add-teachers')
      }}
      <span class="validate-icon {{if isEnableValidateIcon 'enabled'}}" {{action "onValidateEmail"}}>{{gru-icon name="check_circle_outline"}}</span>
      {{#if inValidEmail}}
        <span class="error-msg">{{t 'forgot-password.error-email-not-exists'}}</span>
      {{/if}}
    </div>

  </div>
  <div class="collaborator-action-container">
    <div class="action-btn cancel-btn" {{action "onToggleAddCollaborator"}}>{{t 'common.cancel'}}</div>
    <div class="action-btn done-btn {{unless isEnableDone 'disable-event'}}" {{action "onAddCollaborators"}}>{{t 'common.done'}}</div>
  </div>
</div>
