<div class="class-info-container">
  <div class="class-name">{{classData.title}}
    <div class="until-month">{{t 'common.until'}} {{format-date firstDayOfMonth 'MMMM YYYY'}}</div>
  </div>
  <div class="total-competencies">
    <div class="competency-count">{{togalMasteredCompetencies}}</div>
    <div class="competency-label">{{t 'teacher-landing.class.atc-view.total-competencies-gained'}}</div>
  </div>
</div>
{{#if studentData}}
  <div class="tooltip-html-container" style="display: none;">
    <div class="tooltip-container">
      <div class="header-container">
        <div class="dp-container" style="background-color: {{safe-html (grade-color studentData.percentScore)}};">
          <img src="{{studentData.thumbnail}}"/>
        </div>
        <div class="student-info">
          <div class="student-name">{{concat studentData.firstName ' ' studentData.lastName}}</div>
          <div class="grade-info">
            <span class="title-container">{{t 'common.destination'}}:</span>
            <span class="grade-level">{{studentData.gradeId}}</span>
          </div>
        </div>

      </div>
      <div class="body-container">
        <div class="performance-container info-container">
          <div class="title-container">{{t 'teacher-landing.class.class-management-tab.performance'}}</div>
          <div class="performance-bar-container">
            <span class="performance-bar" style="background-color: {{safe-html (grade-color studentData.percentScore)}}; width: {{studentData.percentScore}}%;"></span>
          </div>
          <div class="performance-percentage" style="color: {{safe-html (grade-color studentData.percentScore)}};">{{studentData.percentScore}}%</div>
        </div>
        <div class="progress-container info-container">
          <div class="title-container">{{t 'common.progress'}}</div>
          <div class="progress-bar-container">
            <span class="competency-progress-bar" style="width: {{studentData.percentCompletion}}%;"></span>
          </div>
          <div class="completion-percentage">{{studentData.percentCompletion}}%</div>
        </div>
        <div class="competencies-container info-container">
          <div class="title-container">{{t 'common.competencies'}}</div>
          <div class="competency-count-container">
            <span class="mastered-count count-box" style="width: {{find-percentage studentData.totalCompetencies studentData.completedCompetencies}}%;"></span>
            <span class="inprogress-count count-box" style="width: {{find-percentage studentData.totalCompetencies studentData.inprogressCompetencies}}%;"></span>
            <span class="not-started-count count-box" style="width: {{find-percentage studentData.totalCompetencies studentData.notStartedCompetencies}}%;"></span>
          </div>
          <div class="competency-count">
            <span class="mastered">{{studentData.completedCompetencies}}</span>
            /
            <span class="inprogress">{{studentData.inprogressCompetencies}}</span>
            /
            <span class="not-started">{{studentData.notStartedCompetencies}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}