<div class="class-info-container">
  <div class="class-name">{{classData.title}}</div>
  <div class="total-competencies"><div class="competency-count">{{togalMasteredCompetencies}}</div><div class="competency-label">{{t 'teacher-landing.class.atc-view.total-competencies-gained'}}</div></div>
</div>


{{#if studentData}}
  <div class="tooltip-html-container" style="display: none;">
    <div class="tooltip-container">
      <div class="header-container">
        <img src="{{studentData.thumbnail}}"/>
        <div class="student-name">
          <span class="ellipsis">{{studentData.firstName}}</span>
          <span class="ellipsis">{{studentData.lastName}}</span>
        </div>
        <div class="competency-status-count">
          <span class="mastered">{{studentData.completedCompetencies}}</span>/
          <span class="inprogress">{{studentData.inprogressCompetencies}}</span>/
          <span class="not-started">{{studentData.notStartedCompetencies}}</span>
        </div>
      </div>
      <div class="body-container">
        <div class="destination-container">
          <div class="grade-info">
            <span class="title-container">{{t 'common.destination'}}</span>
            <span class="grade-level">{{studentData.gradeId}}</span>
          </div>
          <div class="competencies">
            <span class="title-container">{{t 'common.competencies'}}</span>
            <span class="competency-count">{{studentData.totalCompetencies}}</span>
          </div>
        </div>
        <div class="performance-container">
          <div class="performance">
            <span class="score-count" style="color: {{safe-html (grade-color studentData.percentScore)}};">{{studentData.percentScore}}%</span>
            <span class="title-container">{{t 'teacher-landing.class.class-management-tab.performance'}}</span>
          </div>
          <div class="progress-container">
            <span class="progress-count">{{studentData.percentCompletion}}%</span>
            <span class="title-container">{{t 'common.progress'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
