{{gru-icon name="arrow_drop_up" class="ca-datepicker-bottom"}}
<div class="ca-date-nav-container">
  <div class="prev-cal-arrow" {{action 'showPreviousMonth'}}>{{gru-icon name="keyboard_arrow_left"}}</div>
  <div class="cal-mm-yyyy {{if allowDateSelectorToggle 'ca-date-picker-toggle'}}" {{action 'showCalendar'}}>{{format-date forFirstDateOfMonth 'MMMM YYYY'}} {{gru-icon name="arrow_drop_down"}}{{gru-icon name="arrow_drop_up"}}</div>
  <div class="next-cal-arrow" {{action 'showNextMonth'}}>{{gru-icon name="keyboard_arrow_right"}}</div>
</div>
<div class="ca-datepicker-container {{if allowDateSelectorToggle 'ca-date-picker-toggle ca-date-picker-inline'}}">
  {{#if showToday}}
    <div class="ca-datepicker-today" {{action 'onSelectToday'}}>Today</div>
  {{/if}}
  <div id="ca-datepicker"></div>
  {{#if showMonths}}
    <hr/>
    <div id="ca-month-picker">
      <span class="ca-month-picker-title">{{t 'common.add-to-unschedule'}}</span>
      <div class="ca-months">
        {{#each months as |month|}}
          <span class="{{if month.isPast 'past-month'}}" {{action 'onSelectMonth' month }}>{{month.monthName}}</span>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
{{gru-icon name="arrow_drop_down" class="ca-datepicker-top"}}
