<div class="taxonomy-picker-container">
  {{categoryPreference}}
  <div class="subjects-container" style="display: none;">
    {{#each taxonomySubjects as |subject subjectSeq|}}
      <div class="subject-container" {{action "onExpandSubject" subject subjectSeq}}>
        {{subject.title}}
        <div class="selected-framework">{{subject.selectedFrameworkId}}</div>
        <div class="frameworks-container subject-{{subjectSeq}}" style="display: none;">
          {{#each subject.frameworks as |framework|}}
            <div class="framework-container" {{action "onSelectItem" framework 'framework'}}>
              {{framework.frameworkId}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="taxonomy-hierarchy-container">
    <div class="courses-container hierarchy-level">
      {{#each taxonomyCourses as |course|}}
        <div class="course-container" {{action "onSelectItem" course 'course'}}>{{course.title}}</div>
      {{/each}}
    </div>
    <div class="domains-container hierarchy-level" style="display: none;">
      {{#each taxonomyDomains as |domain|}}
        <div class="domain-container" {{action "onSelectItem" domain 'domain'}}>{{domain.title}}</div>
      {{/each}}
    </div>
    <div class="taxonomies-container hierarchy-level" style="display: none;">
      {{#each taxonomies as |taxonomy|}}
        <div class="taxonomy-container" {{action "onSelectItem" taxonomy 'taxonomy'}}>{{taxonomy.code}}</div>
      {{/each}}
    </div>
  </div>
</div>
