<div class="gru-feedback-form">
  <div class="feedback-container">
    <div class="feedback-header-panel">
      <div class="note">
        <p>{{t (concat 'common.feedback-' format '-note') }}</p>
      </div>
    </div>
    <div class="feedback-body-panel">
      {{#each categoryLists as |category|}}
        {{#if (eq category.feedbackTypeId 1)}}
          <div class="category-panel">
              <div class="category">{{category.categoryName}}</div>
              <div class="category-rating">{{rating-stars rating = category.rating maxRating = category.maxScale}}</div>
          </div>
        {{/if}}
        {{#if (eq category.feedbackTypeId 2 )}}
          <div class="category-panel">
            <div class="category">{{category.categoryName}}</div>
            <div class="category-quality">
              {{
              validation/gru-radio
              model=category
              valuePath='yes'
              groupValue=category.quality
              name="role-radio"
              translationPath="common.yes"
              }}
              {{
              validation/gru-radio
              model=category
              valuePath='no'
              groupValue=category.quality
              name="role-radio"
              translationPath="common.no"
              }}
            </div>
          </div>
        {{/if}}
        {{#if (eq category.feedbackTypeId 3 )}}
          <div class="feedback-comments">
            <label for="commentsId">
              <span>{{category.categoryName}}</span>
              {{validation/gru-textarea model=category valuePath='comments' placeholder=(t 'common.feedback-review-placeholder') inputId='commentsId' isRequired=false}}
            </label>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="feedback-fooder-panel">
    {{#if isPlayNextContent}}
      <div class="next" {{action onSkipFeedback}}>Thanks</div>
    {{else}}
      <div class="skip" {{action onSkipFeedback}}>{{t 'common.skip-feedback'}}</div>
      <div class="next" {{action onNext}}>{{t 'common.next'}}</div>
    {{/if}}
  </div>
</div>
