<div class="image-preview-container">
  {{#unless showScoreReview}}
    <div id="image-preview-carousel-wrapper" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        {{#each previewContents as |image index|}}
          <div data-item-index="{{index}}" class="item {{if (eq index 0) 'active'}}">
            <div class="image-container">
              <img src="{{image.url}}" />
            </div>
          </div>
        {{/each}}
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" data-slide="prev" {{action 'onClickPrev'}}>
        {{gru-icon name="arrow_left"}}
      </a>
      <a class="right carousel-control" data-slide="next" {{action 'onClickNext'}}>
        {{gru-icon name="arrow_right"}}
      </a>
    </div>
    {{#if isUploadReadyForReview}}
      <div class="re-upload-container">
        {{#file-picker
        accept=mimeType
        preview=false
        dropzone=false
        fileLoaded=(action 'prepareForReUpload')
        readAs="readAsFile"
      }}
          <button type="button" class="re-upload-btn" {{action 'onReUpload'}}>
            <span>{{gru-icon name="replay"}}</span>
          </button>
        {{/file-picker}}
      </div>
    {{/if}}
  {{else}}
    {{#unless isLoading}}
      {{#if isUploadReadyForReview}}
        <table class="student-score-table">
          <tbody>
            <tr class="heading">
              <th>{{t 'common.name'}}</th>
              {{#each questions as |question|}}
                <th>Q{{question.questionSequence}}</th>
              {{/each}}
            </tr>
            {{#each studentScores as |student|}}
              <tr class="student-score">
                <td>{{student.firstName}}</td>
                {{#each student.questions as |question|}}
                  <td> {{validation.gru-input model=question valuePath='score' maxLength=question.maxScore}}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <div class="message">
          {{#if (eq uploadStatus -1)}}
            {{t 'i2d.conversion-error'}}
          {{else}}
            {{t 'i2d.conversion-progress'}}
          {{/if}}
        </div>
      {{/if}}
    {{else}}
      <div class="loading-spinner {{if isLoading 'active'}}">
        {{three-bounce-spinner}}
      </div>
    {{/unless}}
  {{/unless}}
  <div class="footer-container">
    <div class="preview-slides">
      {{#each previewContents as |image index|}}
        <div class="slide item-{{index}} {{if (eq currentPreviewIndex index) 'active'}}" {{action 'onSelectImage' index}}>
          <img src="{{image.url}}" />
        </div>
      {{/each}}
    </div>
    <div class="action">
      {{#if (and (not showScoreReview) showConfirm)}}
        <button type="button" class="submit-btn" {{action 'onConfirmUpload'}}>{{t 'common.confirm'}} & {{t 'gru-assessment-confirmation.continue'}}</button>
      {{/if}}
      {{#if showScoreReview}}
        <button type="button" class="submit-btn" {{action 'onConfirmScore'}}>{{t 'common.confirm'}} {{t 'gru-performance-summary.scores'}}</button>
      {{/if}}
    </div>
  </div>
</div>
