<div class="image-preview-container">
  {{#unless isReview}}
    <div id="image-preview-carousel-wrapper" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        {{#each previewContent as |image index|}}
          <div data-item-index="{{index}}" class="item {{if (eq index 0) 'active'}}">
            <div class="image-container">
              <img src="{{image.url}}" />
            </div>
          </div>
        {{/each}}
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" data-slide="prev" {{action 'onClickPrev'}}>
        {{gru-icon name="arrow_left"}}
      </a>
      <a class="right carousel-control" data-slide="next" {{action 'onClickNext'}}>
        {{gru-icon name="arrow_right"}}
      </a>
    </div>
  {{else}}
    <table class="student-score-table">
      <tbody>
        <tr>
          <th class="name">Name</th>
          {{#each questions as |question|}}
            <th>Q{{question.order}}</th>
          {{/each}}
        </tr>
        {{#each uploadedStudentScores as |students index|}}
          {{#each students as |student|}}
            <tr class="student-score {{if (eq index currentPreviewIndex) 'active'}}">
              <td>{{student.firstName}}</td>
              {{#each student.questions as |question|}}
                <td> {{validation.gru-input model=question valuePath='studentScore' maxLength=question.maxScore}}</td>
              {{/each}}
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  {{/unless}}
  <div class="footer-container">
    <div class="preview-slides">
      {{#each previewContent as |image index|}}
        <div class="slide item-{{index}} {{if (eq currentPreviewIndex index) 'active'}}" {{action 'onSelectImage' index}}>
          <img src="{{image.url}}" />
        </div>
      {{/each}}
    </div>
    <div class="action">
      {{#if showConfirm}}
        <button type="button" class="submit-btn {{if isDisableButton 'disable-event'}}" {{action 'onConfirmUpload'}}>Confirm & Continue</button>
      {{/if}}
      {{#if isReview}}
        <button type="button" class="submit-btn" {{action 'onConfirmScore'}}>Confirm Scores</button>
      {{/if}}
    </div>
  </div>
</div>
