<div class="gru-feedback-form">
  <div class="feedback-container">
    <div class="feedback-header-panel">
      <div class="header-info">
        <span class="index">{{resourceInfo.index}}</span>
        <span class="title" {{action 'showDescription'}}>{{resourceInfo.title}}</span>
      </div>
      <div class="description">
        {{#if isdescription}}
          <span>{{resourceInfo.description}}</span>
        {{/if}}
      </div>
      <div class="note">
        <p>{{t 'common.feedback-note'}}</p>
      </div>
    </div>
    <div class="feedback-body-panel">
      {{#each categoryLists as |category|}}
        {{#if (eq category.feedbackTypeId 1)}}
          <div class="category-panel">
              <div class="category">{{category.categoryName}}</div>
              <div class="category-rating">{{rating-stars rating = category.rating}}</div>
          </div>
        {{/if}}
        {{#if (eq category.feedbackTypeId 3 )}}
          <div class="feedback-comments">
            <label for="commentsId">
              <span>{{category.categoryName}}</span>
              {{validation/gru-textarea model=category valuePath='comments' inputId='commentsId' isRequired=false}}
            </label>
          </div>
        {{/if}}
      {{/each}}
    </div>
    <div class="feedback-fooder-panel">
      <div class="skip" {{action onSkipFeedback}}>{{t 'common.skip-feedback'}}</div>
      {{#if isPlayNextContent}}
        <div class="next" {{action onSkipFeedback}}>Thanks</div>
      {{else}}
        <div class="next" {{action onNext}}>{{t 'common.next'}}</div>
      {{/if}}
    </div>
  </div>
</div>
