<div class="backdrop" {{action 'onCloseContainer'}}></div>
<div class="panel">
  <div class="header">
    <div class="tabs">
      <div class="tab-item {{if (eq selectedTab 'system') 'active'}}" {{action 'onSelectTab' 'system'}}>
        <div class="title">System</div>
      </div>
      <div class="tab-item {{if (eq selectedTab 'teacher') 'active'}}" {{action 'onSelectTab' 'teacher'}}>
        <div class="title">Teacher</div>
      </div>
    </div>
    <div class="scope-filter-container">
      <span {{action 'toggleScopeList'}}>{{gru-icon name="filter_list"}}</span>
      <div class="scope-filter-container-list {{if isScopeSelected 'active'}}">
        {{#each scopeItems as |item|}}
          <p {{action 'onChooseScopeItem' item}} class="{{if item.selected 'selected'}}">{{t item.label}}</p>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="suggested-contents">
    {{#unless isLoading}}
      {{#each suggestions as |suggestion|}}
        <div class="suggestion-panel {{if (eq suggestion.suggestedContentType 'offline-activity') 'hide'}}">
          <div class="icon">
            <i class="{{suggestion.suggestedContentType}}"></i>
          </div>
          <div class="title-info ellipsis">
            <span class="ellipsis">{{suggestion.title}}</span>
          </div>
          <div class="source">
            {{#if (eq suggestion.suggestionArea 'class-activity')}}
              <i class="{{suggestion.suggestionArea}}"></i>
            {{else if (eq suggestion.suggestionArea 'proficiency')}}
              <i class="proficiency">{{gru-icon name='school'}}</i>
            {{else}}
              <i class="course-map">{{gru-icon name='sort'}}</i>
            {{/if}}
          </div>
          <div class="content-counts">
            <div class="resource-count">
              {{#if (gt suggestion.resourceCount 0)}}
                <i class="resource-icon"></i>
                <span>{{suggestion.resourceCount}}</span>
              {{/if}}
            </div>
            <div class="question-count">
              {{#if (gt suggestion.questionCount 0)}}
                <i class="question-icon"></i>
                <span>{{suggestion.questionCount}}</span>
              {{/if}}
            </div>
          </div>
          <div class="play-container">
            <div class="ca-play-btn" {{action 'onPlaySuggestionContent' suggestion}}>
              {{gru-icon name='play_arrow'}}
            </div>
          </div>
          <div class="suggestion-panel-actions-performance">
            {{#if suggestion.performance}}
              {{#if (and (not-eq suggestion.suggestedContentType 'collection') (not-eq suggestion.suggestedContentType 'collection-external'))}}
                <div class="suggestion-panel-performance" {{action 'studentSuggestionReport' suggestion}} style="background-color:{{grade-color suggestion.performance.score}}">
                  <span>{{suggestion.performance.score}}%</span>
                </div>
              {{else}}
                <div class="suggestion-panel-performance collection {{unless suggestion.performance.timeSpent 'disable-event'}}" {{action 'studentSuggestionReport' suggestion}}>
                  <span class="time-spent">
                    {{if suggestion.performance.timeSpent (format-time suggestion.performance.timeSpent) '--'}}
                  </span>
                </div>
              {{/if}}
            {{else}}
              <div class="thumbnail-img">
                <img src="{{suggestion.thumbnailUrl}}" />
              </div>
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class="message">
          {{t 'common.no-suggestion-message'}}
        </div>
      {{/each}}
      {{#if isShowMoreVisible}}
        <div class="show-more-results" {{action "onClickShowMoreSuggstions"}}>
          Show more
        </div>
      {{/if}}
    {{else}}
      {{three-bounce-spinner}}
    {{/unless}}
  </div>
</div>
{{#if isShowPerformanceReport}}
  {{reports/pull-up/gru-collection-preview
      showPullUp=isShowPerformanceReport
      previewContentId=selectedActivityContext.suggestedContentId
      previewContentType=selectedActivityContext.suggestedContentType
      isReportView=true
      isSuggestionReport=true
      suggestedActivityContext=selectedActivityContext
      userId=userId
    }}
{{/if}}

{{#if isOpenPlayer}}
  {{reports/pull-up/player-pull-up
    showPullUp=isOpenPlayer
    playerUrl=playerUrl
    playerContent=playerContent
    onclosePullUp="closePullUp"
  }}
{{/if}}
