{{#if showPullUp}}
  <div class="backdrop" {{action 'onPullUpClose' true}}></div>
{{/if}}
<div class="oca-student-activity-report-container">
  <div class="report-header">
    <div class="header-title">
      <i class="icon {{collection.collectionType}}"></i>
      <span class="title">{{collection.title}}</span>
    </div>
    <div class="close" {{action 'onPullUpClose' false}}>
      {{gru-icon name="close"}}
    </div>
  </div>
  {{#if (or (eq collection.collectionType 'assessment') (eq collection.collectionType 'assessment-external'))}}
    <div class="performance-activity" style="background-color:{{if collection (grade-color collection.performance.score)}}">
      <div class="performance" style="background-color:{{if collection (grade-color collection.performance.score)}}">
        <span class="score">{{collection.performance.score}}%</span>
        <span class="time-spent">{{format-time collection.performance.timeSpent}}</span>
      </div>
    </div>
  {{else}}
    <div class="collection-performance">
      <div class="performance">
        <span class="time-spent">{{format-time collection.performance.timeSpent}}</span>
      </div>
    </div>
  {{/if}}
  <div class="student-info">
    <div class="user-profile-img">
      <img src="{{student.avatarUrl}}" />
    </div>
    <span class="username">{{student.name}}</span>
    <div class="close" {{action 'onPullUpClose' false}}>
      {{gru-icon name="close"}}
    </div>
    <div class="conducted-on">
      <span class="title">Conducted On</span>
      <span class="date">{{format-date context.activation_date 'DD MMM YY'}}</span>
    </div>
  </div>
  <div class="resources-report-container">
    {{#each resourcesCollection as | resource|}}
      <div class="resource">
        <div class="resource-icon">
          {{#if (eq resource.performance.resourceType 'question')}}
            <i class="question-img"></i>
          {{else}}
            <i class="resource-img {{resource.format}}"></i>
          {{/if}}
        </div>
        <div class="resource-title">{{resource.title}}</div>
        <div class="reaction"> {{reaction-icon resource.performance.reaction}}</div>
        {{#if (eq resource.performance.resourceType 'question')}}
          <div class="performance" style="background-color:{{if resource (grade-color resource.performance.score)}}">
            {{#if resource.performance.correct}}
              <span class="correct">{{gru-icon name="done_all"}}</span>
            {{else}}
              <span class="wrong">{{gru-icon name="close"}}</span>
            {{/if}}
            <span>{{format-time resource.performance.timeSpent}}</span>
          </div>
        {{else}}
          <div class="timespent">
            {{format-time resource.performance.timeSpent}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
