{{#each visibleTags as |taxonomyTag|}}
  {{taxonomy/gru-taxonomy-tag model=taxonomyTag isEditing=isEditing hasTooltip=hasTooltips tagPopoverDefaultPosition=tagPopoverDefaultPosition onRemove=(action 'removeTag' taxonomyTag) onAdd=(action 'addTag' taxonomyTag)}}
{{/each}}

{{#if nonVisibleTags}}
  <div class="non-visible-tags-container">
    <button class="non-visible-tags" {{action 'nonVisibleDropdown'}}>
      <span>+ {{nonVisibleTags}}</span>
    </button>
    <div class="all-tags">
    <span class="close" {{action 'nonVisibleDropdown'}}>{{gru-icon name="close"}}</span>
      {{#each tags as |taxonomyTag|}}
        {{taxonomy/gru-taxonomy-tag
        model=taxonomyTag
        isEditing=isEditing
        hasTooltip=true
        onRemove=(action 'removeTag' taxonomyTag)
        onAdd=(action 'addTag' taxonomyTag)
        }}
        {{#if showDescription}}
        <!-- NOTE we used Bootstrap tooptip so no need description support -->
          <div class="panel panel-default description-tag out-of-scope">
            <div class="panel-body">
              {{truncate text=taxonomyTag.data.title maxLength=80}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}
