<div class="collections-container {{if isShowContentFilters 'filters-active'}}">
  <div class="header-container">
    <div class="icon"></div>
    <div class="title">Collections</div>
    <div class="search-items-container">
      <div class="filter-search" {{action "onOpenFilter"}}>
        {{gru-icon name="filter_list"}}
      </div>
    </div>
  </div>
  <div class="body-container">
    <div class="collections">
      {{#each learnedPortfolioItems as | collection |}}
          {{portfolio/gru-portfolio-content-card content = collection}}
      {{/each}}
    </div>
  </div>
  {{#if isShowContentFilters}}
    {{portfolio/gru-content-filters
      refreshFilters = "refreshFilters"
      pickerStartDate = userCreatedAt
      userPreference = userPreference
      activeFiltersList = activeFiltersList
      appliedFilters = appliedFilters}}
  {{/if}}
</div>
