<div class="offline-activites-container {{if isShowContentFilters 'filters-active'}}">
  <div class="header-container">
    <div class="icon"></div>
    <div class="title">Offline Activities</div>
    <div class="search-items-container">
      <div class="filter-search" {{action "onOpenFilter"}}>
        {{gru-icon name="filter_list"}}
      </div>
    </div>
  </div>
  <div class="body-container">
    {{#each learnedPortfolioItems as | portfolioItems |}}
      <div class="type-level-container">
        <div class="sub-type-label">
          {{t portfolioItems.label}}
        </div>
        <div class="offline-activities">
          {{#each portfolioItems.offlineActivities as |offlineActivity|}}
            {{portfolio/gru-portfolio-content-card content = offlineActivity}}
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
  {{#if isShowContentFilters}}
    {{portfolio/gru-content-filters
      refreshFilters = "refreshFilters"
      pickerStartDate = userCreatedAt
      userPreference = userPreference
      activeFiltersList = activeFiltersList
      appliedFilters = appliedFilters}}
  {{/if}}
</div>
