<div class="timeline-container">
  <div class="start-date">{{ activityDate.mon  }} <span>'</span>{{ activityDate.year  }}</div>
  <div class="student-activities">
    <div class="left-timeline-activities" id="left-activities"></div>
    <div class="active-timeline-resource" id="active-resource"></div>
    <div class="right-timeline-activities" id="right-activities"></div>
  </div>
  <div class="end-date">{{ activitiyEndDate.mon  }} <span>'</span>{{ activitiyEndDate.year  }}</div>
</div>
<div class="performance" {{action "onOpenCourseReport"}} style="background-color:{{if performanceSummary (grade-color performanceSummary.score) defaultBarColor}}">
  <span class="score">
    {{#if performanceSummary}}
      {{#if performanceSummary.score}}
        {{performanceSummary.score}}%
      {{else}}
        0%
      {{/if}}
    {{else}}
      --
    {{/if}}
  </span>
</div>
