{{#if loading}}
  {{three-bounce-spinner}}
{{else}}
  <div class="card-container" {{action "onSelectCard" activitiy}}>
    <div class="collection-img" style="background-image: url({{collection.thumbnailUrl}})">
    </div>
    <div class="collection-performance">
      <div class="icon-{{type}}">
      </div>
      <div class="title ellipsis">
        <span class="ellipsis">{{collection.title}}</span>
      </div>
      {{#if (eq type 'collection')}}
        <div class="performance {{if (eq activitiy.timeSpent 0) 'in-progress'}}" {{action "onOpenCollectionReport"}} style="background-color:{{defaultBarColor}}">
          <span class="time-spent">
            {{#if activitiy.timeSpent}}
              {{format-time activitiy.timeSpent}}
            {{else}}
              &dash;&dash;
            {{/if}}
          </span>
        </div>
      {{else}}
        <div class="performance {{if (eq activitiy.status 'in-progress') 'in-progress'}}" {{action "onOpenCollectionReport"}} style="background-color:{{if activitiy (grade-color activitiy.score) defaultBarColor}}">
          <span class="score">
            {{#if activitiy}}
              {{#if activitiy.score}}
                {{activitiy.score}}%
              {{else}}
                0%
              {{/if}}
            {{else}}
              --
            {{/if}}
          </span>
        </div>
      {{/if}}
    </div>
    <div class="collections">
      {{#each collection.children as |resource|}}
        <div class="resource">
          {{#if (eq type 'assessment')}}
            <i class="question-img"></i>
          {{else}}
            <i class="resource-img {{resource.format}}"></i>
          {{/if}}
          <div class="collection-info">
            <p class="title ellipsis">{{resource.title}}</p>
            {{#if (eq type "assessment")}}
              <span class="type">{{t (concat "common.question-type." resource.type)}}</span>
            {{else}}
              <span class="type">{{t (concat "common.resource-format." resource.format)}}</span>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
