<div class="student-performance-data-container">
  <div class="students-container">
    <div class="search-student">
      {{input
        class = "search-student-input"
        type = "text"
        key-up = "onSearchStudent"
        value = studentSearchPattern
        placeholder = "search students"
        }}
      <span class="search-icon">{{gru-icon name="search"}}</span>
    </div>
    <div class="student-list-container">
      {{#each studentsList as |student|}}
        <div class="student-info-container {{if (eq activeStudent.id student.id) 'active-student'}}" {{action "onSelectStudent" student}}>
          <div class="student-thumbnail" style="background-image: url({{student.avatarUrl}})"></div>
          <div class="student-name">{{student.fullName}}</div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="question-list-container">
    {{isScoreSubmittedForAllQuestion}}
    {{#each questions as |question seq|}}
      {{reports.pull-up.activity.add-question-score
        question = question
        seq = seq
        onToggleQuestion = "onToggleQuestion"
      }}
    {{/each}}
  </div>
</div>

{{#if isShowWarningMessage}}
  <div class="back-shadow"></div>
  <div class="warning-popup">
    <div class="warning-info-container">
      <div class="warning-icon">
        {{gru-icon name="error"}}
        <span class="warning-label">Warning</span>
      </div>
      <div class="warning-message">
        All unsaved changes will be lost are   sure you want to continue?
      </div>
    </div>
    <div class="warning-action-container">
      <div class="back-action action-btn" {{action "onDismissWarning"}}>
        Back
      </div>
      <div class="ok-action action-btn" {{action "onAcceptWarning"}}>
        Ok
      </div>
    </div>
  </div>
{{/if}}
