<div class="add-performance-data-container">
  <div class="add-data-header-container">
    <div class="icon-container {{contentType}}"></div>
    <div class="activity-info-container">
      <span class="activity-title-container">{{activityTitle}}</span>
      <span class="date-container">{{activityDate}}</span>
    </div>
    <div class="close-container" {{action "onClosePullUp"}}>
      {{gru-icon name="clear"}}
    </div>
  </div>
  <div class="add-data-body-container">
    {{yield}}
  </div>
</div>
