<div class="performance-data-container">
  <div class="left-container">
    <div class="students-container">
      <div class="search-student">
        {{#if isShowClearStudentSearch}}
          <span class="clear-search-student" {{action "onClearSearchStudent"}}>
            {{gru-icon name="clear"}}
          </span>
        {{/if}}
        {{input
          class = "search-student-input"
          type = "text"
          key-up = "onSearchStudent"
          value = studentSearchPattern
          placeholder = (concat (t 'common.search') ' ' (t 'common.student'))
          }}
        <span class="search-icon">{{gru-icon name="search"}}</span>
      </div>
      <div class="student-list-container">
        {{#each studentsList as |student|}}
          <div class="student-info-container {{if (eq activeStudent.id student.id) 'active-student'}}" {{action "onSelectStudent" student}}>
            <div class="student-thumbnail" style="background-image: url({{student.avatarUrl}})"></div>
            <div class="student-name">{{student.fullName}}</div>
            <div class="student-performance grade-range-{{grade-range student.performance.score}}">{{if student.performance (concat student.performance.score '%') ''}}</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="right-container">
    {{#if isAssessment}}
      {{#if (or isCaptureQuestionScore isOverwriteScore)}}
        <div class="question-list-container">
          {{isScoreSubmittedForAllQuestion}}
          {{#each questions as |question seq|}}
            {{reports.pull-up.activity.add-question-score
              question = question
              seq = seq
              onToggleQuestion = "onToggleQuestion"
              isOverwriteScore = isOverwriteScore
            }}
          {{/each}}
          <div class="question-action-container">
            <div class="save-score-btn action-btn {{if (or isEnableSaveNext isOverwriteScore) 'enabled'}}" {{action (if isOverwriteScore "onOverwriteScore" "onClickSaveAndNext")}}>
              {{#if isOverwriteScore}}
                {{t 'goals.manage.update'}} {{t 'common.score'}}
              {{else}}
                {{t (if isLastStudentActive 'common.save-finish' 'common.save-next' )}}
              {{/if}}
            </div>
            {{#unless isOverwriteScore}}
              <div class="cancel-btn action-btn" {{action "onClearQuestionScores"}}>{{t 'common.cancel'}}</div>
            {{/unless}}
          </div>
        </div>
      {{else}}
        <div class="assessment-timespent-container">
          <div class="input-label">
            {{t 'teacher-landing.class.class-activities.input-timespent'}}
          </div>
          <div class="timepicker">
            {{cards.gru-timepicker-card hour=maxHour minute=maxMinute onChangeTime="onChangeTime"}}
          </div>
          <div class="action-container">
            <div class="confirm-btn {{unless isValidMaxTimespent 'disable-event'}}" {{action "onSubmitMaxTimespent"}}>
              {{t 'common.confirm'}}
            </div>
          </div>
        </div>
      {{/if}}
    {{else}}
      <div class="external-assessment-score-container">
        <div class="score-title">
          {{#if isCaptureExternalAssessmentStudentScore}}
            {{t 'enter-student-score'}}
          {{else}}
            {{t 'enter-assessment-max-score'}}
          {{/if}}
        </div>
        {{#if isCaptureExternalAssessmentStudentScore}}
          <div class="score-container student-score">
            {{input type="text" class="student-score score-input" value=activeStudent.score key-up="onEnterExternalAssessmentStudentScore"}}
            <span class="score-label">{{t 'student-score'}}</span>
          </div>
        {{/if}}
        <div class="score-container max-score">
            {{input type="text" class="max-score score-input" value=externalAssessmentMaxScore key-up="onEnterExternalAssessmentMaxScore" disabled=isCaptureExternalAssessmentStudentScore}}
            <span class="score-label">{{t 'teacher-landing.class.class-activities-tab.max-score'}}</span>
        </div>
        <div class="score-action-container">
          {{#if isCaptureExternalAssessmentStudentScore}}
            <div class="next-action next-btn {{unless isValidExternalAssessmentStudentScore 'disable-event'}}" {{action "onSubmitExternalAssessmentStudentScore"}}>
              {{#if isLastStudentActive}}
                {{t 'common.save-finish'}}
              {{else}}
                {{t 'common.save-next'}}
              {{/if}}
            </div>
          {{else}}
            <div class="next-action next-btn {{unless isValidExternalAssessmentMaxScore 'disable-event'}}" {{action "onSubmitExternalAssessmentMaxScore"}}>
              {{t 'common.next'}}
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{#if (and (or isShowWarningMessage isShowSaveInformation) isSessionStarted)}}
  <div class="back-shadow"></div>
  <div class="warning-popup {{if isShowWarningMessage 'warning-dialog' 'information-dialog'}}">
    <div class="warning-info-container">
      <div class="warning-icon">
        {{gru-icon name="error"}}
        <span class="warning-label">{{t 'warning'}}</span>
      </div>
      <div class="warning-message">
        {{#if isShowSaveInformation}}
          {{t 'teacher-landing.class.class-activities.info-message' studentName = activeStudent.fullName}}
        {{else if isShowWarningMessage}}
          {{t 'teacher-landing.class.class-activities.warning-message' questionCount=unAnsweredQuestionCount studentName = activeStudent.fullName}}
        {{/if}}
      </div>
    </div>
    <div class="warning-action-container">
      {{#if isShowSaveInformation}}
        <div class="back-action action-btn" {{action "onDismissInfoPopup"}}>
          {{t 'common.no'}}
        </div>
        <div class="ok-action action-btn" {{action "onAcceptSaveAndNext"}}>
          {{t 'common.yes'}}
        </div>
      {{else if isShowWarningMessage}}
        <div class="back-action action-btn" {{action "onDismissWarning"}}>
          {{t 'common.no'}}
        </div>
        <div class="ok-action action-btn" {{action "onAcceptWarning"}}>
          {{t 'common.yes'}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if isLoading}}
  <div class="loading-spinner">
    {{three-bounce-spinner}}
  </div>
{{/if}}
