<div class="panels">
  <div class="left-panel">
    <div class="collection-image-container" style="background-image: url({{assessment.thumbnailUrl}})">
      <div class="collection-standards">
        {{#if taxonomyTags.length}}
          {{taxonomy.gru-taxonomy-tag-list
              tags=taxonomyTags
              tagsVisible=1
              isInCard=true}}
        {{/if}}
      </div>
    </div>
    {{#if selectedFiles}}
      <div class="selected-image-container">
        {{#each selectedFiles as |selectedFile index|}}
          <div class="selected-image-panel {{if (eq currentPreviewIndex index) 'active'}}">
            <div class="image-preview">
              <img src="{{selectedFile.url}}" />
            </div>
            <div class="image-name ellipsis">
              <span class="ellipsis">{{selectedFile.name}}</span>
              {{#if selectedFile.isError}}
                <div class="error-bar"></div>
              {{/if}}
            </div>
            {{#if selectedFile.isUpload}}
              <div class="status-icon">
                {{#if selectedFile.isError}}
                  {{gru-icon name="info"}}
                {{else}}
                  <i class="sucess"></i>
                {{/if}}
              </div>
            {{/if}}
          </div>
          {{#if selectedFile.isError}}
            <div class="error-panel">
              <div class="message">There was an error reading the class code on this image. Re-upload?</div>
              <div class="actions">
                {{#file-picker
                  accept=mimeType
                  preview=false
                  dropzone=false
                  fileLoaded=(action 'prepareForReUpload')
                  readAs="readAsFile"
                  errors=filePickerErrors
                }}
                  <button type="button" class="submit-btn" {{action 'onReUpload' selectedFile}}>Re-Upload</button>
                {{/file-picker}}
                <button type="button" class="ignore-btn" {{action 'onIgnore' selectedFile}}>Ignore & Continue</button>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
    {{#unless isReview}}
      <div class="file-picker-container">
        {{#file-picker
        accept=mimeType
        preview=false
        dropzone=false
        fileLoaded=(action 'prepareForSubmission')
        readAs="readAsFile"
        errors=filePickerErrors
      }}
          <div class="file-picker-panel">
            <i class="icon"></i>
            <span class="title">Choose a file or drag it here</span>
          </div>
        {{/file-picker}}
      </div>
    {{/unless}}
  </div>
  <div class="right-panel">
    <div class="preview-panel">
      {{#if selectedFiles}}
        {{gru-image-preview
          previewContent=selectedFiles
          uploadedStudentScores=uploadedStudentScores
          questions=assessmentQuestions
          currentPreviewIndex=currentPreviewIndex
          showConfirm=showConfirm
          isReview=isReview
          isDisableButton=isDisableButton
          onConfirmUpload="onConfirmUpload"
          onConfirmScore="onConfirmScore"
        }}
      {{else}}
        <div class="prev-message">no preview available</div>
      {{/if}}
    </div>
  </div>
</div>
