<div class="panels">
  <div class="left-panel">
    <div class="collection-image-container" style="background-image: url({{assessment.thumbnailUrl}})">
      <div class="collection-standards">
        {{#if taxonomyTags.length}}
          {{taxonomy.gru-taxonomy-tag-list
              tags=taxonomyTags
              tagsVisible=1
              isInCard=true}}
        {{/if}}
      </div>
    </div>
    {{#if selectedFiles}}
      <div class="selected-image-container">
        {{#each selectedFiles as |selectedFile index|}}
          <div class="selected-image-panel {{if (eq currentPreviewIndex index) 'active'}}">
            <div class="image-preview">
              <img src="{{selectedFile.url}}" />
            </div>
            <div class="image-name ellipsis">
              <span class="ellipsis">{{selectedFile.name}}</span>
              {{#if selectedFile.isError}}
                <div class="error-bar"></div>
              {{/if}}
            </div>
            <div class="status-icon">
              {{#unless selectedFile.isError}}
                {{gru-icon name="check_circle"}}
              {{else}}
                {{gru-icon name="info"}}
              {{/unless}}
            </div>
          </div>
          {{#if selectedFile.isError}}
            <div class="error-panel">
              <div class="message">There was an error reading the class code on this image. Re-upload?</div>
              <div class="actions">
                <button type="button" class="submit-btn" {{action 'onReUpload'}}>Re-Upload</button>
                <button type="button" class="ignore-btn" {{action 'onIgnore'}}>Ignore & Continue</button>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
    <div class="file-picker-container">
      {{#file-picker
        accept=validMimeType
        preview=false
        dropzone=false
        fileLoaded=(action 'prepareForSubmission')
        readAs="readAsFile"
        errors=filePickerErrors
      }}
        <div class="file-picker-panel">
          <i class="icon"></i>
          <span class="title">Choose a file or drag it here</span>
        </div>
      {{/file-picker}}
    </div>
  </div>
  <div class="right-panel">
    <div class="preview-panel">
      {{#if selectedFiles}}
        {{gru-image-preview previewImages=selectedFiles currentPreviewIndex=currentPreviewIndex isDisableButton=isDisableButton onConfirm="onConfirm"}}
      {{else}}
        <div class="prev-message">no preview available</div>
      {{/if}}
    </div>
  </div>
</div>
