<div class="class-report-container">
  <div class="print-preview" title="{{t 'common.download'}}" data-toggle="tooltip" {{action "onPrintPreview"}}>
    {{gru-icon name="get_app"}}
  </div>
  <div class="report-container">
    <div class="right-panel">
      <div class="tenan-info">
        <span class="tenant-logo" style="background-image: url({{tenantLogoUrl}}) !important"></span>
        <span class="tenant-name">{{tenantName}}</span>
      </div>
      {{#if reportStartDate}}
        <span class="date">{{format-date reportStartDate 'MMMM DD,YYYY'}} - {{format-date reportEndDate 'MMMM DD, YYYY'}}</span>
      {{else}}
        <span class="date">{{t 'beginning-till-now'}}</span>
      {{/if}}
    </div>
    <table class="class-progress-report-table">
      <thead>
        <tr>
          <th rowspan="2">{{t 'common.name'}}</th>
          <th colspan="3">{{t 'common.competencies'}}</th>
          <th colspan="3">{{t 'gru-data-picker.time-spent'}}</th>
          <th rowspan="2">{{t 'badges-earned'}}</th>
          <th rowspan="2">{{t 'common.averageScore'}}</th>
          <th rowspan="2">{{t 'suggestion-taken'}}</th>
        </tr>
        <tr>
          <th>{{t 'common.gained'}}</th>
          <th>{{t 'common.inferred'}}</th>
          <th>{{t 'profile.proficiency.in-progress'}}</th>
          <th>{{t 'common.collections'}}</th>
          <th>{{t 'common.assessments'}}</th>
          <th>{{t 'reports.gru-table-view.totals'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each studentsSummaryReportData as |reportData|}}
          <tr>
            <td>
              <span class="ellipsis">{{reportData.student.lastName}}</span>
              <span class="ellipsis">{{reportData.student.firstName}}</span>
            </td>
            <td>
              {{#if reportData.weeklyReportData.masteredCompetenciesCount}}
                <span class="competency-count">{{reportData.weeklyReportData.masteredCompetenciesCount}}</span>
              {{else}}
                --
              {{/if}}
            </td>
            <td>
              {{#if reportData.weeklyReportData.inferredCompetenciesCount}}
                <span class="competency-count">{{reportData.weeklyReportData.inferredCompetenciesCount}}</span>
              {{else}}
                --
              {{/if}}
            </td>
            <td>
              {{#if reportData.weeklyReportData.inprogressCompetenciesCount}}
                <span class="competency-count">{{reportData.weeklyReportData.inprogressCompetenciesCount}}</span>
              {{else}}
                --
              {{/if}}
            </td>
            <td>
              <span class="time-spent">
                {{#if reportData.weeklyReportData.collectionTimespent}}
                  {{format-time reportData.weeklyReportData.collectionTimespent}}
                {{else}}
                  --
                {{/if}}
              </span>
            </td>
            <td>
              <span class="time-spent">
                {{#if reportData.weeklyReportData.assessmentTimespent}}
                  {{format-time reportData.weeklyReportData.assessmentTimespent}}
                {{else}}
                  --
                {{/if}}
              </span>
            </td>
            <td>
              <span class="time-spent">
                {{#if reportData.weeklyReportData.totalTimespent}}
                  {{format-time reportData.weeklyReportData.totalTimespent}}
                {{else}}
                  --
                {{/if}}
              </span>
            </td>
            <td>
              {{#if reportData.weeklyReportData.badgeEarned}}
                <span class="badge-count">{{reportData.weeklyReportData.badgeEarned}}</span>
              {{else}}
                --
              {{/if}}
            </td>
            <td>
              {{#unless reportData.weeklyReportData.isNotStarted}}
                <span class="score score-range-{{grade-range reportData.weeklyReportData.averageScore}}">{{reportData.weeklyReportData.averageScore}}</span>
              {{else}}
                --
              {{/unless}}
            </td>
            <td>
              {{#if reportData.weeklyReportData.suggestionTaken}}
                <span class="suggestion-count">{{reportData.weeklyReportData.suggestionTaken}}</span>
              {{else}}
                --
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
