<div class="weekly-report-container">
  <div class="report-period-selector">
    <div class="active-period" {{action "onToggleReportPeriod"}}>
      <span class="report-period-text">{{activeReportPeriod.text}}</span>
      <span class="toggle-icon">{{gru-icon name="arrow_drop_down"}}</span>
    </div>
    <div class="report-periods">
      {{#each reportPeriods as |reportPeriod|}}
        <div class="report-period {{if (eq activeReportPeriod.value reportPeriod.value) 'active-report-period'}}" {{action "onSelectReportPeriod" reportPeriod}}>
          {{reportPeriod.text}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class="header-container">
    <div class="header-left">
      Name
    </div>
    <div class="header-right">
      <div class="competencies-label">
        <div class="label-text">Competencies</div>
        <div class="sub-header">
          <div class="gained-header">Gained</div>
          <div class="inprogress-header">In Progress</div>
        </div>
      </div>
      <div class="timespent-label">
        <div class="label-text">Timespent</div>
        <div class="sub-header">
          <div class="collection-header">Collections</div>
          <div class="assessment-header">Assessments</div>
          <div class="total-header">Total</div>
        </div>
      </div>
      <div class="badge-earned-label label-text">
        BADGES EARNED
      </div>
      <div class="average-score-label label-text">
        Average Score
      </div>
      <div class="suggestion-taken-label label-text">
        Suggestions Taken
      </div>
    </div>
  </div>
  {{#if isLoading}}
    {{three-bounce-spinner}}
  {{else}}
    <div class="body-container">
      <div class="body-left">
        {{#each studentsSummaryReportData as |reportData|}}
          <div class="student-info-container">
            <div class="student-thumbnail" style="background-image: url({{reportData.student.thumbnailUrl}});"></div>
            <div class="student-name">{{reportData.student.fullName}}</div>
          </div>
        {{/each}}
      </div>
      <div class="body-right">
        {{#each studentsSummaryReportData as |reportData|}}
          <div class="student-summary-container">
            <div class="gained-competencies">
              <span class="competency-status-5 competency-status"></span> <span class="competency-count">{{reportData.weeklyReportData.masteredCompetencies}}</span>
            </div>
            <div class="inprogress-competencies">
              <span class="competency-status-1 competency-status"></span> <span class="competency-count">{{reportData.weeklyReportData.inprogressCompetencies}}</span>
            </div>
            <div class="collection-timespent">
              <span class="time-spent">
                {{#if reportData.weeklyReportData.collectionTimespent}}
                  {{format-time reportData.weeklyReportData.collectionTimespent}}
                {{else}}
                  --
                {{/if}}
              </span>
            </div>
            <div class="assessment-timespent">
              <span class="time-spent">
                {{#if reportData.weeklyReportData.assessmentTimespent}}
                  {{format-time reportData.weeklyReportData.assessmentTimespent}}
                {{else}}
                  --
                {{/if}}
              </span>
            </div>
            <div class="total-timespent">
              <span class="time-spent">
                {{#if reportData.weeklyReportData.totalTimespent}}
                  {{format-time reportData.weeklyReportData.totalTimespent}}
                {{else}}
                  --
                {{/if}}
              </span>
            </div>
            <div class="badge-earned">
              <span class="badge"><span class="badge-count">{{reportData.weeklyReportData.badgeEarned}}</span></span>
            </div>
            <div class="average-score">
              <span class="score score-range-{{grade-range reportData.weeklyReportData.averageScore}}">{{reportData.weeklyReportData.averageScore}}</span>
            </div>
            <div class="suggestion-taken">
              <span class="suggestion-count">{{reportData.weeklyReportData.suggestionTaken}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
