<ul>
  {{#each answers as |answer index|}}
    <li>
      {{!-- {{#if showCorrect}} 22--}}
      {{#if (eq answer.showCorrect true) }}
        <span class="answer-text" style='width:15em;'>{{answer.text}}</span>
      {{else}}
        <span class="{{if answer.correct 'correct' 'incorrect'}} {{if anonymous 'anonymous'}}">{{answer.selectedOrderText}}</span>
      {{/if}}
    </li>
  {{/each}}
</ul>