<div class="class-activities-source-container">
  <div class="header-container">
    {{class/activities/gru-content-search
      onSelectExternalActivity = "onSelectExternalActivity"
      onShowTenantLibraries = "onShowTenantLibraries"
      onShowFilteredContents = "onShowFilteredContents"
      onShowLessonPlan = "onShowLessonPlan"
      activeTenantLibrary = activeTenantLibrary}}
  </div>
  <div class="body-container">
    {{#if isShowTenantLibraries}}
      {{#each tenantLibraries as |tenantLibrary|}}
        {{library/gru-partner-library-card onSelectLibrary='onSelectTenantLibrary' content=tenantLibrary}}
      {{/each}}
    {{else if isShowLessonPlan}}
      <div class="lesson-plan-activities-container">
        Coming Soon!..
      </div>
    {{else}}
      {{#each filteredContents as |filteredContent|}}
        {{new-cards/activities/gru-add-content-card
          content = filteredContent
          onAddActivity = "onAddActivity"}}
      {{/each}}
    {{/if}}
  </div>
</div>

{{#if isEnableExternalActivity}}
  {{activity/gru-new-offline-activity
    isShowPullUp=isEnableExternalActivity
    classPreference=classPreference
    classId=primaryClass.id
    onAddExternalCollectionToDCA="onAddExternalActivity"}}
{{/if}}
