<div class="class-activities-source-container {{if isMobileView 'mobile-view'}}">
  <div class="header-container">
    {{class/activities/gru-content-search
      onSelectExternalActivity="onSelectExternalActivity"
      onShowTenantLibraries="onShowTenantLibraries"
      onShowFilteredContents="onShowFilteredContents"
      onShowLessonPlan="onShowLessonPlan"
      activeTenantLibrary=activeTenantLibrary
      course=primaryClass.course
      class=primaryClass
      onTogglePanel="onTogglePanel"
    }}
  </div>
  <div class="body-container {{if isShowTenantLibraries 'grid-view'}}">
    {{#if isShowTenantLibraries}}
      {{#each tenantLibraries as |tenantLibrary|}}
        {{library/gru-partner-library-card onSelectLibrary='onSelectTenantLibrary' content=tenantLibrary}}
      {{else}}
        <div class="plan-activities-msg">
          {{t 'class-activity.no-learning-activities'}}
        </div>
      {{/each}}
    {{else if isShowLessonPlan}}
      <div class="lesson-plan-activities-container">
        {{teacher/class/ca-course-map
          onAddActivity="onAddActivity"
          onAddContentToDCA="onAddActivity"
          onScheduleActivity="onShowDateRangePicker"
          onScheduleContentToDCA="onShowDateRangePicker"
          classId=primaryClass.id
          courseId=primaryClass.courseId
          isShowLessonPlan = false
          todaysClassActivities = todaysActivities
        }}
      </div>
    {{else}}
      {{#each filteredContents as |filteredContent|}}
        {{new-cards/activities/gru-add-content-card
          content=filteredContent
          onAddActivity="onAddActivity"}}
      {{else}}
        <div class="plan-activities-msg">
          {{t 'class-activity.no-learning-activities'}}
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>

{{#if isEnableExternalActivity}}
  {{activity/gru-new-offline-activity
    isShowPullUp=isEnableExternalActivity
    classPreference=classPreference
    classId=primaryClass.id
    onAddExternalCollectionToDCA="onAddExternalActivity"}}
{{/if}}

{{#if isShowDateRangePicker}}
  <div class="ca-datepicker-schedule-container ca-datepicker-popover-container">
    {{ca-daterange-datepicker
        closeDatePicker='onCloseDateRangePicker'
        onScheduleForDate='scheduleContentForDate'
        onScheduleForMonth='scheduleContentForMonth'
        endDate=endDate
        allowTwoDateRangePicker=isShowStartEndDatePicker}}
  </div>
{{/if}}
