<div class="class-activities-source-container {{if isMobileView 'mobile-view'}}">
  <div class="header-container">
    {{class/activities/gru-content-search
      onSelectExternalActivity="onSelectExternalActivity"
      onShowTenantLibraries="onShowTenantLibraries"
      onShowFilteredContents="onShowFilteredContents"
      onShowCourseMap="onShowCourseMap"
      activeTenantLibrary=activeTenantLibrary
      course=primaryClass.course
      class=primaryClass
      onTogglePanel="onTogglePanel"
      defaultContentSource = defaultTab.id
      goBackToTenantLibraries = "goBackToTenantLibraries"
    }}
    {{#if (and isShowCourseMap isMultiClassEnabled)}}
      <div class="course-map-activities-container">
        <div class="multi-class-course-map">
          <div class="active-class" {{action "onToggleMultiClassPanel"}}>{{activeCmClass.title}} {{gru-icon name=(if isMultiClassListExpanded 'arrow_drop_up' 'arrow_drop_down')}}</div>
          <div class="multi-class-list">
            {{#each secondaryClassDropdown as |secondaryClass|}}
              <div class="class-info {{if (eq activeCmClass.id secondaryClass.id) 'active'}}" {{action "onSelectCmClass" secondaryClass}}>{{secondaryClass.title}}</div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="body-container {{if isShowTenantLibraries 'grid-view'}} {{if isShowCourseMap 'course-map-view'}}">
    {{#if isShowTenantLibraries}}
      {{#each tenantLibraries as |tenantLibrary|}}
        {{library/gru-partner-library-card onSelectLibrary='onSelectTenantLibrary' content=tenantLibrary}}
      {{else}}
        <div class="plan-activities-msg">
          {{t 'class-activity.no-learning-activities'}}
        </div>
      {{/each}}
    {{else if isShowCourseMap}}
        <div class="course-map-container">
          {{#if isCourseAttached}}
            {{teacher/class/ca-course-map
              onAddActivity="onAddActivity"
              onAddContentToDCA="onAddActivity"
              onScheduleActivity="onShowDateRangePicker"
              onScheduleContentToDCA="onShowDateRangePicker"
              classId=activeCmClass.id
              courseId=activeCmClass.courseId
              isShowLessonPlan = false
              todaysClassActivities = todaysActivities
              onShowContentPreview = "onShowContentPreview"
            }}
          {{else}}
            <span class="no-course-map">No Course Map Attached</span>
          {{/if}}
        </div>
    {{else}}
      {{#each filteredContents as |filteredContent|}}
        {{new-cards/activities/gru-add-content-card
          content=filteredContent
          onAddActivity="onAddActivity"
          onShowContentPreview = "onShowContentPreview"
        }}
      {{else}}
        <div class="plan-activities-msg">
          {{t 'class-activity.no-learning-activities'}}
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>

{{#if isEnableExternalActivity}}
  {{activity/gru-new-offline-activity
    isShowPullUp=isEnableExternalActivity
    classPreference=classPreference
    classId=primaryClass.id
    onAddExternalCollectionToDCA="onAddExternalActivity"}}
{{/if}}

{{#if isShowDateRangePicker}}
  <div class="ca-datepicker-schedule-container ca-datepicker-popover-container">
    {{ca-daterange-datepicker
        closeDatePicker='onCloseDateRangePicker'
        onScheduleForDate='scheduleContentForDate'
        onScheduleForMonth='scheduleContentForMonth'
        endDate=endDate
        allowTwoDateRangePicker=isShowStartEndDatePicker}}
  </div>
{{/if}}

<!-- Preview -->
{{#if isShowContentPreview}}
  {{reports/pull-up/gru-collection-preview
    showPullUp=isShowContentPreview
    previewContentId=previewContent.id
    previewContentType=previewContent.format}}
{{/if}}

{{#if isShowOfflineActivityPreview}}
  {{reports/pull-up/oa-preview
    showPullUp=isShowOfflineActivityPreview
    oaId=previewContent.id
    isReportView=false
  }}
{{/if}}
