<button {{action 'updateContent'}}>Add</button>
{{oaId}}
{{oaTaskId}}
{{validation.gru-input model=model valuePath='taskSubmissionType' maxLength=50 didValidate=true}}
{{validation.gru-input model=model valuePath='taskSubmissionSubType' maxLength=50 didValidate=true}}