<div class="profile-navigation col-md-12">
  <div class="category-menu col-md-12 col-sm-12 col-xs-12">
    <ul class="nav nav-tabs category-options">
      <li class="profile-menu-item about {{if (eq source 'study-player') 'hide'}}" {{action 'selectItem' 'about'}}>
        <a href='{{view.href}}' class="btn btn-category">
          {{#if isMyProfile}}
            <span>{{t "profile.gru-navigation.about-me"}}</span>
          {{else}}
            <span>{{t "profile.gru-navigation.about"}}</span>
          {{/if}}
        </a>
      </li>
      {{#if isProficiencyVisible}}
        <li class="profile-menu-item proficiency" {{action 'selectItem' 'proficiency'}}>
          <a href='{{view.href}}' class="btn btn-category">
            <span>{{t "profile.gru-navigation.proficiency"}}</span>
          </a>
        </li>
      {{/if}}
      {{#if isShowTabs}}
        {{#link-to "profile.network.following" tagName="li" class='followings' }}
          <a href='{{view.href}}' class="btn btn-category">
            <span>{{t "common.following"}}</span>
          </a>
        {{/link-to}}
        {{#link-to "profile.network.followers" tagName="li" class='followers' }}
          <a href='{{view.href}}' class="btn btn-category">
            <span>{{t "common.followers"}}</span>
          </a>
        {{/link-to}}
        {{#if isMyProfile}}
          <li class="profile-menu-item portfolio out-of-scope" {{action 'selectItem' 'portfolio'}}>
            <a href='{{view.href}}' class="btn btn-category">
              <span>Portfolio</span>
            </a>
          </li>
          {{#link-to "profile.preference" tagName="li" class='preference'  }}
            <a href='{{view.href}}' class="btn btn-category select" {{ action 'selectItem' 'preference'}}>
              <span>{{t "profile.gru-navigation.preference.preference"}}</span>
            </a>
          {{/link-to}}
        {{/if}}
      {{/if}}
    </ul>
  </div>
  <div class="dropdown nav_dropdown">
    <button class="dropbtn" type="button" data-toggle="dropdown">{{t "common.profile"}}
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li class="profile-menu-item about {{if (eq source 'study-player') 'hide'}}" {{action 'selectItem' 'about'}}>
        <a href='{{view.href}}' class="btn btn-category">
          {{#if isMyProfile}}
            <span>{{t "profile.gru-navigation.about-me"}}</span>
          {{else}}
            <span>{{t "profile.gru-navigation.about"}}</span>
          {{/if}}
        </a>
      </li>
      {{#if isProficiencyVisible}}
        <li class="profile-menu-item proficiency" {{action 'selectItem' 'proficiency'}}>
          <a href='{{view.href}}' class="btn btn-category">
            <span>{{t "profile.gru-navigation.proficiency"}}</span>
          </a>
        </li>
      {{/if}}
      {{#if isShowTabs}}
        <li class="profile-menu-item content" {{action 'selectItem' 'content'}}>
          <a href='{{view.href}}' class="btn btn-category">
            {{#if isMyProfile}}
              <span>{{t "profile.gru-navigation.my-content"}}</span>
            {{else}}
              <span>{{t "profile.gru-navigation.content"}}</span>
            {{/if}}
          </a>
        </li>
        {{#link-to "profile.network.following" tagName="li" class='followings' }}
          <a href='{{view.href}}' class="btn btn-category">
            <span>{{t "common.following"}}</span>
          </a>
        {{/link-to}}
        {{#link-to "profile.network.followers" tagName="li" class='followers' }}
          <a href='{{view.href}}' class="btn btn-category">
            <span>{{t "common.followers"}}</span>
          </a>
        {{/link-to}}
        {{#link-to "profile.preference" tagName="li" class='preference'  }}
          <a href='{{view.href}}' class="btn btn-category select" {{ action 'selectItem' 'preference'}}>
            <span>{{t "profile.gru-navigation.preference.preference"}}</span>
          </a>
        {{/link-to}}
      {{/if}}
    </ul>
  </div>
</div>
