<div class="offline-activity-submission-container">
  <div class="offline-activity-info-container">
    <div class="offline-activity-title-container">
      <div class="icon-container">
      </div>
      <div class="title-container">
        {{offlineActivity.title}}
      </div>
    </div>
    <div class="offline-activity-description-container">
      {{offlineActivity.learningObjectives}}
    </div>
  </div>

  <div class="references-container">
    <div class="reference-info-container">
      <div class="reference-icon-container">
      </div>
      <div class="reference-title-container">
        <div class="reference-label">References</div>
        <div class="reference-links">{{offlineActivity.references.length}} Links</div>
      </div>
    </div>
    <div class="reference-container">
      {{offlineActivity.reference}}
    </div>
    {{#each offlineActivity.references as |reference index|}}
      <div class="reference-container">
        <a href="{{reference.location}}" target="_blank" class="reference-link">Reference {{plus-one index}}</a>
      </div>
    {{/each}}
  </div>
  <div class="task-submissions-container">
    {{#each activityTasks as |task|}}
      {{player.offline-activity.gru-offline-activity-task-submission task = task caContentId = caContentId classId = classId}}
    {{/each}}
  </div>
</div>
