<div class="offline-activity-submission-container">
  <div class="offline-activity-info-container">
    <div class="offline-activity-title-container">
      <div class="icon-container">
      </div>
      <div class="title-container">
        {{offlineActivity.title}}
      </div>
    </div>
    <div class="offline-activity-description-container">
      {{offlineActivity.learningObjectives}}
    </div>
  </div>

  <div class="oa-references-container">
    {{player.offline-activity.gru-offline-activity-references
        offlineActivity=offlineActivity
    }}
  </div>

  <div class="task-submissions-container">
    {{#each activityTasks as |task|}}
      {{player.offline-activity.gru-offline-activity-task-submission
        task=task
        caContentId=caContentId
        showSubmissions=true
        showToggle=true
        classId=classId}}
    {{/each}}
  </div>
</div>

{{#if isLoading}}
  <div class="loading-spinner">
    {{three-bounce-spinner}}
  </div>
{{/if}}
