<div class="ca-panel-container {{if isOfflineClass 'offline-activity'}} {{if isToday 'today'}}">
  <div class="dca-panel-info">
    <i class="{{item.collectionType}}-icon" />
    <p>{{item.title}}</p>
  </div>
  <div class="dca-content-counts">
    <div class="resource-count">
      {{#if (gt item.resourceCount 0)}}
        <i class="resource-icon"></i>
        <span>{{item.resourceCount}}</span>
      {{/if}}
    </div>

    <div class="question-count">
      {{#if (gt item.questionCount 0)}}
        <i class="question-icon"></i>
        <span>{{item.questionCount}}</span>
      {{/if}}
    </div>

    {{#if (or (eq item.collectionType 'assessment-external' ) (eq item.collectionType 'collection-external'))}}
      <i class="external-icon"></i>
    {{/if}}
  </div>
  <div class="ca-play-container" {{action 'onPlayContent' classActivity}}>
    <div class="ca-play-btn">
      {{gru-icon name='play_arrow'}}
    </div>
  </div>
  <div class="dca-panel-actions-performance">
    {{#if collectionPerformanceSummary}}
      {{#if (not-eq item.collectionType 'collection')}}
        <div class="dca-panel-performance" {{action 'studentDcaReport' item collectionPerformanceSummary activityDate}} style="background-color:{{grade-color collectionPerformanceSummary.score}}">
          <span>{{collectionPerformanceSummary.score}}%</span>
        </div>
      {{else}}
        <div class="dca-panel-performance collection" {{action 'studentDcaReport' item collectionPerformanceSummary activityDate}}>
          <span class="time-spent">
            {{if collectionPerformanceSummary.timeSpent (format-time collectionPerformanceSummary.timeSpent) '--'}}
          </span>
        </div>
      {{/if}}
    {{else}}
      <div class="dca-panel-performance not-started">
        <span class="no-performance">--</span>
      </div>
    {{/if}}
  </div>
</div>
