<div class="ca-panel-container {{if isToday 'today'}} {{if isOfflineActivity 'offline'}} {{if classActivity.isCompleted 'completed'}}">
  <div class="dca-panel-info">
    <i class="{{item.collectionType}}-icon" />
    <div class="title-info ellipsis">
      <span>{{item.title}}</span>
      {{#if isOfflineActivity}}
        <div class="offline-activity-info">
          <span class="date">
            {{format-date classActivity.added_date 'DD MMM'}} - {{format-date (if classActivity.end_date classActivity.end_date classActivity.added_date) 'DD MMM'}}
          </span>
          <span class="task-count">{{t 'common.tasks'}} {{item.taskCount}}</span>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="dca-content-counts">
    <div class="suggestion">
      {{#if (gt suggestionCount 0)}}
        <div class="suggestion-explore" {{action 'showSuggestions'}}>
          {{gru-icon name="explore"}}
          <div class="suggestion-count">{{suggestionCount}}</div>
        </div>
      {{/if}}
    </div>
    <div class="resource-count">
      {{#if (gt item.resourceCount 0)}}
        <i class="resource-icon"></i>
        <span>{{item.resourceCount}}</span>
      {{/if}}
    </div>

    <div class="question-count">
      {{#if (gt item.questionCount 0)}}
        <i class="question-icon"></i>
        <span>{{item.questionCount}}</span>
      {{/if}}
    </div>

    {{#if (or (eq item.collectionType 'assessment-external' ) (eq item.collectionType 'collection-external'))}}
      <i class="external-icon"></i>
    {{/if}}
  </div>
  {{#if (or (and (not isOfflineActivity) isToday (not classActivity.isCompleted)) (and isOfflineActivity (not classActivity.isCompleted)))}}
    <div class="ca-play-container {{if isActivityFuture 'future-activity'}}" {{action 'onPlayContent' classActivity}}>
      <div class="ca-play-btn">
        {{gru-icon name='play_arrow'}}
      </div>
    </div>
  {{/if}}
  <div class="dca-panel-actions-performance">
    {{#if collectionPerformanceSummary}}
      {{#if (and (not-eq item.collectionType 'collection') (not-eq item.collectionType 'collection-external'))}}
        <div class="dca-panel-performance" {{action 'studentDcaReport' item collectionPerformanceSummary activityDate}} style="background-color:{{grade-color collectionPerformanceSummary.score}}">
          <span>{{collectionPerformanceSummary.score}}%</span>
        </div>
      {{else}}
        <div class="dca-panel-performance collection" {{action 'studentDcaReport' item collectionPerformanceSummary activityDate}}>
          <span class="time-spent">
            {{if collectionPerformanceSummary.timeSpent (format-time collectionPerformanceSummary.timeSpent) '--'}}
          </span>
        </div>
      {{/if}}
    {{else}}
      <div class="dca-panel-performance not-started">
        <div class="thumbnail-img">
          <img src="{{item.thumbnailUrl}}" />
        </div>
      </div>
    {{/if}}
  </div>
</div>
<div class="suggestions">
  {{#each suggestions as |suggestion|}}
    {{#if suggestion.collection}}
      <div class="suggestion-panel">
        <div class="icon">
          <i class="{{suggestion.suggestedContentType}}"></i>
        </div>
        <div class="title-info ellipsis">{{suggestion.collection.title}}</div>
        <div class="content-counts">
          <div class="resource-count">
            {{#if (gt suggestion.collection.resourceCount 0)}}
              <i class="resource-icon"></i>
              <span>{{suggestion.collection.resourceCount}}</span>
            {{/if}}
          </div>
          <div class="question-count">
            {{#if (gt suggestion.collection.questionCount 0)}}
              <i class="question-icon"></i>
              <span>{{suggestion.collection.questionCount}}</span>
            {{/if}}
          </div>
        </div>
        <div class="play-container">
          <div class="ca-play-btn" {{action 'onPlaySuggestionContent' suggestion}}>
            {{gru-icon name='play_arrow'}}
          </div>
        </div>
        <div class="thumbnail-img">
          <img src="{{suggestion.collection.thumbnailUrl}}" />
        </div>
      </div>
    {{/if}}
  {{else if (not classActivity.isSuggestionFetched)}}
    {{three-bounce-spinner}}
  {{/each}}
</div>
