<div class="dca-panel-container {{if isUnScheduled 'unscheduled'}} {{if classActivity.isNewlyAdded 'new'}} {{if isActivityPast 'past-date'}}">
  <div class="ca-panel-container-1">
    <div class="dca-panel-info">
      <i class="{{item.collectionType}}-icon" />
      <p {{action 'onPlayContent' item}}>{{item.title}}</p>
    </div>
    <div class="dca-content-counts">
      <div class="resource-count">
        {{#if (gt item.resourceCount 0)}}
          <i class="resource-icon"></i>
          <span>{{item.resourceCount}}</span>
        {{/if}}
      </div>

      <div class="question-count">
        {{#if (gt item.questionCount 0)}}
          <i class="question-icon"></i>
          <span>{{item.questionCount}}</span>
        {{/if}}
      </div>

      {{#if (or (eq item.collectionType 'assessment-external' ) (eq item.collectionType 'collection-external'))}}
        <i class="external-icon"></i>
      {{/if}}
    </div>
    {{#unless isUnScheduled}}
      <div class="dca-panel-actions-performance">
        {{#if collectionPerformanceSummary}}
          {{#if (not-eq item.collectionType 'collection')}}
            <div class="dca-panel-performance" {{action 'openDcaContentReport' classActivity}} style="background-color:{{grade-color collectionPerformanceSummary.score}}">
              <span class="assessment-score">{{collectionPerformanceSummary.score}}%</span>
              {{#if collectionPerformanceSummary.timeSpent}}
                <span class="assessment-timespent">{{format-time collectionPerformanceSummary.timeSpent}}</span>
              {{/if}}
            </div>
          {{else}}
            <div class="dca-panel-performance collection" {{action 'openDcaContentReport' classActivity}}>
              <span class="time-spent">
                {{if collectionPerformanceSummary.timeSpent (format-time collectionPerformanceSummary.timeSpent) '--'}}
              </span>
            </div>
          {{/if}}
        {{else}}
          {{#if isShowAddData}}
            <div class="dca-panel-performance add-data {{if (eq classActivity.usersCount 0) 'disabled'}}" {{action "onOpenPerformanceEntry" item classActivity}}>
              {{t 'common.add-data'}}
            </div>
          {{else}}
            <div class="dca-panel-performance not-started">
              <span class="no-performance">--</span>
            </div>
          {{/if}}
        {{/if}}
      </div>
      {{else}}
        <div class="ca-panel-reschedule ca-datepicker-popover" onclick= {{action 'onScheduleContentToDCA' classActivity}}>
          <span>{{t 'common.schedule'}}</span>
        </div>
    {{/unless}}
  </div>
  {{#unless isUnScheduled}}
    <div class="ca-panel-container-2">
      <div class="student-count {{if showCohort 'active'}}">
        {{#if (eq classActivity.usersCount -1)}}
          <span {{action 'showStudentList'}}>{{t 'common.everyone'}}</span> {{else if (eq classActivity.usersCount 0)}}
          <span {{action 'showStudentList'}}>{{t 'common.no-students'}}</span>
        {{else}}
          <span {{action 'showStudentList'}}> {{classActivity.usersCount}}  {{t 'common.students'}}</span>
        {{/if}}
      </div>
      <div class="re-schedule">
        <div class="re-schedule-activity ca-datepicker-popover" onclick= {{action 'onScheduleContentToDCA' classActivity}}>
          {{#if collectionPerformanceSummary}}
            <span>{{t 'common.repeat-activity'}}</span>
          {{else}}
            <span>{{t 'common.Reschedule'}}</span>
          {{/if}}
        </div>
      </div>
      <div class="dca-panel-actions">
        <div class="dca-add-btn">
          {{#if showDcaAddButton}}
            <span class="dca-add" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.add"}}" {{action 'onAddContentToDCA' item}}>
          {{gru-icon name="add"}}
        </span>
          {{/if}}
        </div>
        <div class="dca-rubric-icon">
          {{#if (gt item.oeQuestionCount 0)}}
            <i data-toggle="tooltip" data-html="true" data-placement="bottom" title="{{t "common.rubric"}}" class="rubric-icon"></i>
          {{/if}}
        </div>
        <div class="dca-golive-btn">
          {{#if (and showGolive (eq item.collectionType 'assessment'))}}
            <i data-toggle="tooltip" data-html="true" data-placement="bottom" title="{{t "common.launch-on-air"}}" class="golive-icon" {{action 'goLive' item.id}}></i>
          {{/if}}
        </div>
        <div class="dca-assign-btn">
          {{#if showDcaAssignButton}}
            <span class="dca-assign" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.assign"}}">
        {{#unless classActivity.isActive}}
            {{gru-switch switchOptions=switchOptions onOptionSwitch='changeVisibility' isChecked=classActivity.isActive item=item}}
        {{else}}
          {{gru-switch class="assigned" switchOptions=switchOptions  isChecked=classActivity.isActive item=item}}
        {{/unless}}
        </span>
          {{/if}}
        </div>
        <div class="dca-remove-btn">
          {{#if showDcaRemoveButton}}
            <span class="remove-dca" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.remove"}}" {{action 'removeClassActivity' classActivity}}>
          {{gru-icon name="remove_circle" }}
        </span>
          {{/if}}
        </div>
      </div>
      <div class="re-add-data {{if (eq classActivity.usersCount 0) 'disabled'}}">
        {{#if collectionPerformanceSummary}}
          <span {{action "onOpenPerformanceEntry" item classActivity}}>{{t 'common.add-data'}}</span>
        {{/if}}
      </div>
    </div>
  {{/unless}}
</div>

{{#if showStudentListPullup}}
  {{teacher.class.ca-student-list-pull-up isActivityPast=isActivityPast classId=classId classActivity=classActivity members=members showPullUp=showStudentListPullup}}
{{/if}}
