<div class="summary-report-questions">
  <div class="questions-header">
    <div class="title">
      <h4>{{if isOpenEnded (t "common.questions-OE") (t "common.questions")}}</h4>
    </div>
    <!-- {{#unless isOpenEnded}}
      {{#if (and (not isTeacher) isAnswerKeyHidden)}}
        <em>{{t "common.answer-key-was-hidden"}}</em>
      {{else}}
        <div class="btn-group summary-report-btn" role="group">
          <button type="button" {{action 'selectPerformanceOption' true}} class="performance btn {{if showPerformance 'btn-primary' 'btn-info'}}">{{t "common.performance"}}</button>
          <button type="button" {{action 'selectPerformanceOption' false}} class="correct-answer btn {{unless showPerformance 'btn-primary' 'btn-info' }}">{{t "common.show-correct-answer"}}</button>
        </div>
      {{/if}}
    {{/unless}} -->
  </div>
  <!-- {{#if (and (not isOpenEnded) isTeacher hasAnsweredQuestions showChangeScore isAssessment showPerformance)}}
    <div class="score-change-container">
      {{#if isChangeScoreEnabled}}
        <button type="button" class="btn btn-info cancel" {{action 'onChangeScoreNotConfirm'}}>{{t 'common.cancel'}}</button>
        <button type="button" class="btn btn-primary confirm" {{action 'onChangeScoreConfirm'}}>{{t 'common.confirm'}}</button>
      {{else}}
        <button type="button" class="btn btn-primary change-score" {{action 'onChangeScore'}}>{{t 'common.change-score'}}</button>
      {{/if}}
    </div>
  {{/if}} -->
  <table>
    <thead>
      <tr>
        <th class="header number">
          {{t "common.number"}}
        </th>
        <th class="header question {{if result.question.isOpenEnded 'open-ended-question' 'question'}} top-left">
          <span class="title">{{t "common.question"}}</span>
          <i class="icon question"></i>
        </th>
        <th class="header answer top-left">
          <span class="title">{{t "common.answer"}}</span>
          <span class="icon">{{gru-icon name='subject'}}</span>
        </th>
        {{#unless isOpenEnded}}
          <th class="header score {{if showPerformance 'visible' 'hide'}}">
            <span class="title">{{t "common.score"}}</span>
            <span class="icon">{{gru-icon name='done_all'}}</span>
          </th>
        {{/unless}}
        <th class="header time-spent {{if showPerformance 'visible' 'hide'}}">
          <span class="title">{{t "common.timeSpent"}}</span>
          <span class="icon">{{gru-icon name='av_timer'}}</span>
        </th>
        {{#if showReactionBar}}
          <th class="header reaction {{if showPerformance 'visible' 'hide'}}">
            <span class="title">{{t "common.reaction"}}</span>
            <span class="icon">{{gru-icon name='mood'}}</span>
          </th>
        {{/if}}
        {{#if isOpenEnded}}
          <th class="header report">
            {{t "common.report"}}
          </th>
        {{/if}}
        {{#unless (and (not isTeacher) isAnswerKeyHidden)}}
          <th class="header correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
            <span class="title">{{t "common.correct-answer"}}</span>
            <span class="icon">{{gru-icon name='done_all'}}</span>
          </th>
        {{/unless}}
      </tr>
    </thead>
    <tbody>
      {{#each results as |result index|}}
        <tr id="resource-{{result.resource.order}}">
          <td class="number-question top-left">
            {{result.resource.order}}
          </td>
          <td class="question-text top-left">
            <div class="text">
              {{gru-math-text text=(if result.question.isFIB result.question.fibText result.question.text)}}
              {{#if result.question.hasMedia}}
                <img class="img-responsive" src="{{result.question.mediaUrl}}" />
              {{else}}
                {{#if result.question.thumbnail}}
                  <img class="img-responsive" src="{{result.question.thumbnail}}" />
                {{/if}}
              {{/if}}
            </div>
          </td>
          <td class="question-answer top-left" id="{{result.answered}}">
            {{#if result.answered}}
              {{{component (question-config result.question.questionType 'component.answer') question=result.question userAnswer=result.userAnswer}}}
            {{/if}}
          </td>
          {{#unless result.question.isOpenEnded}}
            <td class="question-score {{if showPerformance 'visible' 'hide'}}">
              {{#if (and result.started result.skipped)}}
                <span class="skipped">
                      <i class="icon"> </i>
                  </span>
              {{else}}
                <span class="{{if result.started (if result.correct 'correct' 'incorrect') 'not-started'}}">
                      {{#if result.started}}
                            {{#if (and isTeacher isChangeScoreEnabled showChangeScore isAssessment showPerformance)}}
                                {{gru-status-switch  onOptionSwitch='changeQuestionScore' isChecked=result.correct item=result}}
                              {{else}}
                                <i class="icon"> </i>
                            {{/if}}

                       {{else}}
                            {{gru-icon name='radio_button_checked'}}
                     {{/if}}
                  </span>
              {{/if}}
            </td>
          {{/unless}}
          <td class="question-time {{if showPerformance 'visible' 'hide'}}">
            {{format-time result.timeSpent}}
          </td>
          {{#if showReactionBar}}
            <td class="question-reaction {{if showPerformance 'visible' 'hide'}}">
              {{reaction-icon result.reaction }}
            </td>
          {{/if}}
          {{#if result.question.isOpenEnded}}
            <td class="question-report">
              {{#if result.isGraded}}
                <a {{action 'viewOEReport' result.question.id}}>
              <span class="report-icon">{{gru-icon name='library_books'}}</span>
            </a>
              {{/if}}
            </td>
          {{/if}}
          {{#unless (and (not isTeacher) isAnswerKeyHidden)}}
            <td class="correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
              {{{component (question-config result.question.questionType 'component.answer') question=result.question showCorrect=true}}}
            </td>
          {{/unless}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="question-container">
    <div class="question-header-container">
      <div class="question-title-container">
        <div class="question-order">{{contentSeq}}.</div>
        <div class="question-icon"></div>
        <div class="title ellipsis">{{safe-html content.resource.title}}</div>
      </div>
      <div class="question-performance-container">
          <div class="question-reaction">
            {{qz-reaction-icon content.reaction }}
          </div>
          {{#unless content.resource.isOpenEnded}}
            {{#if (and content.started content.skipped)}}
              <div class="question-status" data-toggle="tooltip" title="Skipped">
                {{gru-icon name="block"}}
              </div>
            {{else}}
              <div class="question-score">
                <span class="{{if content.started (if content.correct 'correct' 'incorrect') 'not-started'}}">
                    {{#if content.started}}
                        {{#if (and isTeacher isChangeScoreEnabled showChangeScore isAssessment showPerformance)}}
                            {{gru-status-switch  onOptionSwitch='changeQuestionScore' isChecked=content.correct item=content}}
                          {{else}}
                            <i class="icon"> </i>
                        {{/if}}
                     {{else}}
                          {{gru-icon name='radio_button_checked'}}
                   {{/if}}
                </span>
              </div>
            {{/if}}
          {{/unless}}
          {{#if content.resource.isOpenEnded}}
            <div class="question-report">
              {{#if content.isGraded}}
                <a {{action 'viewOEReport' content.resource.id}}>
                  <span class="report-icon">{{gru-icon name='library_books'}}</span>
                </a>
              {{/if}}
            </div>
          {{/if}}
          <div class="question-timespent">
            {{format-time content.savedTime}}
          </div>
        </div>
    </div>
    <div class="taxonomies-conatiner">
      {{#if taxonomyTags.length}}
        {{taxonomy/gru-taxonomy-tag-list tags=taxonomyTags tagsVisible=1 isInCard=true}}
      {{/if}}
    </div>
    <div class="question-description">
      {{gru-math-text text=(if content.resource.isFIB content.resource.fibText content.resource.text)}}
    </div>
    {{#if (or content.resource.hasMedia content.resource.thumbnail)}}
      <div class="question-thumbnail">
        {{#if content.resource.hasMedia}}
          <img class="img-responsive" src="{{content.resource.mediaUrl}}" />
        {{else}}
          {{#if content.resource.thumbnail}}
            <img class="img-responsive" src="{{content.resource.thumbnail}}" />
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
    <div class="answer-container">
      {{#if  content.answered }}
        <div class="user-answer answer-section">
          <div class="answer-type-label type-label">
            {{#if (not content.resource.userAnswer)}}
              {{t 'gru-question-viewer.answer'}}
            {{else}}
              {{#if isStudent}}
                {{t 'common.answer'}}
              {{else}}
                {{t 'common.student'}} {{t 'gru-question-viewer.answer'}}
              {{/if}}
            {{/if}}
          </div>
          <div class="answer-value-container">
            {{#if content.answered}}
              {{{component (question-config content.resource.type  'component.answer') question=content.resource userAnswer=content.userAnswer}}}
            {{/if}}
          </div>
        </div>
      {{/if}}
      {{#unless (and (not isTeacher) isAnswerKeyHidden)}}
        {{#if ( and (not showPerformance) (not isOpenEnded) (not content.skipped))}}
          <div class="correct-answer answer-section">
            <div class="answer-type-label type-label">{{t 'common.correct-answer'}}</div>
            <div class="answer-value-container">
              {{{component (question-config content.resource.type 'component.answer') question=content.resource showCorrect=true}}}
            </div>
          </div>
        {{/if}}
      {{/unless}}
    </div>
  </div>

</div>
