<div class="activity-feedback-container {{unless isCollection 'assessment'}}">
  <div class="feedback-contaioner">
    <div class="gru-activity-feedback-card">
      <div class="card-container">
        <div class="header-panel" style="background-image: url({{collection.thumbnailUrl}})">
          <div class="header-content">
            <div class="title">{{safe-html collection.title}}</div>
          </div>
        </div>
        <div class="body-panel">
          <div class="body-content">
            <div class="description-panel">
              <div class="description"><p>{{safe-html collection.learningObjectives}}</p></div>
              <div class="details">
                <div class="taxonomy">
                  {{#if tags.length}}
                    {{taxonomy/gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
                  {{/if}}
                </div>
                <div class="resource">
                  {{#if (and isCollection (gt collection.resourceCount 0))}}
                    <span class="icon" data-toggle="tooltip" title="{{t 'common.resource'}}"></span>
                    <span>{{collection.resourceCount}}</span>
                  {{/if}}
                </div>
                <div class="question">
                  {{#if (gt collection.questionCount 0)}}
                    <span class="icon" data-toggle="tooltip" title="{{t 'common.question'}}"></span>
                    <span>{{collection.questionCount}}</span>
                  {{/if}}
                </div>
                <div class="time-spent">
                  <span>{{format-time timeSpent}}</span>
                </div>
              </div>
            </div>
            <div class="content-panel">
              <div class="content-body">
                {{#if resourceInfo}}
                  {{gru-feedback-form resourceInfo=resourceInfo format=format onNext='onNext' onSkipFeedback="onSkipFeedback" isPlayNextContent=isPlayNextContent}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
