<div class="external-collection-landing-page">
  <div class="external-collection-card">
    <div class="header">
      <div class="title">
        {{assessment.title}}
      </div>
      <div class="taxonomy">
        {{#if tags.length}}
          {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
        {{/if}}
      </div>
    </div>
    <i class="resource icon"></i>
    <span>23</span>
    <i class="add_question icon"></i>
    <span>33</span>
    <div class="body">
      <div class="description">
        {{assessment.learningObjectives}}
      </div>
      {{#if isTimeEntered}}
        {{#if score}}
          <div class="entered-time">
            <div class="time">
              {{score}}
            </div>
            <div class="time-label">
               TIME SPENT
            </div>
          </div>
        {{else}}
          {{three-bounce-spinner}}
        {{/if}}
      {{else}}
        <div class="time-spent {{if isDisableScoreEditor 'disabled'}}">
            {{input type="text" class="time" id="hours" value=hours}}<span>h</span>
            {{input type="text" class="time" id="mins" value=mins}}<span>m</span>
           {{#if (and isTyping  (not isValidtime))}}
            <div class="error">Enter the valid Time</div>
          {{/if}}
        </div>
        <div class="time-label">
          ENTER YOUR TIME SPENT HERE
        </div>
      {{/if}}
    </div>
    <div class="footer">
      <div class="actions">
        {{#if (not isTimeEntered)}}
          <div class="btn cancel {{if isTimeEntered 'score-entered'}}" {{action "onCancel"}}>
            {{t 'common.cancel'}}
          </div>
          {{#if isDisableScoreEditor}}
            <div class="btn start" {{action "onStart"}}>
              {{t 'gru-assessment-confirmation.start'}}
            </div>
          {{else}}
            <div class="btn submit {{unless isValidtime 'disabled'}}" {{action "onSubmit"}}>
              {{t 'gru-assessment-confirmation.submit'}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
