{{student.class.gru-study-navbar
  classId=classId
  navTitle=courseTitle
  onItemSelected="selectMenuItem"
  selectedMenuItem=menuItem
  sourceType=sourceType
  performanceSummary=performanceSummary
  isStudyPlayer=isStudyPlayer
  competencyStats=competencyStats
  class=class
  courseId=courseId
}}
<div class="bar-charts" data-content="{{performancePercentage}}% Completed">
  <div class="completion-chart">
    <div class="start-point">{{gru-icon name="stars"}}</div>
    {{charts/gru-x-bar-chart
      data=barChartData
      mileStone=mileStone
      mileStoneHandler=(action 'mileStoneHandler')
    }}
    <div class="destination-point">{{gru-icon name="place"}}</div>
  </div>
</div>
