<div class="activity-feedback-container {{unless isCollection 'assessment'}}">
  <div class="feedback-contaioner">
    <div class="gru-activity-feedback-card">
      <div class="card-container">
        <div class="header-panel" style="background-image: url({{collection.thumbnailUrl}})">
          <div class="header-content">
            <div class="title">{{safe-html resourceInfo.title}}</div>
          </div>
        </div>
        <div class="body-panel">
          <div class="body-content">
            <div class="description-panel">
              <div class="description">
                {{#if resourceInfo.learningObjectives}}
                  <p>{{safe-html resourceInfo.learningObjectives}}</p>
                {{else}}
                  <p>{{safe-html resourceInfo.description}}</p>
                {{/if}}
              </div>
              <div class="details">
                <div class="taxonomy">
                  {{#if tags.length}}
                    {{taxonomy/gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
                  {{/if}}
                </div>
                <div class="resource">
                  {{#if (and isCollection (gt resourceInfo.resourceCount 0))}}
                    <span class="icon" data-toggle="tooltip" title="{{t 'common.resource'}}"></span>
                    <span>{{resourceInfo.resourceCount}}</span>
                  {{/if}}
                </div>
                <div class="question">
                  {{#if (gt resourceInfo.questionCount 0)}}
                    <span class="icon" data-toggle="tooltip" title="{{t 'common.question'}}"></span>
                    <span>{{resourceInfo.questionCount}}</span>
                  {{/if}}
                </div>
                <div class="time-spent">
                  {{#if (eq contentFormat 'question') }}
                    {{#unless isSkipped}}
                      {{#if (gt contentScore 0)}}
                        <span class="correct"><i class="icon"> </i></span>
                      {{else}}
                        <span class="incorrect"><i class="icon"> </i></span>
                      {{/if}}
                    {{/unless}}
                  {{else}}
                    {{#if (or isCollection (eq contentFormat 'resource'))}}
                      <span>{{format-time timeSpent}}</span>
                    {{else}}
                      {{#if score}}
                        <span>{{round-number score}}%</span>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                </div>
              </div>
            </div>
            <div class="content-panel">
              <div class="content-body">
                {{#if resourceInfo}}
                  {{gru-feedback-form resourceInfo=resourceInfo format=contentFormat onNext='onNext' onSkipFeedback="onSkipFeedback" isPlayNextContent=isPlayNextContent isStatusDone=isStatusDone onExit="onExit"}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
