<div class="nav-player-container">
  <div class="prev disabled">
    {{gru-icon name="ic_skip_previous"}}
    <span>{{t "qz-question-viewer.previous"}}</span>
  </div>

  <div class="player-container">
    <div class="player-info">
      {{#if isPlayerProficiency}}
        <div class="pull-left resource-title ellipsis">
          <span>Proficiency: {{courseTitle}}</span>
        </div>
      {{else}}
        <div class="pull-left resource-title ellipsis">
          <span>Report: {{collection.title}}</span>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="next-action">
    {{#if isDone}}
      {{#if classId}}
        <div  {{action "onExit" 'student.class.course-map' classId }}  class="next {{unless isNextEnabled 'disabled'}}" data-toggle="tooltip" title="{{ t 'common.exit'}}">
          <span class="exit">{{t 'common.exit'}}</span>
        </div>
      {{else}}
        <div {{action "onExit" 'student.independent.course-map' courseId }}  class="next {{unless isNextEnabled 'disabled'}}" data-toggle="tooltip" title="{{ t 'common.exit'}}">
          <span class="exit">{{t 'common.exit'}}</span>
        </div>
      {{/if}}
    {{else}}
      <div {{action 'parentNext'}} class="next {{unless isNextEnabled 'disabled'}}" data-toggle="tooltip" title="{{ t 'common.next'}}">
        <span class="next-text">{{t 'common.next'}}</span> {{gru-icon name="ic_skip_next"}}
      </div>
    {{/if}}
  </div>
</div>
