<div class="competency-panel-header" {{action 'expandPullUp' bubbles=false}}>
  <div class="competency-status status-{{competency.status}}"></div>
  <div class="competency-title">
    <div class="competency-domain">
      {{domain-gut-to-fw-transform
        fwDomains
        competency.domainCode
        competency.domainName
        'fwDomainName'
        (not showGutCompetency)
      }}
    </div>
    <div class="competency-name">
      {{competency-gut-to-fw-transform
         fwCompetencies
         competency.competencyCode
         competency.competencyCode
         'frameworkCompetencyDisplayCode'
         showGutCompetency
         true
      }}
    </div>
  </div>
  <div class="status">
    {{competencyStatus}}
  </div>
  <span class="close" {{action 'closePullUp' bubbles=false}}>{{gru-icon name="close"}}</span>
</div>
<div class="body">
  {{#if isInspectCompetency}}
    {{reports/pull-up/competency-content-report fwCompetencies=fwCompetencies showGutCompetency=showGutCompetency classFramework=framework domainCompetencyList=domainCompetencyList competency=competency userId=studentId isStudent=isStudent isPlayerProficiency = isPlayerProficiency}}
  {{/if}}
</div>
