<div class="competency-panel-header" {{action 'expandPullUp' bubbles=false}}>
  <div class="competency-status status-{{competency.status}}"></div>
  <div class="competency-title">
    <div class="competency-domain">{{competency.domainName}}</div>
    <div class="competency-name">{{competency.competencyCode}}</div>
  </div>
  <span class="close" {{action 'closePullUp' bubbles=false}}>{{gru-icon name="close"}}</span>
</div>
<div class="body">
  {{#if competency}}
    {{reports.pull-up.competency-content-report domainCompetencyList=domainCompetencyList competency=competency userId=studentId isStudent=true}}
  {{/if}}
</div>
