<div class="competency-panel-header" {{action 'expandPullUp' bubbles=false}}>
  <div class="competency-status status-{{competency.status}}"></div>
  <div class="competency-title">
    <div class="competency-domain">{{locale-translation (t (concat 'domain-code.' competency.domainCode)) (if (and (not showGutCompetency)  competency.isMappedWithFramework) competency.fwDomainName  competency.domainName)}}</div>
    <div class="competency-name">{{competencyCode}}</div>
  </div>
  <div class="status">
    {{competencyStatus}}
  </div>
  <span class="close" {{action 'closePullUp' bubbles=false}}>{{gru-icon name="close"}}</span>
</div>
<div class="body">
  {{#if isInspectCompetency}}
    {{reports/pull-up/competency-content-report showGutCompetency=showGutCompetency classFramework=classFramework domainCompetencyList=domainCompetencyList competency=competency userId=studentId isStudent=isStudent isPlayerProficiency = isPlayerProficiency}}
  {{/if}}
</div>
