<div class="domain-panel-header">
  <div class="domain-name">{{domain.domainName}}</div>
  <div class="domain-seq">Domain {{domain.domainSeq}}</div>
  <span class="close" {{action 'closePullUp'}}>{{gru-icon name="close"}}</span>
</div>
<div class="competency-container">
  <div class="title">Competencies</div>
  <div class="competency-list">
    {{#each competencies as |competency|}}
      <div class="competency">{{competency.competencyCode}}</div>
    {{/each}}
  </div>
</div>
