<div class="domain-panel-header">
  <div class="domain-name">{{locale-translation (t (concat 'domain-code.' domain.domainCode)) domain.domainName}}</div>
  <div class="domain-seq">{{t 'common.domain'}} {{domain.domainSeq}}</div>
  <span class="close" {{action 'closePullUp'}}>{{gru-icon name="close"}}</span>
</div>
<div class="competency-container">
  <div class="title">{{t 'common.competencies'}}</div>
  <div class="competency-list">
    {{#each competencies as |competency|}}
      <div class="competency-info" {{action 'onInspectCompetency' competency}}>
        <div class="competency">
          <div class="title">{{if (and (not showGutCompetency)  competency.isMappedWithFramework) competency.framework.frameworkCompetencyDisplayCode  competency.competencyCode}}</div>
          <div class="competency-status status-{{competency.status}}"></div>
        </div>
        <div class="competency-desc">{{if (and (not showGutCompetency) competency.isMappedWithFramework) competency.framework.frameworkCompetencyName competency.competencyStudentDesc}}</div>
      </div>
    {{/each}}
  </div>
</div>
