<div class="dropdown grade">
  <button class="dropbtn btn-dropdown" type="button" data-toggle="dropdown">
    <span>{{t 'grade-selector.placeholder'}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu gradeData">
    {{#each taxonomyGrades as |taxonomyGrade|}}
      <li>
        <label class="{{if (eq activeGrade.id taxonomyGrade.id) 'active'}}" {{action 'selectGrade' taxonomyGrade}}>
          <span>
            {{taxonomyGrade.grade}}
          </span>
          <span>
            {{#if taxonomyGrade.isClassGrade}}
              ({{t 'profile.proficiency.class-grade-line'}})
            {{/if}}
          </span>
        </label>
      </li>
    {{/each}}
    <!---Currently not supporting baseline support-->
    <li class="hidden"><label>{{input type="checkbox" checked=isSelectBaseLine click=(action 'onToggleBaseline')}}<span class="baseline-label" {{action 'onToggleBaseline'}}>{{t 'profile.proficiency.baseline'}}</span></label></li>
  </ul>
</div>
{{#if activeGrade}}
  <div class="active-grade-list">
    <div class="active-grade">
      <span class="ellipsis" data-toggle="tooltip" title={{activeGrade.grade}}>
        {{activeGrade.grade}}
        {{#if activeGrade.isClassGrade}}
          ({{t 'profile.proficiency.class-grade-line'}})
        {{/if}}
      </span>
      <span {{action 'onCloseGrade' activeGrade}}>{{gru-icon name="close"}}</span>
    </div>
    {{#if isSelectBaseLine}}
      <div class="active-grade"><span class="ellipsis" data-toggle="tooltip" title={{t 'profile.proficiency.baseline'}}>{{t 'profile.proficiency.baseline'}}</span><span {{action 'onToggleBaseline'}}>{{gru-icon name="close"}}</span></div>
    {{/if}}
  </div>
{{/if}}
