<div class="panel-header">
  <div class="subject-name">{{subject.title}}</div>
  <div class="framework-title">{{framework}}</div>
</div>
<div class="domain-list">
  <div class="title">{{t 'common.domains'}}</div>
  <ol>
    {{#each domains as |domain|}}
      <li {{action 'onDomainSelect' domain }}>
        <span class="domain-title">{{domain.domainName}}</span>
        <span class="competency-count">{{domain.competencyCount}} {{t 'common.competencies'}}</span>
      </li>
    {{/each}}
  </ol>
</div>
{{yield}}
