<div class="panel-header">
  <div class="subject-name">{{subject.title}}</div>
  <div class="framework-title">{{framework}}</div>
</div>
<div class="domain-list">
  <div class="title">{{t 'common.domains'}}</div>
  <ol>
    {{#each domains as |domain|}}
      <li {{action 'onDomainSelect' domain }}>{{domain.domainName}}</li>
    {{/each}}
  </ol>
</div>
{{yield}}
