{{#if (eq editType 'upload')}}
    <div class='upload-list-container'>
        <span>Uploads</span>
        {{#each parsedReference as | refItem|}}
            <span class="uploaded-item">
                {{#file-picker
                    accept=refItem.mimeType
                    preview=false
                    dropzone=false
                    fileLoaded=(action 'selectFile')
                    readAs="readAsFile"
                    errors=filePickerErrors
                    onRemoveFile=(action 'resetFileSelection')
                    extraParams=refItem.subType
                    }}
                    <div class="btn no-bgd add-item">{{gru-icon name="add_circle"}}</div>
                {{/file-picker}}
                <span class="image">
                    <i class="{{refItem.subType}}-icon"></i>
                </span>
                <span class="countItem">
                    {{refItem.count}}
                </span>
                <button class="remove-uploaded btn no-bgd remove-item" {{action 'deleteReference' refItem.refData }}>{{gru-icon name="remove_circle"}}</button>
            </span>
        {{/each}}
    </div>
{{else}}
    {{validation.gru-input model=model valuePath='location' class='addUrl' maxLength=50 didValidate=true}}
    <div class="btn no-bgd add-item" {{action 'updateURLRef'}}>{{gru-icon name="add_circle"}}</div>
{{/if}}