{{#if (eq editType 'upload')}}
    <div class='subtypeoptions'>
        {{gru-dropdown
                  selectedItem=tempCollection.subType
                  placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                  items=referenceSubType
                  displayLabelFieldKey="display_name"
                  itemKey='code'
                  onChangeAction="onSubTypeChange"
                  btn-group-size=btn-group-size
        }}
    </div>
    <div class='uploadContainer'>
        {{content.gru-file-picker validMimeType=subTypeMimeType onSelectFile=(action 'selectFile')}}
        {{#if emptyFileError}}
            <div class="validation">
                <span class="error">{{emptyFileError}}</span>
            </div>
        {{/if}}
        {{!-- <button style='float:right' data-target='.newReferenceArtifact' class="btn btn-success save-item " title="{{t 'common.create'}}" type="button" data-toggle="collapse" {{action 'updateContent'}}>{{t "common.save"}}</button>--}}
    </div>
{{else}}
    {{validation.gru-input model=editingModel valuePath='location' maxLength=50 didValidate=true}}
    <button style='float:right' data-target='.newReferenceArtifact' class="btn btn-success save-item " title="{{t 'common.create'}}" type="button" data-toggle="collapse" {{action 'updateURLRef'}}>{{t "common.save"}}</button>
{{/if}}