<div class="activity-grading-card {{if isAssessmentGrading 'question-grading' 'offline-activity-grading'}}">
  <div class="grading-header-container">
    <div class="content-thumbnail" style="background-image: url({{if isAssessmentGrading content.thumbnailUrl gradingContent.thumbnailUrl}})">
      <div class="content-title">
        {{if isAssessmentGrading content.title gradingContent.title}}
      </div>
    </div>
  </div>
  <div class="grading-body-container">
    <div class="content-info">
      {{#if isAssessmentGrading}}
        <div class="question-info">
          <div class="grading-thumbnail"></div>
          <div class="content-title">{{gradingContent.title}}</div>
        </div>
      {{else}}
        <div class="task-info">
          <div class="task-thumbnail"></div>
          <div class="task-count">{{content.taskCount}}</div>
        </div>
      {{/if}}
    </div>
    <div class="content-description">
      {{content.learningObjectives}}
    </div>
    <div class="grading-classes-container">
      {{#each gradingClasses as |gradingClass|}}
        <div class="grading-class-container" {{action "onGradeItem" gradingClass}}>
          <div class="class-title">{{gradingClass.title}}</div>
          <div class="student-count">
            {{gru-icon name="account_circle"}}
            <span class="count-value">{{gradingClass.studentCount}}</span>
          </div>
          <div class="grading-icon"></div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
