<div class="panel">
  <div class="panel-heading">
    <div class="title ellipsis" data-placement="bottom" data-toggle="tooltip" title="{{class.title}}" data-trigger="hover">
      {{truncate text=class.title maxLength=25}}
    </div>
    <div class="class-settings" {{action 'selectItem' 'class-management'}} title="{{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-head'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
      {{gru-icon name="settings"}}
    </div>
  </div>

  <div class="panel-body">
    <div class="information {{if course 'has-course' 'has-no-course'}}" {{action 'lanuchAddCourseOrATCView'}} style="background-image: url({{course.thumbnailUrl}})">
      <div class="current-activity">
        {{#if course}}
          <span>{{t "student-landing.class.assigned-course"}}</span>
        {{else}}
          <p>{{t "student-landing.class.no-course-assigned"}}</p>
          <p>{{t "goahead.add.something"}}</p>
        {{/if}}
      </div>
      {{#if course}}
        <div class="title-section">
          <div  class="title pointer" alt="{{course.title}}">
            {{truncate text=course.title maxLength=90}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="card-action-container {{if isPremiumClass 'premium-class'}}">
      <div class="atc-view" {{action 'selectItem' 'atc'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'teacher-landing.class.performance-overview'}}" data-trigger="hover">
        <i class="icon" />
      </div>
      <div class="student-proficiency" {{action 'selectItem' 'students'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'teacher-landing.class.student-locator'}}" data-trigger="hover">
        {{gru-icon name="school"}}
      </div>
      <div class="class-activities  {{if (not isPremiumClass) (concat 'grade-range-' (grade-range class.performanceSummaryForDCA.scoreInPercentage))}}">
        <div class="class-activities-icon" {{action 'selectItem' 'class-activities'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'student-landing.class.class-activities'}}" data-trigger="hover">
          <i class="icon" />
        </div>
        {{#if (not isPremiumClass)}}
          <div class="class-activities-score {{if (not hasCAStarted) 'not-started'}}" {{action 'selectItem' 'ca-report'}}>
            {{if hasCAStarted (concat class.performanceSummaryForDCA.scoreInPercentage '%') '--' }}
          </div>
        {{/if}}
      </div>
      <div class="course-map {{if (not isPremiumClass) (concat 'grade-range-' (grade-range class.performanceSummary.score))}}">
        <div class="course-map-icon" {{action 'selectItem' 'course-map'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'teacher-landing.class.learning-journey'}}" data-trigger="hover">
          {{gru-icon name="sort"}}
        </div>
        {{#if (not isPremiumClass)}}
          <div class="course-map-score {{if (not hasCMStarted) 'not-started'}}" {{action 'selectItem' 'cm-report'}}>
            {{if hasCMStarted (concat class.performanceSummary.score '%') '--' }}
          </div>
        {{/if}}
      </div>

      {{#if isPremiumClass}}
        <div class="completion-score {{if class.competencyStats 'has-competency-stats'}}" {{action 'selectItem' 'students'}}>
          {{#if class.competencyStats}}
            <span>{{class.competencyStats.completedCompetencies}}/{{class.competencyStats.totalCompetencies}}</span>
          {{else}}
            <span>--</span>
          {{/if}}
        </div>
      {{/if}}
    </div>
    <div class="card-class-code">
      <span>{{t 'teacher-landing.class.class-management-tab.class-code'}}</span>
      <span class="class-code">{{class.code}}</span>
    </div>
  </div>
</div>
