<div class="class-activity-card">
  <div class="content-thumbnail" style="background-image: url({{activityContent.thumbnailUrl}})" {{action "onShowContentPreview"}}>
    <div class="icon">
      <i class="{{activityContent.format}}-icon" />
    </div>
    <div class="content-title ellipsis">
      <span class="ellipsis">{{activityContent.title}}</span>
    </div>
  </div>
  <div class="activity-info">
    <div class="content-counts">
        <div class="class-list">
          <span {{action "onToggleContent" 'class-info'}}>
            {{gru-icon name="group"}}
          </span>
        </div>
      {{#if isOfflineActivity}}
        <div class="task-count count-container">
          <span class="task-icon icon-style"></span>
          <span class="count-value">{{activityContent.taskCount}}</span>
        </div>
      {{else}}
        <div class="resource-count count-container {{if isAssessment 'hidden'}}">
          <span class="resource-icon icon-style"></span>
          <span class="count-value">{{activityContent.resourceCount}}</span>
        </div>
        <div class="question-count count-container">
          <span class="question-icon icon-style"></span>
          <span class="count-value">{{activityContent.questionCount}}</span>
        </div>
      {{/if}}
    </div>
    {{#if (and isOfflineActivity (not isUnscheduledActivity))}}
      <div class="activity-date">
        {{format-date activity.added_date 'DD MMM'}} - {{format-date activity.end_date 'DD MMM'}}
      </div>
    {{/if}}
    <div class="more">
      <span {{action "onToggleContent" 'activity-actions'}}>
        {{gru-icon name="more_vert"}}
      </span>
    </div>
    <div class="card-thumbnail" style="background-image: url({{activityContent.thumbnailUrl}})"></div>
  </div>
  <div class="content content-info">
    <span class="tag-tooltip">{{contentDescription}}</span>
  </div>
  <div class="class-info">
    {{#each activityClasses as |activityClass|}}
      <div class="assigned-class">
        <div class="class-title ellipsis" title="{{activityClass.title}}" data-toggle="tooltip">
          {{activityClass.title}}
        </div>
        <div class="activity-action {{if activity.isCompleted 'disable-event'}} student-count {{if isUnscheduledActivity 'hidden'}}" {{action "onShowStudentsList" activityClass}}>
          {{gru-icon name="account_circle" class="icon-style"}}
          {{#if (eq activityClass.activity.usersCount -1)}}
            <span class="hidden-xs">{{t 'common.all'}}</span>
          {{else if (eq activityClass.activity.usersCount 0)}}
            <span class="hidden-xs">{{t 'common.none'}}</span>
          {{else}}
            <span class="hidden-xs"> {{activityClass.activity.usersCount}}</span>
          {{/if}}
        </div>
        <div class="activity-action suggestion-count hidden" {{action "onShowSuggestionList" activityClass}}>
          {{gru-icon name="check_circle" class="icon-style"}}
        </div>
        {{#if activity.isActive}}
          <div class="activity-action delete-activity {{unless (eq activityClass.activity.usersCount 0) 'hidden'}}" {{action 'removeClassActivity' activityClass}}>
            {{gru-icon name="delete_outline" class="icon-style"}}
          </div>
        {{/if}}
        {{#unless isUnscheduledActivity}}
          {{#if activityClass.content.performance.hasStarted}}
            <div class="add-data performed-activity {{unless activityClass.content.performance.timeSpent 'only-score'}} {{if isCollection 'collection-performance'}} grade-range-{{grade-range activityClass.content.performance.score}}" {{action "onOpenPerformanceEntry" activityClass}}>
              <span class="activity-score">
                {{activityClass.content.performance.score}}%
              </span>
              <span class="activity-timespent">
                {{format-time activityClass.content.performance.timeSpent}}
              </span>
            </div>
          {{else}}
            {{#if activity.isActive}}
              {{#if isOfflineActivity}}
                <div class="oa-grading {{unless activity.isCompleted 'not-completed'}}" {{action "onEnableOaGrading" activityClass}}>
                  <span class="rubric-icon" />
                </div>
              {{else}}
                <div class="add-data not-started {{unless activity.isActive 'disable-performance'}}" {{action "onOpenPerformanceEntry" activityClass}}>
                  Add Data
                </div>
              {{/if}}
            {{else}}
              <div class="delete" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.remove"}}" {{action 'removeClassActivity' activityClass}}>
                {{gru-icon name="delete_outline"}}
              </div>
            {{/if}}
          {{/if}}
        {{/unless}}

      </div>
    {{/each}}
  </div>
  <div class="activity-actions">
    {{#unless isUnscheduledActivity}}
      <div class="activate-activity {{if activity.isActive 'disable-event'}}" title="{{t 'common.activate'}}" data-toggle="tooltip">
        {{gru-switch
          isChecked = activity.isActive
          switchOptions = switchOptions
          onOptionSwitch = "onToggleActivityVisibility"}}
          <label>{{t 'common.activate'}}</label>
      </div>
    {{/unless}}
    <div class="reschedule-activity" title="{{t 'common.Reschedule'}}" data-toggle="tooltip" {{action "onRescheduleActivity"}}>
      {{gru-icon name="update"}}
      <label>{{t 'common.Reschedule'}}</label>
    </div>
    {{#if isShowMasteryAccrual}}
      <div  class="mastery">
        <div class="mastery-accrual {{if activity.allowMasteryAccrual 'checked'}} {{if isActivityPast 'disable-event'}}" title="Mastery" data-toggle="tooltip" {{action "onEnableMastery"}}>
          {{gru-icon name=(if activity.allowMasteryAccrual 'radio_button_checked' 'radio_button_unchecked')}}
        </div>
        <label>{{t 'common.mastery'}}</label>
      </div>
    {{/if}}
    {{#if isOfflineActivity}}
      <div class="mark-completed {{if activity.isCompleted 'completed'}} {{unless activity.isActive 'in-active'}}" {{action "onMarkOaCompleted"}}  title="{{if activity.isCompleted 'Completed' 'Mark Completed'}}" data-toggle="tooltip">
        {{gru-icon name=(if activity.isCompleted 'check_circle' 'check_circle_outline')}}
        {{#if activity.isCompleted}}
          <label>{{t 'common.completed'}}</label>
        {{else}}
          <label>{{t 'common.mark-as-completed'}}</label>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
