<div class="header-panel" {{action 'closeNotificationList'}}>
  {{#if session.networkStatus}}
    <div class="row-fluid network-progress-indicator">
    </div>
  {{/if}}
  <div class="nav-body hidden-xs {{if isILActivity  'independent-learning'}} {{if class.isArchived 'class-archived'}} {{unless hasClassInfo 'no-class-info'}}">
    <div class="app-close" {{action "onClickBrand"}}>
      {{#link-to 'index' class="navbar-brand home-link" }}
        <i class="gru-icon material-icons close">close</i>
      {{/link-to}}
    </div>
    {{#unless class.isArchived}}
      {{#unless isILActivity}}
        <div class="class-activities tab">
          <a {{action 'selectItem' 'class-activities'}} title="{{t 'teacher-landing.class.class-activities'}}" role="tab" data-toggle="tooltip">
            <i class="dca-pin"></i>
            <span class="add-info dca-text">{{t 'teacher-landing.class.class-activities'}}</span>
          </a>
        </div>
      {{/unless}}
      <div class="course-map study-player tab {{destination}} {{if isPremiumCourse 'premium-course'}}">
        {{#if (eq selectedMenuItem 'course-map')}}
          <a {{action 'selectItem' 'study-player'}} role="tab" data-toggle="tooltip" title="{{t 'student-landing.study-player'}}" class="{{unless isCourseMapped 'no-course'}}">
            {{gru-icon name='play_arrow'}}
            <span class="add-info">{{t 'student-landing.study-player'}}</span>
          </a>
        {{else}}
          <a {{action 'selectItem' 'course-map'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.course-map'}}">
            {{gru-icon name='sort'}}
            <span class="add-info">{{t 'teacher-landing.class.course-map'}}</span>
          </a>
        {{/if}}
      </div>
    {{/unless}}
    {{#if navTitle}}
      <div class="studyplayer-title">
        <span>{{navTitle}}</span>
      </div>
    {{/if}}
    {{#if isFeatureEnabled }}
      <div class="notification-tab">
        {{notification/notification-indicator displayNotificationList=displayNotificationList accessorClass='class' classId=classId isTeacher=false }}
      </div>
    {{/if}}
    {{#if hasClassInfo }}
      {{#if (not isPremiumClass)}}
        <div class="performance-chart {{unless hasStarted 'not-started'}}" {{action 'openCourseReport'}}>
          {{charts/gru-performance-chart performanceSummary=performanceSummary }}
        </div>
      {{/if}}
      <div class="class-info">
        <a {{action 'selectItem' 'class-info'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management-tab.class-information'}}">
          <img src='/assets/gooru/info-outline-white.png'>
        </a>
      </div>
    {{else}}
      <div class="performance">
        {{#if performanceSummary}}
          <span class="score">{{performanceSummary.totalCompleted}}/{{performanceSummary.total}}</span>
        {{else}}
          <span class="score">--</span>
        {{/if}}
        <span class="label">{{t 'common.completion'}}</span>
      </div>
      <div class="performance-summary" style="background-color:{{if performanceSummary (grade-color performanceSummary.score) defaultBarColor}}">
        <span class="score">
          {{#if performanceSummary}}
            {{#if performanceSummary.score}} {{performanceSummary.score}}% {{else}}0% {{/if}} {{else}}--
          {{/if}}
        </span>
        <span class="label">{{t 'teacher-landing.class.performance'}} </span>
      </div>
    {{/if}}
  </div>
  <div class="hidden visible-xs">
    <div class="header-container">
      <div class="nav-bar">
        <div class="close tab" {{action "onClickBrand"}}>
          {{#link-to 'index' class="navbar-brand home-link" }} {{/link-to}}
        </div>
        {{#unless class.isArchived}}
          {{#unless isILActivity}}
            <div class="class-activities dca tab">
              <a {{action 'selectItem' 'class-activities'}}>
                <i class="dca-pin"></i>
              </a>
            </div>
          {{/unless}}
          <div class="action">
            <div class="course-map study-player tab {{destination}} {{if isPremiumCourse 'premium-course'}}">
              {{#if (eq selectedMenuItem 'course-map')}}
                <a {{action 'selectItem' 'study-player'}} class="{{unless isCourseMapped 'no-course'}}">
                  {{gru-icon name='play_arrow'}}
                </a>
              {{else}}
                <a {{action 'selectItem' 'course-map'}}>
                  {{gru-icon name='sort'}}
                </a>
              {{/if}}
            </div>
          </div>
          {{#if isFeatureEnabled }}
            <div class="notification-tab">
              {{notification/notification-indicator displayNotificationList=displayNotificationList accessorClass='class' classId=classId isTeacher=false }}
            </div>
          {{/if}}
        {{/unless}}
      </div>
      <div class="report-container-bar">
        {{#if hasClassInfo }}
          {{#if (not isPremiumClass)}}
            <div class="report {{unless hasStarted 'not-started'}}" {{action 'openCourseReport'}}>
              {{charts/gru-performance-chart performanceSummary=performanceSummary }}
            </div>
          {{/if}}
        {{else}}
          <div class="performance-summary" style="background-color:{{if performanceSummary (grade-color performanceSummary.score) defaultBarColor}}">
            <span class="score">
              {{#if performanceSummary}}
                {{#if performanceSummary.score}} {{performanceSummary.score}}% {{else}}0% {{/if}} {{else}}--
              {{/if}}
            </span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>