<div class="backdrop" {{action "onClose"}}></div>
<div class="class-progress-report-container">
  <div class="print-preview" title="{{t 'common.download'}}" data-toggle="tooltip" {{action "onPrintPreview"}}>
    {{gru-icon name="get_app"}}
  </div>
  <table>
    <thead class="header-penal">
      <div class="report-summery">
        <div class="student-details">
          <div class="thumbnail-container" style="background-image: url({{studentInfo.thumbnailUrl}}) !important;"></div>
          <div class="student-name">
            {{studentInfo.firstName}}  {{studentInfo.lastName}}
          </div>
        </div>
        <div class="class-name"> {{t 'common.progress-report'}} {{t 'common.for'}} {{class.title}} </div>
        <div class="date-range">
          {{#if reportStartDate}}
            <span class="date">{{format-date reportStartDate 'Do MMMM'}} to  {{format-date reportEndDate ' Do MMMM YYYY'}}</span>
          {{else}}
            <span class="date">{{t 'beginning-till-now'}}</span>
          {{/if}}
        </div>
      </div>
    </thead>
    <tbody class="body-penal">
      <div class="student-report">
        <table class="report">
          <thead>
            <tr>
              <th>{{t 'class-progress-report-competencies-mastered'}}</th>
              <th>{{t 'class-progress-report-competencies-inprogress'}}</th>
              <th>{{t 'badges-earned'}}</th>
              <th>{{t 'common.total-time-spent'}}</th>
              <th>{{t 'class-progress-report.performance-score'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{#if weeklyReportData.masteredCompetenciesCount}}
                  {{weeklyReportData.masteredCompetenciesCount}}
                {{else}}
                  --
                {{/if}}
              </td>
              <td>
                {{#if weeklyReportData.inprogressCompetenciesCount}}
                  {{weeklyReportData.inprogressCompetenciesCount}}
                {{else}}
                  --
                {{/if}}
              </td>
              <td>
                {{#if weeklyReportData.badgeEarned}}
                  {{weeklyReportData.badgeEarned}}
                {{else}}
                  --
                {{/if}}
              </td>
              <td>
                {{#if weeklyReportData.totalTimespent}}
                  {{format-time  weeklyReportData.totalTimespent}}
                {{else}}
                  --
                {{/if}}
              </td>
              <td>
                {{#if weeklyReportData.averageScore}}
                  {{weeklyReportData.averageScore}}
                {{else}}
                  --
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="skyline-report">
        <div class="chart">
          <div class="proficiency-chart">
            {{proficiency/learner-proficiency-domain-matrix
              subjectBucket=subjectBucket
              timeLine=timeLine
              userId=userId
              subject=activeSubject
              class=class
              competencyMatrixDomains=competencyMatrixDomains
              competencyMatrixCoordinates=competencyMatrixCoordinates
              isSelectBaseLine=isSelectBaseLine
              userProficiencyBaseLine=userProficiencyBaseLine
              isShowMatrixChart=isShowMatrixChart
              selectedDomain=selectedDomain
              taxonomyGrades=taxonomyGrades
              showGutCompetency=showGutCompetency
              hideGutCompetencyButton=hideGutCompetencyButton
              classGrade=classGrade
              subjectCode=subjectCode
              selectedCompetency=selectedCompetency
              fwCompetencies=fwCompetencies
              isPlayerProficiency = isPlayerProficiency
            }}
          </div>
          <div class="competencies-list">
            <div class="subject-name">{{activeSubject.title}} {{t 'common.domains'}}</div>
            {{#each competencyMatrixCoordinates.domains as |domain index|}}
              <div class="domain-name">
                <span>{{plus-one index}}.</span>
                <span>{{domain.domainName}}</span>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="proficiency-tags">
          <div class="proficiency-legends">
            <div class="mastered legend">
              <span class="box"></span>
              <span class="title">{{t 'profile.proficiency.mastered'}}</span>
            </div>
            <div class="in-progress legend">
              <span class="box"></span>
              <span class="title">{{t 'profile.proficiency.in-progress'}}</span>
            </div>
            <div class="not-started legend">
              <span class="box"></span>
              <span class="title">{{t 'profile.proficiency.not-started'}}</span>
            </div>
            <div class="show-gut legend">
              <span class="box"></span>
              <span class="title">{{t 'competencies-not-in-framework'}}</span>
            </div>
            <div class="skyline legend">
              <span class="box-skyline"></span>
              <span class="title">{{t 'profile.proficiency.skyline'}}</span>
            </div>
            <div class="class-grade-line legend">
              <span class="box-class-grade-line"></span>
              <span class="title">{{t 'grade-selector.placeholder'}}</span>
            </div>
          </div>
        </div>
      </div>
    </tbody>
  </table>
</div>
