<div class="header-panel">
  <div class="nav-body">
    <div class="app-brand">
      {{#link-to 'index' class="navbar-brand home-link" }} {{/link-to}}
    </div>
    {{#unless class.isArchived}}
      {{#if (not (eq sourceType 'ILActivity')) }}
        {{#if (not (eq ILActivity 'true')) }}
          <div class="class-activities tab">
            <a {{action 'selectItem' 'class-activities'}} title="{{t 'teacher-landing.class.class-activities'}}" role="tab" data-toggle="tooltip">
              <i class="dca-pin"></i>
              <span class="add-info dca-text">{{t 'teacher-landing.class.class-activities'}}</span>
            </a>
          </div>
        {{/if}}
      {{/if}}
      <div class="course-map study-player tab">
        {{#if (eq selectedMenuItem 'course-map')}}
          <a {{action 'selectItem' 'study-player'}} role="tab" data-toggle="tooltip" title="{{t 'student-landing.study-player'}}">
            {{gru-icon name='play_arrow'}}
            <span class="add-info">{{t 'student-landing.study-player'}}</span>
        </a>
        {{else}}
          <a {{action 'selectItem' 'course-map'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.course-map'}}">
            {{gru-icon name='sort'}}
            <span class="add-info">{{t 'teacher-landing.class.course-map'}}</span>
        </a>
        {{/if}}
      </div>
    {{/unless}}
    {{#if (not (eq sourceType 'ILActivity')) }}
      {{#if (not (eq ILActivity 'true')) }}
        <div class="profile tab">
          <a {{action 'selectItem' 'profile'}} role="tab" data-toggle="tooltip" title="{{t 'common.myProfile'}} ">
              {{gru-icon name='account_circle'}}
              <span class="my-profile add-info">{{t 'common.myProfile'}}</span>
          </a>
        </div>
      {{/if}}
    {{/if}}
    {{#if navTitle}}
      <div class="studyplayer-title">
        <span>{{navTitle}}</span>
      </div>
    {{/if}}
    {{#if isFeatureEnabled }}
      <div class="notification-tab">
        {{notification/notification-indicator accessorClass='class' class=class isTeacher=false }}
      </div>
    {{/if}}
    {{#if hasClassInfo }}
      {{#if (not isPremiumClass)}}
        <div class="performance-chart {{unless hasStarted 'not-started'}}" {{action 'openCourseReport'}}>
          {{charts/gru-performance-chart performanceSummary=performanceSummary }}
        </div>
      {{/if}}
      <div class="class-info">
        <a {{action 'selectItem' 'class-info'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management-tab.class-information'}}">
            <img src='/assets/gooru/info-outline-white.png'>
        </a>
      </div>
    {{else}}
      <div class="performance">
        {{#if performanceSummary}}
          <span class="score">{{performanceSummary.totalCompleted}}/{{performanceSummary.total}}</span>
        {{else}}
          <span class="score">--</span>
        {{/if}}
        <span class="label">{{t 'common.completion'}}</span>
      </div>
      <div class="performance-summary" style="background-color:{{if performanceSummary (grade-color performanceSummary.score) defaultBarColor}}">
        <span class="score">
          {{#if performanceSummary}}
          {{#if performanceSummary.score}} {{performanceSummary.score}}% {{else}}0% {{/if}} {{else}}--
          {{/if}}
        </span>
        <span class="label">{{t 'teacher-landing.class.performance'}} </span>
      </div>
    {{/if}}
  </div>
</div>
