<div class="milestone-course-map-route0-preview-container">
  <div class="milestone-course-map-route0-preview-header" {{action 'showRoute0Preview'}}>
    <div class="milestone-route0-suggest-icon">
      {{gru-icon name="explore_outline"}}
    </div>
    <div class="milestone-route0-suggest-info">
      <p>As per your competency profile, there are some competencies that you need to master so that you can do well in this course. We have a route that we recommend you take to master these competencies. Click here to see the details.</p>
    </div>
  </div>
  <div class="route0-preview-container">
    <div class="route0-preview-author-info-container">
      <p class="route0-preview-title">Suggested Lessons</p>
      <p class="created-by"> Created by Kangoorus </p>
    </div>
    <div class="route0-preview-chart-course-map-container">
      <div class="route0-preview-chart">
        {{class.overview.route-suggestion-proficiency-matrix
          route0=route0
          class=class
          course=course}}
      </div>
      <div class="route0-preview-course-map">
        {{student.class.milestone-course-map-route0
          showPerformance=false
          locateLastPlayedItem=false
          class=class
        }}
      </div>
    </div>
  </div>
  <div class="route0-preview-actions-container">
    <div class="accept" {{action "updateRoute0" 'accepted'}}>
      Accept
    </div>
    <div class="ignore" {{action "updateRoute0" 'rejected'}}>
      <span>No, thanks</span>
    </div>
  </div>
</div>
