<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="student-milestone-report-container">
  <div class="milestone-report-header-container">
    <div class="title-container">
      {{title}}
    </div>
    <div class="close-container" {{action "onClosePullUp"}}>
      {{gru-icon name="clear"}}
    </div>
  </div>
  <div class="milestone-report-body-container">
    {{yield}}
  </div>
</div>
