<div class="grade-rubric-categories">
  {{#each categories as | category categoryIndex |}}
    <div class="grade-rubric-category" id="grade-rubric-category-{{categoryIndex}}">
      {{#if category.allowsLevels}}
        <div class="grade-rubric-category-info">
          <p>{{category.title}}</p>
        </div>
      {{/if}}
      <div class="grade-rubric-level-container">
        {{#if category.allowsLevels}}
          <div class="grade-rubric-levels {{unless (and category.allowsLevels category.allowsScoring) 'no-progress'}} {{if category.scoreInPrecentage 'active'}}">
            {{#each category.levels as |level levelIndex|}}
              <i class="grade-info-popover {{if level.selected 'selected'}}" data-html="true" title="Points: {{level.score}}" data-content="{{level.name}}" data-category={{categoryIndex}} data-level={{levelIndex}}></i>
            {{/each}}
            {{#if (and category.allowsLevels category.allowsScoring)}}
              <div class="progress-bar" style={{safe-html (concat "background-color:" (grade-color category.scoreInPrecentage) ";width:" category.scoreInPrecentage "%")}}></div>
            {{/if}}
          </div>
        {{else}}
          <div class="grade-rubric-category-info">
            <p>{{category.title}}</p>
          </div>
        {{/if}}
        <div class="grade-clear {{if category.selected 'active'}}" {{action 'unSelectCategoryLevel' category}}>
          {{gru-icon name="clear"}}
        </div>
        <div class="grade-comment" {{action 'onShowAddCommentBox' categoryIndex}}>
          {{gru-icon name="mode_comment"}}
        </div>
      </div>
      <div class="grade-comment-section {{if isDisable 'disable-event'}}">
        {{validation.gru-textarea
            model=category
            valuePath='comment'
            maxLength=500
            rows=1
            placeholder='Add Comment'
          }}
      </div>
    </div>
  {{/each}}
</div>
