<div class="heading">MICRO COMPETENCIES</div>
<div class="micro-competencies">
  {{#each microCompetencies as | microCompetency index|}}
    <div>
      <div class="panel-header collapsed" data-toggle="collapse" data-target="#collapse-{{index}}">
        <span class="code">{{microCompetency.code}}</span>
      </div>
      <div class="panel-content collapse" id="collapse-{{index}}">
        <span class="description">{{microCompetency.title}}</span>
      </div>
    </div>
  {{/each}}
</div>
<div class="heading">PREQUISITE COMPETENCIES</div>
<div class="prequisite-competencies">
  {{#each prequisiteCompetencies as | prerequisiteCompetency|}}
    <div class="panel-container">
      <div class="panel-header">
        <div class="title">{{prerequisiteCompetency.code}}</div>
      </div>
      <div class="panel-body">
        <div class="competency-description">{{prerequisiteCompetency.title}}</div>
      </div>
    </div>
  {{/each}}
</div>
