<div class="competency-performance">
  <div class="competency-name">
    {{competency.competencyName}}
  </div>
  {{#if isShowGlobalInfo}}
    {{#if learningMapData}}
      <div class="student-data toggle-view" {{action "onToggleCompetencyInfoView"}}>{{t 'report.competency-report.show-student-data'}}</div>
      <div class="competency-global-info">
        {{proficiency.competency-content-info learningMapData=learningMapData onSelectActivityContent="onSelectActivityContent"}}
      </div>
    {{else}}
      {{three-bounce-spinner}}
    {{/if}}
  {{else}}
    <div class="collections-accordion">
      {{#each collectionPerformances as |collectionPerformance|}}
        {{reports.pull-up.accordion.collection-accordion collection=collectionPerformance userId=userId}}
      {{/each}}
    </div>
    {{#if isStudent}}
      <div class="signature-content">
        {{reports.pull-up.signature-content-report showSignatureAssessment=showSignatureAssessment competency=competency}}
      </div>
    {{/if}}
    {{#unless isStudent}}
      <div class="global-data toggle-view" {{action "onToggleCompetencyInfoView"}}>{{t 'report.competency-report.show-learning-map'}}</div>
    {{/unless}}
  {{/if}}
</div>

{{#if isShowActivityPullup}}
  {{reports.pull-up.activity-list
    activityContents=activityContents
    activityContentType=activityContentType
    activityTotalHitCount=activityTotalHitCount
    showPullUp=isShowActivityPullup
    onResetPullUpData="onResetPullUpData"
    onClickShowMoreActivity="onClickShowMoreActivity"
  }}
{{/if}}
