<div class="header-tab-panel">
  <div class="nav-tabs">
    <div class="tab {{if (eq selectedItem 'metadata') 'active'}}" {{action 'selectItem' 'metadata'}}>METADATA</div>
    <div class="tab {{if (eq selectedItem 'journey') 'active'}}" {{action 'selectItem' 'journey'}}>JOURNEY</div>
  </div>
</div>
<div class="panel-content">
  {{#if (eq selectedItem 'journey')}}
    {{reports.pull-up.student-journey  collectionPerformances=collectionPerformances userId=userId}}
  {{else}}
    {{reports.pull-up.competency-meta-data  microCompetencies=microCompetencies prequisiteCompetencies=prequisiteCompetencies }}
  {{/if}}
</div>
