<div class="header-tab-panel">
  <div class="nav-tabs">
    <div class="tab {{if (eq selectedItem 'metadata') 'active'}}" {{action 'selectItem' 'metadata'}}>{{t 'competency-info-content.metadata'}}</div>
    <div class="tab {{if (eq selectedItem 'journey') 'active'}}" {{action 'selectItem' 'journey'}}>{{t 'competency-info-content.portfolio'}}</div>
    <div class="tab {{if (eq selectedItem 'learning') 'active'}}" {{action 'selectItem' 'learning'}}>{{t 'competency-info-content.learning-map'}}</div>
  </div>
</div>
<div class="panel-content">
  {{#if (eq selectedItem 'journey')}}
    {{reports/pull-up/student-journey competency=competency isStudent=isStudent collectionPerformances=collectionPerformances userId=userId}}
  {{else if (eq selectedItem 'metadata')}}
    {{reports/pull-up/competency-meta-data microCompetencies=microCompetencies prequisiteCompetencies=prequisiteCompetencies }}
  {{else}}
    {{reports/pull-up/learning-map-content learningMapData=learningMapData onSelectActivityContent="onSelectActivityContent" isStudent=isStudent learningMapData=learningMapData}}
  {{/if}}
</div>
