<div class="backdrop" {{action "onClosePullup"}}></div>
<div class="competency-completion-report-container">
  <div class="competencies-list-container">
    <div class="title-container"><span class="close-pullup" {{action "onClosePullup"}}>{{gru-icon name="keyboard_backspace"}}</span><span class="title-text">Competencies</span></div>
    <div class="competencies-container">
      {{#each competencyCompletionReport as |competencyData competencySeq|}}
        <div class="competency-container competency-{{competencySeq}}">
          <div class="competency-completion-info-container">
            <div class="competency-info" {{action "onSelectCompetency" competencyData competencySeq}}>
              <div class="competency-code">{{competencyData.competencyCode}}</div>
              <div class="competency-name ellipsis">{{competencyData.competencyDesc}}</div>
            </div>
            <div class="competency-suggestion" {{action "onSuggestAtCompetency" competencyData}}>
              {{gru-icon name="explore"}}
            </div>
            <div class="competency-completion-performance">
              <div class="completion-percentage">{{competencyData.completionPercentage}}%</div>
              <div class="completion-box"><span style="background-color: {{safe-html (grade-color competencyData.completionPercentage)}}; width: {{competencyData.completionPercentage}}%;"></span></div>
            </div>
          </div>
          <div class="users-completion-container collapsed">
            {{#if isLoading}}
              {{three-bounce-spinner}}
            {{else}}
              {{#each competencyData.usersCompletionSummary as |userCompletionData|}}
                <div class="user-completion-container">
                  <div class="user-info">
                    <div class="user-thumbnail {{if userCompletionData.selected 'selected-student'}}" {{action "onSelectStudent" userCompletionData}} style="background-image: url({{userCompletionData.thumbnail}})">
                      {{gru-icon name="done_all" class="tick-icon"}}
                    </div>
                    <div class="user-name ellipsis">{{concat userCompletionData.firstName ' ' userCompletionData.lastName}}</div>
                  </div>
                  <div class="user-competency-status">
                    <div class="competency-status-text">{{t (concat 'common.competency-status-' userCompletionData.status)}}</div>
                    <div class="competency-status-color competency-status-{{userCompletionData.status}}"></div>
                  </div>
                </div>
              {{else}}
                <div class="user-data-not-available">
                  {{t 'teacher-landing.class.students-tab.data-not-available'}}
                </div>
              {{/each}}
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class="data-not-available">{{t 'teacher-landing.class.students-tab.data-not-available'}}</div>
      {{/each}}
    </div>
  </div>
</div>

{{#if isShowStudentSuggestion}}
  <div class="trigger-suggestion">
    <div class="label-text">{{t 'common.add'}}</div>
    {{#each contentTypes as |contentType|}}
      <div class="{{contentType.format}} activity-type {{if (eq activeContentType contentType.format) 'active'}}" {{action "onFilterBy" contentType.format}}>
        <i class="icon"></i>
      </div>
    {{/each}}
  </div>
{{/if}}
