<div class="external-assessment-performance-container">
  <div class="assessment-thumbnail" style="background-image: url({{assessment.thumbnailUrl}})"></div>
  {{#if isShowMaxScoreEntry}}
    <div class="max-score-entry-container">
      <div class="text-title">
        {{t 'teacher-landing.class.class-activities-tab.enter-max-score'}}
      </div>
      <div class="score-entry">
        {{
          input type="text"
          class="max-score-entry"
          value=assessmentMaxScore
          key-up="onTypeMaxAssessmentScore"
        }}
        {{#if (and isTypingMaxScore (not isValidMaxScore))}}
          <span class="error">{{t 'self-report.validation-error'}}</span>
        {{/if}}
      </div>
      <div class="action {{unless isValidMaxScore 'disabled'}}" {{action "onEnterMaxScore"}}>
        {{t 'common.confirm'}}
      </div>
    </div>
  {{else}}
    <div class="assessment-max-score">
      {{t 'teacher-landing.class.class-activities-tab.assessment-max-score'}}: {{assessmentMaxScore}}
    </div>
    <div class="active-student">
      <div class="last-name">{{t 'common.last-name'}}</div>
      <div class="first-name">{{t 'common.first-name'}}</div>
      <div class="score">{{t 'common.score'}}</div>
    </div>
    <div class="students-container">
      {{#each students as |student studentSeq|}}
        <div class="student-info-container {{if (eq activeStudent.id student.id) 'selected-student'}}">
          <div class="student-info student-{{studentSeq}}">
            <div class="student-thumbnail" style="background-image: url({{student.avatarUrl}})">{{gru-icon name="done_all"}}</div>
            <div class="last-name ellipsis">{{student.lastName}}</div>
            <div class="first-name ellipsis">{{student.firstName}}</div>
            <div class="student-score">
              {{input type="text" class=(concat 'student-score-entry' ' s-' studentSeq '-score')
                focus-in=(action "onSelectStudent" student studentSeq)
                key-up=(action "onEditScore" student studentSeq)
                pattern="[0-9]*"
                inputmode="numeric"
                value=student.score
              }}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="action-container">
      <div class="next action {{unless isEnableSubmit 'disabled'}}" {{action "onSubmitScore"}}>{{t 'common.save-submit'}}</div>
    </div>
  {{/if}}
</div>
