<div class="external-assessment-performance-container">
  <div class="assessment-thumbnail" style="background-image: url({{assessment.thumbnailUrl}})"></div>
  {{#if isShowMaxScoreEntry}}
    <div class="max-score-entry-container">
      <div class="text-title">
        ENTER THE MAXIMUM SCORE FOR THE ASSESSMENT
      </div>
      <div class="score-entry">
        {{input type="text" class="max-score-entry"
          value=assessmentMaxScore
        }}
      </div>
      <div class="action {{unless isValidMaxScore 'disabled'}}" {{action "onEnterMaxScore"}}>
        Confirm
      </div>
    </div>
  {{else}}
    <div class="question-score header"><span>Assessment Score</span></div>
    <div class="assessment-max-score">
      Assessment Max. Score: {{assessmentMaxScore}}
    </div>
    <div class="active-student">
      <div class="student-thumbnail" style="background-image: url({{activeStudent.avatarUrl}})"></div>
      <div class="student-name ellipsis">{{activeStudent.fullName}}</div>
      <div></div>
    </div>
    <div class="students-container">
      {{#each students as |student studentSeq|}}
        <div class="student-info-container student-{{studentSeq}} {{if (eq activeStudent.id student.id) 'selected-student' }}">
          <div class="student-thumbnail" style="background-image: url({{student.avatarUrl}})">{{gru-icon name="done_all"}}</div>
          <div class="last-name ellipsis">{{student.lastName}}</div>
          <div class="first-name ellipsis">{{student.firstName}}</div>
          <div class="student-score">
            {{input type="text" class=(concat 'student-score-entry' ' s-' studentSeq '-score')
              focus-in=(action "onSelectStudent" student studentSeq)
              focus-out=(action "onEditScore" studentSeq)
            }}
          </div>
        </div>
      {{/each}}
    </div>
    <div class="action-container">
      <div class="next action" {{action "onMoveNext"}}>Next<div class="student-thumbnail"></div></div>
    </div>
  {{/if}}
</div>
