<div class="external-collection-performance-container">
  <div class="external-collection-thumbnail" style="background-image: url({{collection.thumbnailUrl}})"></div>
  <div class="external-collection-resource-container">
    {{#if isLoading}}
      {{three-bounce-spinner}}
    {{else}}
      <div class="timespent-entry">
        <div class="timespent-hour">
          {{input type="text"
              pattern="[0-9]*"
              inputmode="numeric"
              class="timespent"
              value=maxHour
            }}
          <span class="placeholder-text">{{t 'teacher-landing.class.class-activities-tab.hour'}}</span>
        </div>
        <div class="timespent-mins">
          {{input type="text"
            pattern="[0-9]*"
            inputmode="numeric"
            class="timespent"
            value=maxMins
          }}
          <span class="placeholder-text">{{t 'teacher-landing.class.class-activities-tab.min'}}</span>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="submit {{unless isValid 'disabled'}}" {{action "submit"}}>{{t 'common.submit'}}</div>
</div>
