<div class="external-assessment-performance-container">
  <div class="assessment-thumbnail" style="background-image: url({{assessment.thumbnailUrl}})"></div>
  <div class="question-score header">Question Score</div>
  <div class="active-student">
    <div class="student-thumbnail" style="background-image: url({{activeStudent.avatarUrl}})"></div>
    <div class="student-name ellipsis">{{activeStudent.fullName}} {{activeStudentSeq}}</div>
    <div></div>
  </div>
  <div class="students-container">
    {{#each students as |student studentSeq|}}
      <div class="student-info-container student-{{studentSeq}} {{if (eq activeStudent.id student.id) 'selected-student' }}">
        <div class="student-thumbnail" style="background-image: url({{student.avatarUrl}})"></div>
        <div class="last-name">{{student.lastName}}</div>
        <div class="first-name">{{student.firstName}}</div>
        <div class="student-score">
          {{input type="text" class=(concat 'student-score-entry' ' st-' studentSeq '-score')
            focus-in=(action "onSelectStudent" student studentSeq)
            focus-out=(action "onEditScore" studentSeq)
          }}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="action-container">
    <div class="prev action" {{action "onMoveStudent" 'prev'}}><div class="student-thumbnail"></div>Prev</div>
    <div class="next action" {{action "onMoveStudent" 'next'}}>Next<div class="student-thumbnail"></div></div>
  </div>
</div>
