<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="preview-container">
  <div class="header-container">
    <div class="close-pullup" {{action "onClosePullUp"}}>
      {{gru-icon name="arrow_downward"}}
    </div>
    <div class="preview-title {{previewContentType}}-preview">
      {{previewContentType}} {{t 'common.preview'}}
    </div>
    <div class="content-player" {{action "onPlayContent"}}>
      {{gru-icon name="play_arrow"}}
    </div>
  </div>
  <div class="body-container">
    <div class="content-info-container">
      <div class="title-info-container">
        <div class="thumbnail-container" style="background-image: url({{previewContent.thumbnailUrl}})"></div>
        <div class="content-icon {{previewContentType}}"></div>
        <div class="content-title ellipsis">{{previewContent.title}}</div>
      </div>
      {{#if taxonomyTags.length}}
          <div class="taxonomy-container">
        {{taxonomy.gru-taxonomy-tag-list tags=taxonomyTags tagsVisible=2 isInCard=true}}
          </div>
      {{/if}}
    </div>
    <div class="content-items-container">
      {{#each previewContent.children as |question|}}
        {{cards.question-preview-card question=question isShowCorrectAnswer=isShowCorrectAnswer}}
      {{/each}}
    </div>
  </div>
  <div class="footer-container" {{action "onToggleAnswer"}}>
    {{t (if isShowCorrectAnswer 'common.hide-correct-answer'  'common.show-correct-answer')}}
  </div>
</div>
