<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="oa-preview-container">
  <div class="oa-header-container {{if isReportView 'report'}}">
    <div class="close-pullup" {{action "onClosePullUp"}}>
      {{gru-icon name="arrow_downward"}}
    </div>
    <div class="preview-title-container">
      <i class="oa-icon"></i>
      {{#unless isLoading}}
        <p class="preview-title">{{t 'project'}} {{t offlineActivity.subFormat}}</p>
      {{/unless}}
    </div>

    <div class="content-remix" title="{{t 'common.remix'}}" data-toggle="tooltip" {{action "onRemixContent"}}>
      {{#if showRemix}}
        {{gru-icon name="content_copy"}}
      {{/if}}
    </div>
    <div class="print-preview" title="{{t 'common.download-print'}}" data-toggle="tooltip" {{action "onPrintPreview"}}>
      {{#if showPrint}}
        {{gru-icon name="get_app"}}
      {{/if}}
    </div>

    <div class="content-player" title="{{t 'common.play'}}" data-toggle="tooltip" {{action "onPlayContent"}}>
      {{#if allowPlay}}
        {{gru-icon name="play_arrow"}}
      {{/if}}
    </div>

    {{#if (and isReportView isTeacher)}}
      <div class="oa-overall-performance-container">
        {{#if (gte classActivity.collection.performance.score 0)}}
          <div class="oa-performance grade-range-{{grade-range classActivity.collection.performance.score}}">
            <span class="oa-score">{{classActivity.collection.performance.score}}%</span>
            <span class="oa-timespent">{{format-time classActivity.collection.performance.timeSpent}}</span>
          </div>
        {{else}}
          --
        {{/if}}
      </div>
    {{/if}}
  </div>

  {{#if isReportView}}
    <div class="oa-user-list-container">
      <div class="user-selected-profile" {{action 'toggleListOfStudents'}}>
        <div class="user-profile-img">
          <img src="{{selectedUser.avatarUrl}}" />
          <span>{{selectedUser.lastName}} {{selectedUser.firstName}}</span>
        </div>
        {{#if (and isReportView isTeacher)}}
          <div class="oa-user-list-drop-down">
            {{gru-icon name="keyboard_arrow_down"}}
          </div>
        {{/if}}
      </div>
      {{#if (and isReportView isTeacher)}}
        <div class="oa-list-of-users">
          {{#each users as |user index|}}
            <div class="user-list-container {{if (eq selectedUser.id user.id) 'selected'}}" {{action 'previewStudentReport' user}}>
              <div class="user-profile-img">
                <img src="{{user.avatarUrl}}" />
                <span>{{user.lastName}} {{user.firstName}}</span>
              </div>
              {{#if isReportView}}
                <div class="oa-performance-container">
                  {{#if (gte user.performance.score 0)}}
                    <div class="oa-performance grade-range-{{grade-range user.performance.score}}">
                      <span class="oa-score">{{user.performance.score}}%</span>
                      <span class="oa-timespent">{{format-time user.performance.timeSpent}}</span>
                    </div>
                  {{else}}
                    --
                  {{/if}}
                </div>
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="oa-body-container {{if isReportView 'report-view'}}">
    <div class="oa-info-image-container">
      <div class="oa-image-container" style="background-image: url({{offlineActivity.thumbnailUrl}})">
        <div class="oa-standards">
          {{#if taxonomyTags.length}}
            {{taxonomy/gru-taxonomy-tag-list
              tags=taxonomyTags
              tagsVisible=1
              isInCard=true}}
          {{/if}}
        </div>
        <div class="oa-etc">
          {{gru-icon name="access_time"}}
          <span class="etc-value">{{offlineActivity.durationHours}}h</span>
        </div>
        <div class="oa-date-range">
          {{format-date classActivity.added_date 'DD MMM'}} - {{format-date (if classActivity.end_date classActivity.end_date classActivity.added_date) 'DD MMM'}}
        </div>
      </div>
      <div class="oa-info-container">
        <div class="oa-info-header-container">
          <div class="oa-icon-container">
          </div>
          <div class="oa-title-container">
            <div class="oa-project-label">{{offlineActivity.title}}</div>
            {{#if offlineActivity.learningObjectives}}
              <div class="oa-project-tag">{{t 'common.description'}}</div>
            {{/if}}
          </div>
          {{#if isReportView}}
            <div class="oa-project-performance">
              {{#if (gte selectedUser.performance.score 0)}}
                <div class="oa-performance grade-range-{{grade-range selectedUser.performance.score}}">
                  <span class="oa-score">{{selectedUser.performance.score}}%</span>
                  <span class="oa-timespent">{{format-time selectedUser.performance.timeSpent}}</span>
                </div>
              {{else}}
                --
              {{/if}}
            </div>
          {{/if}}
        </div>
        <div class="oa-description-container">
          {{offlineActivity.learningObjectives}}
        </div>
      </div>
    </div>
    <div class="oa-references-container">
      {{player/offline-activity/gru-offline-activity-references
          offlineActivity=offlineActivity
        }}
    </div>
    <div class="oa-task-container">
      {{#each offlineActivity.tasks as |task|}}
        {{player/offline-activity/gru-offline-activity-task-submission
          task=task
          classId=classId
          showSubmissions=isReportView
          isReadOnly=true
        }}
      {{/each}}
    </div>

    <div class="oa-teacher-student-rubric">
      {{#if studentRubric}}
        <div class="student-rubric-section">
          <div class="student-grading-header">
            <div class="rubric-icon-container">
            </div>
            <div class="rubric-container">
              <div class="grader-label">{{t 'common.student'}} {{t 'common.rubric'}}</div>
              <div class="grade-tag">{{t 'common.self-graded'}}</div>
            </div>
            {{#if (and studentRubric.score  isReportView  studentRubric.maxScore) }}
              <div class="score-section">
                <div class="oa-grade-score grade-range-{{grade-range studentGradeScore}}">
                  <span>{{studentRubric.score}}</span>
                  <hr />
                  <span>{{studentRubric.maxScore}}</span>
                </div>
              </div>
            {{/if}}
          </div>
          {{#if studentRubric.categories}}
            <div class="student-grading-panel">
              {{rubric/rubric-category-grades
              isReadOnly=true
              categories=studentRubric.categories
            }}
            </div>
          {{/if}}
          {{#if studentRubric.comment}}
            <div class="over-all-comment">
              <div class="over-all-comment-label">{{t 'grading-player.overall-comment'}}</div>
              <p>{{studentRubric.comment}}</p>
            </div>
          {{/if}}
        </div>
      {{/if}}
      {{#if teacherRubric}}
        <div class="teacher-rubric-section">
          <div class="teacher-grading-header">
            <div class="rubric-icon-container">
            </div>
            <div class="rubric-container">
              <div class="grader-label">{{t 'common.teacher'}} {{t 'common.rubric'}}</div>
              <div class="grade-tag">{{t 'common.teacher'}}-{{t 'class.info.grade'}}</div>
            </div>
            {{#if (and teacherRubric.score isReportView  teacherRubric.maxScore) }}
              <div class="score-section">
                <div class="oa-grade-score grade-range-{{grade-range teacherGradeScore}}">
                  <span>{{teacherRubric.score}}</span>
                  <hr />
                  <span>{{teacherRubric.maxScore}}</span>
                </div>
              </div>
            {{/if}}
          </div>
          {{#if teacherRubric.categories}}
            <div class="teacher-grading-panel">
              {{rubric/rubric-category-grades
              isReadOnly=true
              categories=teacherRubric.categories
            }}
            </div>
          {{/if}}
          {{#if teacherRubric.comment}}
            <div class="over-all-comment">
              <div class="over-all-comment-label">{{t 'grading-player.overall-comment'}}</div>
              <p>{{teacherRubric.comment}}</p>
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
