<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="oa-preview-container">
  <div class="oa-header-container">
    <div class="close-pullup" {{action "onClosePullUp"}}>
      {{gru-icon name="arrow_downward"}}
    </div>
    <div class="preview-title-container">
      <i class="oa-icon"></i>
      {{#unless isLoading}}
        <p class="preview-title">{{t 'project'}} {{t offlineActivity.subFormat}}</p>
      {{/unless}}
    </div>
    {{#if allowPlay}}
      <div class="content-player" title="{{t 'common.play'}}" data-toggle="tooltip" {{action "onPlayContent"}}>
        {{gru-icon name="play_arrow"}}
      </div>
    {{/if}}
    {{#if showRemix}}
      <div class="content-remix" title="{{t 'common.remix'}}" data-toggle="tooltip" {{action "onRemixContent"}}>
        {{gru-icon name="content_copy"}}
      </div>
    {{/if}}
    {{#if showPrint}}
      <div class="print-preview" title="{{t 'common.download-print'}}" data-toggle="tooltip" {{action "onPrintPreview"}}>
        {{gru-icon name="get_app"}}
      </div>
    {{/if}}
  </div>

  {{#if isReportView}}
    <div class="oa-user-list-container">
      <div class="user-selected-profile">
        <div class="user-profile-img">
          <img src="{{selectedUser.avatarUrl}}" />
          <span>{{selectedUser.lastName}} {{selectedUser.firstName}}</span>
        </div>
        {{#if (and isReportView isTeacher)}}
          <div class="oa-user-list-drop-down" {{action 'toggleListOfStudents'}}>
            {{gru-icon name="keyboard_arrow_down"}}
          </div>
        {{/if}}
      </div>
      {{#if (and isReportView isTeacher)}}
        <div class="oa-list-of-users">
          {{#each users as |user index|}}
            <div class="user-profile-img {{if (eq selectedUser.id user.id) 'selected'}}" {{action 'previewStudentReport' user}}>
              <img src="{{user.avatarUrl}}" />
              <span>{{user.lastName}} {{user.firstName}}</span>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="oa-body-container {{if isReportView 'report-view'}}">
    <div class="oa-info-image-container">
      <div class="oa-info-container">
        <div class="oa-info-header-container">
          <div class="oa-icon-container">
          </div>
          <div class="oa-title-container">
            <div class="oa-project-label">{{offlineActivity.title}}</div>
            {{#if offlineActivity.learningObjectives}}
              <div class="oa-project-tag">Description</div>
            {{/if}}
          </div>
        </div>
        <div class="oa-description-container">
          {{offlineActivity.learningObjectives}}
        </div>
      </div>
    </div>
    <div class="oa-references-container">
      {{player.offline-activity.gru-offline-activity-references
          offlineActivity=offlineActivity
        }}
    </div>
    <div class="oa-task-container">
      {{#each offlineActivity.tasks as |task|}}
        {{player.offline-activity.gru-offline-activity-task-submission
          task=task
          classId=classId
          showSubmissions=isReportView
          isReadOnly=true
        }}
      {{/each}}
    </div>

    <div class="oa-teacher-student-rubric">
      {{#if studentRubric.categories}}
        <div class="student-rubric-section">
          <div class="student-grading-header">
            <div class="rubric-icon-container">
            </div>
            <div class="rubric-container">
              <div class="grader-label">Student Rubric</div>
              <div class="grade-tag">Self-grade</div>
            </div>
          </div>
          <div class="student-grading-panel">
            {{rubric.rubric-category-grades
              isDisable=true
              categories=studentRubric.categories
              showComment=false
            }}
          </div>
        </div>
      {{/if}}
      {{#if teacherRubric.categories}}
        <div class="teacher-rubric-section">
          <div class="teacher-grading-header">
            <div class="rubric-icon-container">
            </div>
            <div class="rubric-container">
              <div class="grader-label">Teacher Rubric</div>
              <div class="grade-tag">Teacher-grade</div>
            </div>
          </div>
          <div class="teacher-grading-panel">
            {{rubric.rubric-category-grades
              isDisable=true
              categories=teacherRubric.categories
              showComment=false
            }}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
