<div class="backdrop"></div>
<div class="performance-entry-container">
  <div class="header-container">
    <div class="title"><span class="{{type}}"><i class="icon"></i></span>{{title}}</div>
    <div class="performance-close-pullup" {{action 'onClosePerformanceEntry'}}>
      {{gru-icon name="close" }}
    </div>
  </div>
  <div class="body-container">
    {{#unless isClose}}
      {{yield this}}
    {{else}}
      <div>
          <h2>CLOSE</h2>
      </div>
    {{/unless}}
  </div>
</div>
