{{#if isLoading}}
  {{three-bounce-spinner}}
{{else}}
  <div class="signature-content">
    {{#each suggestions as |suggestion|}}
      {{suggestion-panel
        isStudent=isStudent
        collectionType=suggestion.suggestedContentType
        content=suggestion
        isTeacherSuggestion=true
        source=source
        onPreviewContent="onPreviewContent"
        onSuggestContent="onSuggestContent"
        playContent="playContent"
      }}
    {{else}}
      {{#if showSignatureAssessment}}
        <div class="competency-content">
          <div class="competency-img"></div>
          <div class="competency-note">{{t 'report.competency-report.note'}}</div>
        </div>
      {{/if}}
      {{#if signatureContent}}
        <div class="signature-accordion">
          {{suggestion-panel
          isStudent=isStudent
          collectionType=collectionType
          content=signatureContent
          isTeacherSuggestion=false
          source=source
          onPreviewContent="onPreviewContent"
          onSuggestContent="onSuggestContent"
          playContent="playContent"
        }}
        </div>
      {{/if}}
    {{/each}}
  </div>
  {{reports/pull-up/competency-info-content
    userId=userId
    competency=competency
    microCompetencies=microCompetencies
    collectionPerformances=collectionPerformances
    userId=userId
    prequisiteCompetencies=prerequisites
    learningMapData=learningMapData
    onSuggestContent="onSuggestContent"
    isStudent=isStudent
  }}
{{/if}}
{{#if (and isShowContentPreview (not isStudent))}}
  {{reports/pull-up/gru-collection-preview
    showPullUp=isShowContentPreview
    previewContentId=previewContent.id
    previewContentType=previewContentType
    playContent=false
  }}
{{/if}}
{{#if showSuggestConfirmation}}
  {{cards/suggest-confirmation
   collection=suggestedCollection
   students=students
   contentType=suggestedCollectionType
   onCancelSuggest="onCancelSuggest"
   onConfirmSuggest="onConfirmSuggest"
 }}
{{/if}}
