{{#if isLoading}}
  {{three-bounce-spinner}}
{{else}}
  <div class="signature-content">
    {{#if showSignatureAssessment}}
      <div class="competency-content">
        <div class="competency-img"></div>
        <div class="competency-note">{{t 'report.competency-report.note'}}</div>
      </div>
    {{/if}}
    {{#if signatureContent}}
      <div class="signature-accordion">
        <div class="signature-panel">
          <div class="signature-header">
            <i class="signature-icon {{collectionType}}"></i>
            <div class="signature {{unless isStudent 'hide-play'}}">
              <div class="title ellipsis" {{action 'onPreviewContent'}} title="{{signatureContent.title}}">
                {{signatureContent.title}}</div>
              <div class="content-count">
                {{#if (or content.questionCount content.resourceCount)}}
                  <span class="{{if (gt content.resourceCount 0) '' 'invisible'}}" title="{{t "common.resources"}}">{{gru-icon name='local_library'}}</span><span class="{{if (gt content.resourceCount 0) '' 'invisible'}}">{{content.resourceCount}}</span>
                  <span class="{{if (gt content.questionCount 0) '' 'invisible'}}" title="{{t "common.questions"}}">{{gru-icon name='help_outline'}}</span><span class="{{if (gt content.questionCount 0) '' 'invisible'}}">{{content.questionCount}}</span>
                {{/if}}
              </div>
              {{#if isStudent}}
                <div class="action"  {{action 'openPlayerPullup'}}>
                  {{gru-icon name='play_arrow'}}
                </div>
              {{/if}}
              <span class="suggestion-icon">
                {{gru-icon name='explore'}}
              </span>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

    {{reports/pull-up/competency-info-content
    userId=userId
    competency=competency
    microCompetencies=microCompetencies
    collectionPerformances=collectionPerformances
    userId=userId
    prequisiteCompetencies=prerequisites
    learningMapData=learningMapData
    isStudent=isStudent}}
{{/if}}
{{#if (and isShowContentPreview (not isStudent))}}
  {{reports/pull-up/gru-collection-preview
    showPullUp=isShowContentPreview
    previewContentId=previewContent.id
    previewContentType=previewContentType
    playContent=false
  }}
{{/if}}
