<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="struggling-competency-other-grade-container">
  <div class="sc-other-grade-header" {{action "onClosePullUp"}}>
      {{gru-icon name="arrow_back"}}
    <div class="sc-other-grade-header-title">
      {{t 'common.struggling-competencies'}}({{t 'profile.proficiency.grade-line'}})
    </div>
  </div>
<div class="sc-other-grade-panel-container">
  {{#each otherGradeCompetency as |grade gradeIndex| }}
  {{#if grade.domains}}
  <div class="sc-other-grade-panel">
    <div class="sc-other-grade-title-header">
      <div class="sc-other-grade-title" {{action "onToggleGrade" gradeIndex}}>
           {{grade.grade}}
      </div>
      <div class="sc-other-grade-title-icon">
        {{gru-icon name="arrow_drop_down"}}
      </div>
    </div>
    <div class="sc-other-grade-domain-container  sc-other-grade-panel-accordian-{{gradeIndex}} {{if (eq gradeIndex gradeDomainIndex.gradeIndex) 'first-child'}}">
      <div class="sc-other-grade-domain-domain-level-content">
         {{#each grade.domains as |domain domainIndex|}}
         <div class="competency-domain-level-panel">
             <div class="grade-domain-name-accordion" {{action "toggleDomain" gradeIndex domainIndex}}>
                <span>{{domain-gut-to-fw-transform
                  fwDomains
                  domain.domainCode
                  domain.domainName
                  'fwDomainName' true}}</span>
                 {{gru-icon name="arrow_drop_down"}}
             </div>
             <div class="grade-domain-competency-list-container {{if (and (eq gradeIndex gradeDomainIndex.gradeIndex) (eq domainIndex gradeDomainIndex.domainIndex)) 'first-child'}} sc-other-grade-domain-accordion-{{gradeIndex}}-{{domainIndex}}">
               {{#each domain.competencies as |competency data|}}
               <div class="grade-domain-competency-list-panel" {{action "onSelectCompetency" competency domain}}>
                 <div class="grade-domain-competency-heading">
                  <span>{{competency-gut-to-fw-transform
                    fwCompetencies
                    competency.code
                    competency.name
                    'frameworkCompetencyName'
                    showGutCompetency
                    true
                   }}</span>
                   <ul class="grade-domain-competency-sub-heading">
                   <li>{{competency.displayCode}}</li>
                   <li>{{competency-lo-transform
                     fwCompetencies
                     competency.code
                     'loCode'
                     false
                     '|'
                   }}
                 </li>
                 </ul>
                 </div>
                 <div class="grade-domain-competency-icon">
                   {{gru-icon name="explore"}}
                 </div>
                 <div class="grade-domain-competency-count">
                   <span class="student-count">
                   {{competency.studentsCount}}
                   </span>
                   {{gru-icon name="person"}}
                 </div>
               </div>
              {{/each}}
             </div>

         </div>
         {{/each}}
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>

</div>
