<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="struggling-competency-other-grade-container">
  <div class="sc-other-grade-header" {{action "onClosePullUp"}}>
      {{gru-icon name="arrow_back"}}
    <div class="sc-other-grade-header-title">
      Struggling Competency(Other Grade)
    </div>
  </div>
<div class="sc-other-grade-panel-container">
  {{#each testing as |grade gradeIndex| }}
  <div class="sc-other-grade-panel">
    <div class="sc-other-grade-title-header">
      <div class="sc-other-grade-title" {{action "onToggleGrade" gradeIndex}}>
          Grade {{grade}}
      </div>
      <div class="sc-other-grade-title-icon">
        {{gru-icon name="arrow_drop_down"}}
      </div>
    </div>
    <div class="sc-other-grade-domain-container  sc-other-grade-panel-accordian-{{gradeIndex}} {{if (eq gradeIndex 0) 'first-child'}}">
      <div class="sc-other-grade-domain-domain-level-content">
         {{#each testing as |domain domainIndex|}}
         <div class="competency-domain-level-panel">
             <div class="grade-domain-name-accordion" {{action "toggleDomain" gradeIndex domainIndex}}>
                 Domain Name
                 {{gru-icon name="arrow_drop_down"}}
             </div>
             <div class="grade-domain-competency-list-container {{if (and (eq gradeIndex 0) (eq domainIndex 0)) 'first-child'}} sc-other-grade-domain-accordion-{{gradeIndex}}-{{domainIndex}}">
               {{#each testing as |index data|}}
               <div class="grade-domain-competency-list-panel">
                 <div class="grade-domain-competency-heading">
                  <span>Competency heading</span>
                 <ul class="grade-domain-competency-sub-heading">
                   <li>8.EE.4</li>
                   <li>Learning Outcome Name</li>
                 </ul>
                 </div>
                 <div class="grade-domain-competency-icon">
                   {{gru-icon name="explore"}}
                 </div>
                 <div class="grade-domain-competency-count">
                   5
                 </div>
               </div>
              {{/each}}
              <div class="domain-show-more-btn">
              <span>  Show More</span>
              </div>
             </div>

         </div>
         {{/each}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

</div>
