<div class="backdrop" {{action "onClosePullUp" true}}></div>
<div class="struggling-competency-report-container">
  <div class="struggling-competency-report-header" {{action "onClosePullUp"}}>
    {{gru-icon name="arrow_back"}}
    <div class="struggling-competency-report-header-panel">
      <div class="struggling-competency-report-title">
          {{selectedCompetency.name}}
      </div>
       <ul class="struggling-competency-report-sub-titles">
          <li>{{selectedCompetency.domainName}}</li>
          <li>{{selectedCompetency.displayCode}}</li>
          <li>Learning Outcome Name</li>
       </ul>
    </div>
  </div>
  <div class="struggling-competency-report-student-list-container">
    <div class="struggling-competency-report-student-list-panel" {{action "showStudentList"}}>
      <div class="sc-report-student-list">
         <ul class="sc-report-student-profile">
           {{#each studentsPerfomanceList as |student studentIndex|}}
             <li>{{student.firstName}}</li>
           {{/each}}
         </ul>
      </div>
      <div class="sc-report-student-count">
        {{# if (gt studentsPerfomanceList 5)}}
          {{studentsPerfomanceList - 5}}
        {{/if}}
      </div>
      <div class="sc-report-student-list-icon">
        {{gru-icon name="arrow_drop_down"}}
      </div>
    </div>
    <div class="sc-student-dropdown-list-container">
      {{#each studentsPerfomanceList as |student|}}
      <div class="sc-student-dropdown-list">
          <div class="sc-student-profile-thumbnail-container">
           <div class="sc-student-thumbnail">
           </div>
          </div>
          <div class="sc-student-name">
            {{student.firstName}} {{student.lastName}}
          </div>
          <div class="sc-student-performance-container">
            <div class="sc-student-performance">
              {{student.performanceScore}}%
            </div>
          </div>
      </div>
      {{/each}}
    </div>
    <div class="sc-student-content-section-container">
      <div class="sc-student-content-section">

            {{#each collectionContents as |content|}}
            {{cards/dca-search-collection-card
            onPreviewContent="onPlayCollection"
            onScheduleContentToDCA='onScheduleContentToDCA'
            collection=content contentType='collection'
            onAddContentToDCA="onAddContentToDCA"
            addedScheduleContentToDCA='addedScheduleContentToDCA'
            classId=classId}}
            {{/each}}

      </div>
    </div>
  </div>
</div>
