<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="struggling-competency-domain-level-container">
  <div class="struggling-competency-title" {{action "onClosePullUp"}}>
    {{gru-icon name="arrow_back"}}<span>Struggling Competency</span>
  </div>
  <div class="struggling-competency-domain-level-content">
     {{#each gradeDomainsList as |domain domainIndex|}}
     <div class="competency-domain-level-panel">
         <div class="grade-domain-name-accordion" {{action "toggleDomain" domainIndex}}>
             {{domain.domainName}}
             {{gru-icon name="arrow_drop_down"}}
         </div>
         <div class="grade-domain-competency-list-container {{if (eq domainIndex gradeDomainIndex) 'first-child'}} domain-accordion-{{domainIndex}}">
           {{#each domain.competencies as |competency competencyIndex|}}
           <div class="grade-domain-competency-list-panel" {{action "onSelectCompetency" competency domain}}>
             <div class="grade-domain-competency-heading">
              <span>{{competency.name}}</span>
             <ul class="grade-domain-competency-sub-heading">
               <li>{{competency.displayCode}}</li>
               <li>Learning Outcome Name</li>
             </ul>
             </div>
             <div class="grade-domain-competency-icon">
               {{gru-icon name="explore"}}
             </div>
             <div class="grade-domain-competency-count">
               {{competency.studentsCount}}
             </div>
           </div>
          {{/each}}
          {{#if (gt domain.competencies.length 5)}}
          <div class="domain-show-more-btn">
          <span>  Show More</span>
          </div>
          {{/if}}
         </div>

     </div>
     {{/each}}
  </div>
</div>
