<div class="backdrop" {{action "onClosePullUp"}}></div>
<div class="activity-report-container">
  <div class="header-container">
    <div class="title-container">
      <div class="report-title">
        {{title}}
      </div>
      {{#if reportPeriod}}
        <div class="report-period">
          {{format-date reportPeriod 'MMMM YYYY'}}
        </div>
      {{/if}}
    </div>
    <div class="close-report" {{action "onClosePullUp"}}>
      {{gru-icon name="clear"}}
    </div>
  </div>
  <div class="body-container">
    {{yield}}
  </div>
</div>
