<div class="heading">{{t (if isStudent 'student-journey.heading' 'student-journey.teacher-heading')}}</div>
<div class="collections-accordion">
  {{#if collectionPerformances}}
    {{#each collectionPerformances as |collectionPerformance|}}
      <div class="collection-panel">
        <i class="icon {{collectionPerformance.collectionType}}"></i>
        <div class="collection-title">{{collectionPerformance.title}}</div>
        {{#if (eq collectionPerformance.collectionType 'assessment')}}
          <div class="performance" style="background-color:{{grade-color collectionPerformance.score}}">
            <span class="score">{{collectionPerformance.score}}%</span>
          </div>
        {{else}}
          <div class="performance collection">
            <span class="timespent"> {{if collectionPerformance.timeSpent (format-time  collectionPerformance.timeSpent) '--'}}</span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    {{#if isStudent}}
      <span class="message">{{t (if (or (eq competency.status 2) (eq competency.status 3)) (concat 'student-journey.student-status-' competency.status) 'student-journey.nodata')}}</span>
    {{else}}
      <span class="message">{{t (if (or (eq competency.status 2) (eq competency.status 3)) (concat 'student-journey.teacher-status-' competency.status) 'student-journey.no-data-teacher')}}</span>
    {{/if}}
  {{/if}}

  {{#if isShowPullUp}}
    {{class.gru-report-panel showPullUp=isShowPullUp reportData=studentCollectionReport isStudent=true onClosePullUp="onClosePullUp"}}
  {{/if}}
</div>
