<div class="portfolio-contents-container competency-portfolio">
  {{portfolio/gru-contents-panel
    contentType = 'offline-activity'
    userId = userId
    competency = competency
    isDisableFilter = true
    isExpanded = true
    isLazyLoadEnabled = true
    isAllowAutoPagination = false}}

  {{portfolio/gru-contents-panel
    contentType = 'collection'
    userId = userId
    competency = competency
    isDisableFilter = true
    isExpanded = true
    isLazyLoadEnabled = true
    isAllowAutoPagination = false}}

  {{portfolio/gru-contents-panel
    contentType = 'assessment'
    userId = userId
    competency = competency
    isDisableFilter = true
    isExpanded = true
    isLazyLoadEnabled = true
    isAllowAutoPagination = false}}
</div>

{{#if showCollectionReport}}
  {{class/gru-report-panel showPullUp=showCollectionReport reportData=studentReportContextData  model=studentReportContextData.lesson isStudent=isStudent onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if showExternalAssessmentReport}}
  {{reports/pull-up/student-external-assessment-report
    showPullUp=showExternalAssessmentReport
    reportData=studentReportContextData
    isStudent=isStudent
    onClosePullUp="onClosePullUp"
  }}
{{/if}}

{{#if showStudentDcaReport}}
  {{reports/pull-up/dca-student-collection-report useSession=true showPullUp=showStudentDcaReport reportData=studentReportContextData isStudent=isStudent onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowStudentExternalCollectionReport}}
  {{reports/pull-up/dca-student-external-collection-report showPullUp=isShowStudentExternalCollectionReport reportData=studentReportContextData isStudent=isStudent onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowStudentExternalAssessmentReport}}
  {{
      reports/pull-up/dca-student-external-assessment-report
      reportData=studentReportContextData
      showPullUp=isShowStudentExternalAssessmentReport
      isStudent=isStudent
      onClosePullUp="onClosePullUp"
    }}
{{/if}}

{{#if isShowContentPreview}}
  {{reports/pull-up/gru-collection-preview
      showPullUp=isShowContentPreview
      previewContentId=previewContent.id
      previewContentType=previewContentType
      playerContext=previewPlayerContext
    }}
{{/if}}


{{#if isShowStudentOfflineActivityReport}}
  {{reports/pull-up/oa-preview
    showPullUp=isShowStudentOfflineActivityReport
    oaId=studentReportContextData.collectionId
    classId=studentReportContextData.classId
    reportContext=studentReportContextData
    isReportView=true
    isCmReport=isCmReport
  }}
{{/if}}

{{#if isShowOfflineActivityPreview}}
  {{reports/pull-up/oa-preview
    showPullUp=isShowOfflineActivityPreview
    oaId=previewContent.id
    classId=previewPlayerContext.classId
    isReportView=false
  }}
{{/if}}
