<div class="controller student class class-activities">
  <div class="ca-title hidden-xs hidden-sm">
    <p>{{t 'teacher-landing.class.class-activities'}}</p>
  </div>
  <div class="loading-spinner">
    {{#if isLoading}}
      {{three-bounce-spinner}}
    {{/if}}
  </div>
  <div class="ca-content-container">
    <div class="ca-date-and-add-content">
      <div class="ca-date-container">
        <div class="prev-cal-arrow" {{action 'showPreviousMonth'}}>{{gru-icon name="keyboard_arrow_left"}}</div>
        <div class="cal-mm-yyyy" {{action 'showCalendar'}}>{{format-date forFirstDateOfMonth 'MMMM YYYY'}} {{gru-icon name="arrow_drop_down"}}{{gru-icon name="arrow_drop_up"}}</div>
        <div class="next-cal-arrow" {{action 'showNextMonth'}}>{{gru-icon name="keyboard_arrow_right"}}</div>
        <div class="ca-datepicker-container">
          <div id="ca-datepicker"></div>
        </div>
      </div>
    </div>
    {{#if showClassActivities}}
      <div class="dca-list-container">
        {{#each classActivities as |classActivity|}}
          <div class="dca-date-view-container">
            <div class="dca-date-container">
              {{gru-icon name="calendar_today"}}
              <span>{{format-date classActivity.added_date 'MMMM DD, YYYY'}}</span>
            </div>
            <hr/>
          </div>
          <div class="dca-content-list-container">
            {{#each classActivity.classActivities as |classActivity|}}
              {{class.gru-student-class-activity-panel
               class=class
               classActivity=classActivity
               studentDcaReport='studentDcaReport'
             }}
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="no-content">{{t "common.no-dca-student"}}</div>
      <div class="no-content-image"></div>
    {{/if}}
  </div>
</div>

{{#if showStudentDcaReport}}
  {{reports.pull-up.dca-student-collection-report showPullUp=showStudentDcaReport reportData=studentReportContextData isStudent=true onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowStudentExternalAssessmentReport}}
  {{
    reports.pull-up.dca-student-external-assessment-report
    reportData=studentReportContextData
    showPullUp=isShowStudentExternalAssessmentReport
    isStudent=true
    onClosePullUp="onClosePullUp"
  }}
{{/if}}
