<div class="controller student class class-activities">
  <div class="loading-spinner {{if isLoading 'active'}}">
      {{three-bounce-spinner}}
  </div>
  <div class="ca-content-container">
    <div class="ca-date-and-add-content">
      <div class="ca-date-selector">
        {{ca-date-picker
          showToday=true
          forMonth=forMonth
          allowDateSelectorToggle=true
          forYear=forYear
          showPreviousMonth="showPreviousMonth"
          showNextMonth="showNextMonth"
          onSelectDate="onSelectDate"
          onSelectToday="onSelectDate"
          activities=scheduledClassActivitiesDatewise
          highlightActivities=true
        }}
      </div>
    </div>
    {{#if showClassActivities}}
      <div class="dca-list-container">
        {{#each classActivities as |classActivity|}}
          <div class="dca-date-view-container dca-date-view-container-{{format-date classActivity.added_date 'YYYY-MM-DD'}}">
            <div class="dca-date-container {{if (eq today classActivity.added_date) 'dca-date-container-today'}}">
              {{#if (eq today classActivity.added_date)}}
                <span>{{t 'student-landing.class.class-activities-tab.today'}}</span>
              {{else}}
                {{gru-icon name="calendar_today"}}
                <span>{{format-date classActivity.added_date 'MMMM DD, YYYY'}}</span>
              {{/if}}
            </div>
            <hr/>
          </div>
          <div class="dca-content-list-container {{if (eq today classActivity.added_date) 'dca-content-list-container-today'}}">
            {{#each classActivity.classActivities as |classActivity|}}
              {{class.gru-student-class-activity-panel
               class=class
               classActivity=classActivity
               studentDcaReport='studentDcaReport'
               activityDate=classActivity.added_date
               isOfflineClass=isOfflineClass
             }}
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="no-content">{{t "common.no-dca-student"}}</div>
      <div class="no-content-image"></div>
    {{/if}}
  </div>
</div>

{{#if showStudentDcaReport}}
{{reports.pull-up.dca-student-collection-report showPullUp=showStudentDcaReport reportData=studentReportContextData isStudent=true onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowStudentExternalCollectionReport}}
{{reports.pull-up.dca-student-external-collection-report showPullUp=isShowStudentExternalCollectionReport reportData=studentReportContextData isStudent=true onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowStudentExternalAssessmentReport}}
  {{
    reports.pull-up.dca-student-external-assessment-report
    reportData=studentReportContextData
    showPullUp=isShowStudentExternalAssessmentReport
    isStudent=true
    onClosePullUp="onClosePullUp"
  }}
{{/if}}
