<div class="bar-charts" data-content="{{performancePercentage}}% Completed">
  <div class="completion-chart">
    <div class="start-point">{{gru-icon name="stars"}}</div>
    {{charts/gru-x-bar-chart data=barChartData mileStone=mileStone mileStoneHandler=(action 'mileStoneHandler')  }}
    <div class="destination-point">{{gru-icon name="place"}}</div>
  </div>
</div>

{{#if route0Applicable}}
  <h5 class="pre-study-title hidden-xs">{{t 'class.overview.pre-study-title'}}</h5>
  <div class="milestone-course-map-view-route0">
    {{#if showRoute0Suggestion}}
      {{student.class.milestone-course-map-route0
        class=class
      }}
    {{else}}
        {{student.class.milestone-course-map-route0-preview
          class=class
          route0=route0
          course=course
        }}
    {{/if}}
  </div>
{{/if}}

<h2>Your assigned course</h2>

<div class="milestone-course-map-view">
  {{student.class.milestone-course-map class=class}}
</div>
