<div class="student-proficiency-container" style="width:100vw">
  <div class="taxonomy-grades">
    {{#if (and (gt taxonomyGrades.length 0) isShowMatrixChart)}}
      <div class="taxonomy-grades-container">
        {{proficiency.taxonomy-grades
          taxonomyGrades=taxonomyGrades
          activeGrade=activeGrade
          classGrade=classGrade
          subjectCode=subjectCode
          onSelectGrade="onSelectGrade"
        }}
        <div class="baseline-toggle" {{action "onToggleBaseline"}}>
          <div class="baseline-label">{{t 'profile.proficiency.baseline'}}</div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="panel-container">
    {{proficiency.student-proficiency-panel
       studentProfile=studentProfile
       course=course
       activeSubject=activeSubject
       timeLine=timeLine
       class=class
       selectedGrade=selectedGrade
       isSelectGrade=isSelectGrade
       isTeacher=isTeacher
       competencyMatrixDomains=competencyMatrixDomains
       userProficiencyBaseLine=userProficiencyBaseLine
       competencyMatrixCoordinates=competencyMatrixCoordinates
       subjectBucket=subjectBucket
       taxonomySubjects=taxonomySubjects
       isShowMatrixChart=isShowMatrixChart
       isSelectBaseLine=isSelectBaseLine
       onSelectMonth="onSelectMonth"
       onSelectCompetency="onSelectCompetency"
       onDomainSelect="onDomainSelect"
       onSubjectChange="onSubjectChange"
       categories=taxonomyCategories}}
    <div class="inspect-competency hidden lg-visible">
      {{proficiency.competency-info-pull-up isInspectCompetency=showCompetencyInfo competency=selectedCompetency studentId=studentProfile.id domainCompetencyList=domainCompetencyList}}
    </div>
  </div>
  <div class="pull-up-container">
    {{#if isShowMatrixChart}}
      {{#proficiency.proficiency-subject-panel class=class studentId=studentProfile.id selectedCompetency=selectedCompetency domainCompetencyList=domainCompetencyList selectedDomain=selectedDomain competencyMatrixDomains=competencyMatrixDomains subject=activeSubject
        competencyMatrixCoordinates=competencyMatrixCoordinates}}
        {{proficiency.domain-info-pull-up showPullUp=showDomainInfo competencies=selectedDomainCompetencies domain=selectedDomain}} {{proficiency.competency-info-pull-up isInspectCompetency=showCompetencyInfo competency=selectedCompetency studentId=studentProfile.id domainCompetencyList=domainCompetencyList}}
      {{/proficiency.proficiency-subject-panel}}
    {{/if}}
  </div>
</div>
{{!-- </div> --}}