{{#if class.courseId}}
  <div class="student-proficiency-container">
    <div class="panel-container">
      {{proficiency/student-proficiency-panel
       studentProfile=studentProfile
       course=course
       activeSubject=activeSubject
       timeLine=timeLine
       class=class
       isStudent=isStudent
       competencyMatrixDomains=competencyMatrixDomains
       userProficiencyBaseLine=userProficiencyBaseLine
       competencyMatrixCoordinates=competencyMatrixCoordinates
       subjectBucket=subjectBucket
       taxonomyCategories=taxonomyCategories
       taxonomySubjects=taxonomySubjects
       isShowMatrixChart=isShowMatrixChart
       isSelectBaseLine=isSelectBaseLine
       selectedCategory=selectedCategory
       selectedCompetency=selectedCompetency
       selectedDomain=selectedDomain
       onSelectMonth="onSelectMonth"
       onSelectCompetency="onSelectCompetency"
       onDomainSelect="onDomainSelect"
       showGutCompetency=showGutCompetency
       onSubjectChange="onSubjectChange"
       taxonomyGrades=taxonomyGrades
       classGrade=classGrade
       subjectCode=subjectCode
       onSelectCategory="onSelectCategory"
     }}
      {{#if isMobile}}
        <div class="inspect-competency">
          {{proficiency/competency-info-pull-up isInspectCompetency=showCompetencyInfo onClosePullUp="onClosePullUp" isStudent=isStudent competency=selectedCompetency studentId=studentProfile.id domainCompetencyList=domainCompetencyList}}
        </div>
      {{/if}}
    </div>
    <div class="pull-up-container">
      {{#if isShowMatrixChart}}
        {{#proficiency/proficiency-subject-panel onDomainSelect="onDomainSelect" class=class subject=activeSubject competencyMatrixCoordinates=competencyMatrixCoordinates}}
          {{proficiency/domain-info-pull-up onSelectCompetency="onSelectCompetency" showGutCompetency=showGutCompetency showPullUp=showDomainInfo competencies=selectedDomainCompetencies domain=selectedDomain}}
          {{proficiency/competency-info-pull-up isInspectCompetency=showCompetencyInfo showGutCompetency=showGutCompetency classFramework=classFramework onClosePullUp="onClosePullUp" isStudent=isStudent competency=selectedCompetency studentId=studentProfile.id domainCompetencyList=domainCompetencyList}}
        {{/proficiency/proficiency-subject-panel}}
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="no-course-content">{{t 'student-landing.no-course-assigned'}}</div>
{{/if}}
