{{player.gru-study-header
  classId=classId
  collection=collection
  courseId=course.id
  courseTitle=course.title
  showConfirmation=false
  fromReport=true
  class=class
  sourceType=source
  isStudyPlayer=true
}}

<div class="report-container {{if isShowSuggestion 'show-suggestion'}}">
  <div class="summary-reset">
    {{#if enableConfetti }}
      {{gru-confetti}}
    {{/if}}
    {{reports.qz-student-report attemptData=attemptData profile=profile}}
  </div>
  {{player.gru-player-summary-footer isDone=isDone classId=classId parents="next" courseId=courseId collection=collection isFullScreen=isFullScreen onToggleScreen="onToggleScreen"}}
</div>

{{#if isShowSuggestion}}
  {{content.modals.gru-content-suggestion mapLocation=mapLocation onAcceptSuggestion="onAcceptSuggestion" onIgnoreSuggestion="onIgnoreSuggestion"}}
{{/if}}

{{#if isShowMasteryGreeting}}
  <div class="mastery-confirmation-popup">
    <div class="mastery-greeting-container">
      <div class="mastery-info-container">
        <div class="greeting-images">
          <div class="animal-img">
          </div>
          <div class="text-img">
          </div>
        </div>
        <div class="greeting-message">
          {{t 'mastery-greeting-msg' competencyInfo = competencyInfo}}
        </div>
      </div>
      <div class="mastery-action-container">
        <div class="no-thanks" {{action "next"}}>
          {{t 'gru-suggest-test.no'}}
        </div>
        <div class="show-me" {{action "onRedirectToProfiencyProgress"}}>
          {{t 'show-me'}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
