<div class="timepicker-container">
  <div class="hour-picker">
    <div class="up-arrow arrow-container" {{action "onIncrementHour"}}>
      {{gru-icon name="expand_less"}}
    </div>
    <div class="hour-value value-container">
      {{input type="text" value=(pad-start hour '0' 2) class="time-value"}}
    </div>
    <div class="down-arrow arrow-container" {{action "onDecrementHour"}}>
      {{gru-icon name="expand_more"}}
    </div>
    <div class="placeholder hour-placeholder">
      HH
    </div>
  </div>
  <div class="picker-separator">
    :
  </div>
  <div class="minute-picker">
    <div class="up-arrow arrow-container" {{action "onIncrementMinute"}}>
      {{gru-icon name="expand_less"}}
    </div>
    <div class="minute-value value-container">
      {{input type="text" value=(pad-start minute '0' 2) class="time-value"}}
    </div>
    <div class="down-arrow arrow-container" {{action "onDecrementMinute"}}>
      {{gru-icon name="expand_more"}}
    </div>
    <div class="placeholder minute-placeholder">
      MM
    </div>
  </div>
</div>
