<div class="question-preview-container {{question.type}} {{if isShowCorrectAnswer 'answer-visible'}}">
  <div class="question-title-container">
    <div class="question-order">{{contentSeq}}.</div>
    <div class="question-icon"></div>
    <div class="title">{{safe-html question.title}}</div>
  </div>
  <div class="taxonomies-conatiner">
    {{#if taxonomyTags.length}}
      {{taxonomy.gru-taxonomy-tag-list tags=taxonomyTags tagsVisible=1 isInCard=true}}
    {{/if}}
  </div>
  <div class="question-description">
    {{{gru-math-text text=question.text}}}
  </div>
  <div class="answer-container">
    {{#if isShowCorrectAnswer}}
      {{{component (question-config question.type 'component.answer') question=question showCorrect=true}}}
    {{else}}
      {{{component (question-config question.type 'component.player') question=question readOnly=true}}}
    {{/if}}
  </div>
</div>
