<div class="question-preview-container {{question.type}} {{if isShowCorrectAnswer 'answer-visible'}}">
  <div class="question-header-container">
    <div class="question-title-container">
      <div class="question-order">{{contentSeq}}.</div>
      <div class="question-icon"></div>
      <div class="title ellipsis">{{safe-html question.title}}</div>
    </div>
    {{#if isReportView}}
      <div class="question-performance-container">
        <div class="question-reaction">
          {{reaction-icon question.reaction }}
        </div>
        <div class="question-score">
          {{question.score}}/{{question.maxScore}}
        </div>
        <div class="question-timespent">
          {{format-time question.timespent}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="taxonomies-conatiner">
    {{#if taxonomyTags.length}}
      {{taxonomy/gru-taxonomy-tag-list tags=taxonomyTags tagsVisible=1 isInCard=true}}
    {{/if}}
  </div>
  <div class="question-description">
    {{{gru-math-text text=question.text}}}
  </div>
  {{#if question.thumbnail}}
    <div class="question-thumbnail">
      <img src="{{question.thumbnail}}"/>
    </div>
  {{/if}}
  <div class="answer-container {{unless isReportView 'single-container'}}">
    {{#if isReportView}}
      <div class="user-answer answer-section">
        <div class="answer-type-label type-label">
          {{#if (not question.userAnswer)}}
            {{t 'gru-question-viewer.answer'}}
          {{else}}
            {{#if isStudent}}
              {{t 'common.answer'}}
            {{else}}
              {{t 'common.student'}} {{t 'gru-question-viewer.answer'}}
            {{/if}}
          {{/if}}
        </div>
        <div class="answer-value-container">
          {{#if question.userAnswer}}
            {{{component (question-config question.type 'component.answer') question=question userAnswer = question.userAnswer}}}
          {{else}}
            {{{component (question-config question.type 'component.player') question=question readOnly=true}}}
          {{/if}}
        </div>
      </div>
    {{/if}}
    <div class="correct-answer answer-section {{if (and isReportView (not isShowReportCorrectAnswer)) 'hidden'}}">
      {{#if isReportView}}
        <div class="answer-type-label type-label">{{t 'common.correct-answer'}}</div>
      {{/if}}
      <div class="answer-value-container">
        {{#if (or isShowCorrectAnswer isShowReportCorrectAnswer)}}
          {{{component (question-config question.type 'component.answer') question=question showCorrect=true}}}
        {{else}}
          {{{component (question-config question.type 'component.player') question=question readOnly=true}}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
