<div class="container">
  <div class="header">
    {{player.chrono-view.chrono-header performanceSummary=performanceSummary positionToCenter=positionToCenter onOpenCourseReport="onOpenCourseReport" onPaginateNext="onPaginateNext" startDate=startDate activities=activities onSelectCard="onSelectCard"}}
  </div>
  <div class="body class-activities" id="carousel">
    {{#each activities as |activitiy index|}}
      {{player.chrono-view.student-card  activitiy=activitiy onOpenCollectionReport="onOpenCollectionReport" cardIndex=index onSelectCard="onSelectCard"}}
    {{/each}}
  </div>
</div>
{{#if showCourseReport}}
  {{reports.pull-up.student-course-report onClosePullUp="onClosePullUp" context=studentCourseReportContext showPullUp=showCourseReport}}
{{/if}}
{{#if showCollectionReport}}
  {{class.gru-report-panel showPullUp=showCollectionReport reportData=studentCollectionReportContext  model=studentCollectionReportContext.lesson isStudent=studentCollectionReportContext.isStudent onClosePullUp="onClosePullUp"}}
{{/if}}
{{#if showExternalAssessmentReport}}
  {{
    reports.pull-up.student-external-assessment-report
    showPullUp=showExternalAssessmentReport
    reportData=studentCollectionReportContext
    isStudent=studentCollectionReportContext.isStudent
    onClosePullUp="onClosePullUp"
  }}
{{/if}}
