<div class="contents {{activeContentType}}">
  {{#each searchResults as |content|}}
    <div class="card">
      {{#if (eq activeContentType 'course')}}
        {{#if (or (eq type 'library') (eq type 'gooru-catalog'))}}
          {{new-cards.gru-standard-card
          profile=profile
          isCourse=true
          isOnProfile=true
          cardSize="md"
          content=content
          onOpenIndependentPlayer="playIndependentContent"
          onOpenContentPlayer="playCourse"
          onBookmarkContent="onBookmarkCourse"
        }}
        {{else}}
          {{new-cards.gru-standard-card
            profile=profile
            isCourse=true
            cardSize="md"
            content=content
            classroomList=activeClasses
            classStudentCount=myClasses
            isMyProfile=isMyProfile
            isOnProfile=true
            publishVisible=true
            onOpenContentPlayer="playCourse"
            onEditContent="editCourse"
            onUpdateUserClasses="updateClass"
            onOpenIndependentPlayer="playIndependentContent"
            onBookmarkContent="onBookmarkCourse"
            }}
        {{/if}}
      {{/if}}
      {{#if (eq activeContentType 'assessment')}}
        {{#if (or (eq type 'library') (eq type 'gooru-catalog'))}}
          {{new-cards.gru-standard-card
            profile=profile
            isOnProfile=true
            cardSize="md"
            content=content
            onOpenIndependentPlayer="playIndependentContent"
            onOpenContentPlayer="openContentPlayer"
            onBookmarkContent="onBookmarkContent"
            onPreviewContent="onPreviewContent"
          }}
        {{else}}
          {{new-cards.gru-standard-card
            profile=profile
            cardSize="md"
            content=content
            isMyProfile=isMyProfile
            isOnProfile=true
            publishVisible=true
            classroomList=activeClasses
            classStudentCount=myClasses
            onOpenContentPlayer="openContentPlayer"
            onEditContent="editAssessment"
            onOpenIndependentPlayer="playIndependentContent"
            onBookmarkContent="onBookmarkContent"
          }}
        {{/if}}
      {{/if}}
      {{#if (eq activeContentType 'collection')}}
        {{#if (or (eq type 'library') (eq type 'gooru-catalog'))}}
          {{new-cards.gru-standard-card
              profile=profile
              isOnProfile=true
              cardSize="md"
              content=content
              onOpenIndependentPlayer="playIndependentContent"
              onOpenContentPlayer="openCollectionContentPlayer"
              onBookmarkContent="onBookmarkContent"
              onPreviewContent="onPreviewContent"
            }}
        {{else}}
          {{new-cards.gru-standard-card
              profile=profile
              content=content
              cardSize="md"
              isCollection=true
              isMyProfile=isMyProfile
              classroomList=activeClasses
              classStudentCount=myClasses
              isOnProfile=true
              publishVisible=true
              onOpenContentPlayer="openCollectionContentPlayer"
              onEditContent="editCollection"
              onOpenIndependentPlayer="playIndependentContent"
              onBookmarkContent="onBookmarkContent"
            }}
        {{/if}}
      {{/if}}
      {{#if (eq activeContentType 'resource')}}
        {{#if (or (eq type 'library') (eq type 'gooru-catalog'))}}
          {{new-cards.gru-resource-card
          resource=content
          onRemixQuestion="remixQuestion"
          onPlayResource="playResource"
          profile=profile
          addEnabled=true
          editEnabled=false
          partnerLibrary=true
          isOnProfile=true
        }}
        {{else}}
          {{new-cards.gru-resource-card
          resource=content
          publishVisible=true
          isOnProfile=true
          addEnabled=isMyProfile
          editEnabled=isMyProfile
          onEditResource="editResource"
          onPlayResource="playResource"}}
        {{/if}}
      {{/if}}
      {{#if (eq activeContentType 'question')}}
        {{#if (or (eq type 'library') (eq type 'gooru-catalog'))}}
          {{new-cards.gru-resource-card
            resource=content
            addEnabled=true
            remixEnabled=true
            isMyProfile=true
            onRemixQuestion="remixQuestion"
            onPlayResource="playQuestion"
            profile=profile
            partnerLibrary=true
            isOnProfile=true
          }}
        {{else}}
          {{new-cards.gru-resource-card
            resource=content
            addEnabled=isMyProfile
            publishVisible=true
            isOnProfile=true
            editEnabled=isMyProfile
            onPlayResource="playQuestion"
            onEditResource="editQuestion"
            onRemixQuestion="remixQuestion"
          }}
        {{/if}}
      {{/if}}
      {{#if (eq activeContentType 'rubric')}}
        {{#if (or (eq type 'library') (eq type 'gooru-catalog'))}}
          {{new-cards.gru-resource-card
          resource=content
          editEnabled=isMyProfile
          onEditResource='editRubric'
          isRubric=true
          profile=profile
          isOnProfile=true
        }}
        {{else}}
          {{new-cards.gru-resource-card
          resource=content
          editEnabled=isMyProfile
          onEditResource='editRubric'
          isRubric=true
          isOnProfile=true
          }}
        {{/if}}
      {{/if}}
    </div>
  {{else}}
    <div class="no-content panel add-content panel-default">
      <div class="panel-body">
        {{gru-icon name='explore'}}
        <p>{{{t "common.no-content"}}}</p>
      </div>
    </div>
  {{/each}}
</div>
{{#if isShowContentPreview}}
  {{reports.pull-up.gru-collection-preview
    showPullUp=isShowContentPreview
    previewContentId=previewContent.id
    previewContentType=previewContentType
  }}
{{/if}}
