<div class="contents">
  {{#each searchResults as |content|}}
    <div class="card">
      {{#if (eq activeContentType 'course')}}
        {{new-cards.gru-standard-card
          profile=sessionProfile
          isCourse=true
          isOnProfile=true
          cardSize="md"
          content=content
          onOpenIndependentPlayer="playIndependentContent"
          onOpenContentPlayer="playCourse"
          onBookmarkContent="onBookmarkCourse"
        }}
      {{/if}}
      {{#if (or (eq activeContentType 'assessment') (eq activeContentType 'collection'))}}
        {{new-cards.gru-standard-card
          profile=sessionProfile
          isOnProfile=true
          cardSize="md"
          content=content
          onOpenIndependentPlayer="playIndependentContent"
          onOpenContentPlayer="openContentPlayer"
          onBookmarkContent="onBookmarkContent"
          onPreviewContent="onPreviewContent"
        }}
      {{/if}}
      {{#if (eq activeContentType 'resource')}}
        {{new-cards.gru-resource-card
          resource=content
          onRemixQuestion="remixQuestion"
          onPlayResource="playResource"
          profile=sessionProfile
          addEnabled=true
          editEnabled=false
          partnerLibrary=true
          isOnProfile=true
        }}
      {{/if}}
      {{#if (eq activeContentType 'question')}}
        {{new-cards.gru-resource-card
        resource=content
        addEnabled=true
        remixEnabled=true
        isMyProfile=true
        onRemixQuestion="remixQuestion"
        onPlayResource="playQuestion"
        profile=sessionProfile
        partnerLibrary=true
        isOnProfile=true}}
      {{/if}}
      {{#if (eq activeContentType 'rubric')}}
        {{new-cards.gru-resource-card
          resource=content
          editEnabled=content.isMyProfile
          onEditResource='editRubric'
          isRubric=true
          profile=sessionProfile
          isOnProfile=true
        }}
      {{/if}}
    </div>
  {{else}}
    <div class="no-content panel add-content panel-default">
      <div class="panel-body">
        {{gru-icon name='explore'}}
        <p>{{{t "common.no-content"}}}</p>
      </div>
    </div>
  {{/each}}
</div>
{{#if isShowContentPreview}}
  {{reports.pull-up.gru-collection-preview
    showPullUp=isShowContentPreview
    previewContentId=previewContent.id
    previewContentType=previewContentType
  }}
{{/if}}
