<div class="controller teacher class atc">
  {{#if isLoading}}
    <div class="loading-spinner">{{three-bounce-spinner}}</div>
  {{/if}}
  {{#if isShowAtcView}}
    {{#if isPremiumClass}}
      <div class="month-picker {{if isCurrentMonth 'current-month'}}">
            {{ca-date-picker
          showToday=true
          forMonth=activeMonth
          allowDateSelectorToggle=true
          forYear=activeYear
          showPreviousMonth="onChangeMonth"
          showNextMonth="onChangeMonth"
        }}
      </div>
      <div class="data-view-container navigator-class">
        <div class="chart-container">
          <div class="chart-area">
            {{teacher.class.navigator-atc-view classData=class month=activeMonth year=activeYear}}
          </div>
        </div>
        <div class="data-analysis-cards-container">
          <div class="domains-card-container">
            <div class="title-container">{{t 'teacher-landing.class.atc-view.domains-reviewed'}}</div>
            <div class="domains-completion-container">
              {{#each domainsCompletionList as |domainData|}}
                <div class="domain-completion-report" {{action "onSelectDomain" domainData}}>
                  <div class="domain-info-container">
                    <div class="domain-code">{{domainData.domainCode}}</div>
                    <div class="domain-title ellipsis">{{domainData.domainName}}</div>
                  </div>
                  <div class="domain-performance-container">
                    <div class="completion-percentage">{{domainData.completionPercentage}}%</div>
                    <div class="completion-box"><span style="background-color: {{safe-html (grade-color domainData.completionPercentage)}}; width: {{domainData.completionPercentage}}%;"></span></div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
          <div class="activities-count-container" {{action "onRedirectToCA"}}>
            <div class="activity-count">{{activitiesCount.scheduled}}</div>
            <div class="activities-info"><span><i class="pin-icon"></i></span>{{t 'teacher-landing.class.atc-view.class-activities-completed'}}</div>
            <div class="activity-count">{{activitiesCount.unscheduled}}</div>
            <div class="activities-info"><span><i class="pin-icon"></i></span>{{t 'teacher-landing.class.atc-view.class-activities-pending'}}</div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="data-view-container regular-class">
        <div class="chart-container">
          {{teacher.class.atc-chart classData=class isPremiumClass=isPremiumClass}}
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="data-not-available">  {{t 'teacher-landing.class.students-tab.data-not-available'}}</div>
  {{/if}}
</div>

{{#if isShowCompetencyCompletionReport}}
  {{reports.pull-up.competency-completion-report showPullUp=isShowCompetencyCompletionReport classId=classId activeMonth=activeMonth activeYear=activeYear domainData=selectedDomain competencyCompletionReport=competencyCompletionReport userAgent=userAgent}}
{{/if}}
