<div class="controller teacher class class-activities">
  <div class="ca-panel">
    <div class="ca-left-panel">
      <div class="loading-spinner {{if isLoading 'active'}}">
        {{three-bounce-spinner}}
      </div>
      <div class="left-panel-container">
        <div class="dca-content-container">
          <div class="ca-schedule-items-header">
            <div class="ca-add-content">
              <div class="ca-contents-button">
                <p>{{t 'common.plan-an-activities'}}</p>
                <i class="collection-icon" {{action 'onAddDca' 'collection'}}></i>
                <i class="assessment-icon" {{action 'onAddDca' 'assessment'}}></i>
              </div>
              <div class="ca-date-section">
                <div class="date-picker-action">
                  <span class="label">
                    {{#if isToday}}
                      {{t "student-landing.class.class-activities-tab.today"}}
                    {{else}}
                      {{format-date selectedDate 'DD MMM, YY'}}
                    {{/if}}
                  </span>
                  <div class="icons {{if isActive 'open'}}" {{action 'toggleDatePicker'}}>
                    {{gru-icon name="arrow_drop_up" class="ca-datepicker-up"}}
                    {{gru-icon name="arrow_drop_down" class="ca-datepicker-bottom"}}
                  </div>
                </div>
              </div>
            </div>
            <div class="ca-date-selector {{if isActive 'open'}}">
              {{#if isActive}}
                <div class="backdrop" {{action 'toggleDatePicker'}}></div>
              {{/if}}
              {{ca-date-picker
                showToday=true
                forMonth=forMonth
                allowDateSelectorToggle=false
                forYear=forYear
                refreshDatePicker=refreshDatePicker
                showPreviousMonth="showPreviousMonth"
                showNextMonth="showNextMonth"
                onSelectDate="onSelectDate"
                highlightFirstDayOfMonth=true
                onSelectToday="onSelectDate"
                activities=scheduledClassActivitiesDatewise
                highlightActivities=true
              }}
            </div>
          </div>
          {{#if showClassActivities}}
            <div class="ca-schedule-section">
              <div class="dca-list-container">
                {{#each scheduledClassActivities as |classActivity|}}
                  <div class="dca-date-view-container dca-date-view-container-{{format-date classActivity.added_date 'YYYY-MM-DD'}}">
                    <div class="dca-date-container {{if (eq today classActivity.added_date) 'dca-date-container-today'}}">
                      {{#if (eq today classActivity.added_date)}}
                        <span>{{t 'student-landing.class.class-activities-tab.today'}}</span>
                      {{else}}
                        {{gru-icon name="calendar_today"}}
                        <span>{{format-date classActivity.added_date 'MMMM DD, YYYY'}}</span>
                      {{/if}}
                    </div>
                    <hr />
                  </div>
                  <div class="dca-content-list-container {{if (eq today classActivity.added_date) 'dca-content-list-container-today'}}">
                    {{#each classActivity.classActivities as |activity|}}
                      {{class.gru-class-activity-panel
                    classActivity=activity
                    classId=classId
                    class=class
                    members=members
                    classActivities=classActivities
                    onReportclick='changeStatusValue'
                    onGoLive='goLive'
                    showDcaAssignButton=true
                    showDcaAddButton=false
                    onChangeVisibility='changeVisibility'
                    onRemoveClassActivity='removeClassActivity'
                    openDcaContentReport='openDcaContentReport'
                    activityDate=classActivity.added_date
                    showCohort=true
                    onScheduleContentToDCA='onScheduleContentToDCA'
                    onOpenPerformanceEntry="onOpenPerformanceEntry"
                    onPreviewContent="onPreviewContent"
                    onUpdateMasteryAccrual="onUpdateMasteryAccrual"
                    showMasteryAccrual=showMasteryAccrual
                  }}
                    {{else}}
                      <p class="add-content-message">{{t 'common.plan-an-activities-msg'}}</p>
                    {{/each}}
                  </div>
                {{/each}}
              </div>
            </div>
          {{else}}
            <div class="no-content">{{t "common.no-dca-teacher"}}</div>
          {{/if}}
        </div>
        <div class="ca-unschedule-items-list-container hidden-xs hidden-sm`">
          <div class="ca-unschedule-items-header" data-toggle="collapse" data-target="#unschedule">
            <span>{{t 'common.unscheduled-items'}} ({{unScheduledClassActivities.length}})</span>
            <div class="icons">
              {{gru-icon name="arrow_drop_up" class="ca-datepicker-up"}}
              {{gru-icon name="arrow_drop_down" class="ca-datepicker-bottom"}}
            </div>
          </div>
          <div class="ca-unscheduled-content-items collapse" id="unschedule">
            {{#each unScheduledClassActivities as |classActivity|}}
              {{class.gru-class-activity-panel
              classActivity=classActivity
              classId=classId
              members=members
              onReportclick='changeStatusValue'
              classActivities=unScheduledClassActivities
              onGoLive='goLive'
              showDcaAssignButton=false
              showDcaAddButton=false
              onChangeVisibility='changeVisibility'
              onRemoveClassActivity='removeClassActivity'
              openDcaContentReport='openDcaContentReport'
              activityDate=classActivity.added_date
              showDcaRemoveButton=false
              onScheduleContentToDCA='onScheduleContentToDCA'
              isUnScheduled=true
              onPreviewContent="onPreviewContent"
            }}
            {{else}}
              <div class="ca-unscheduled-no-content-items">
                {{t 'common.no-unschedule-items'}} {{format-date forFirstDateOfMonth 'MMMM YYYY'}}.
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="ca-right-panel">
      <div class="ca-offline-activities-list-container">
        <div class="ca-offline-activities-header" data-toggle="collapse" data-target="#offline-activitiy">
          <span>{{t 'common.offline-activites'}}</span>
          <div class="icons">
            {{gru-icon name="arrow_drop_up" class="ca-datepicker-up"}}
            {{gru-icon name="arrow_drop_down" class="ca-datepicker-bottom"}}
          </div>
        </div>
        <div class="ca-grade-content-items collapse" id="offline-activitiy">
        </div>
      </div>
      <div class="ca-grade-items-list-container">
        <div class="ca-grade-items-header" data-toggle="collapse" data-target="#grade">
          <span>{{t 'class.analytics.performance.grade-items'}}</span>
          <div class="icons">
            {{gru-icon name="arrow_drop_up" class="ca-datepicker-up"}}
            {{gru-icon name="arrow_drop_down" class="ca-datepicker-bottom"}}
          </div>
        </div>
        <div class="ca-grade-content-items collapse" id="grade">
          {{#if itemsToGrade}}
            {{gru-grade-items contextSource=contextSource questionItems=itemsToGrade}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="ca-datepicker-schedule-container ca-datepicker-popover-container">
    {{ca-date-picker userStartDateAsToday=true onSelectDate='onScheduleDate'  showMonths=true onSelectMonth='onScheduleForMonth'}}
  </div>
</div>
{{#if unScheduledClassActivities}}
  {{teacher.class.ca-unscheduled-items-pullup
    showPullUp=true
    classId=classId
    class=class
    unScheduledClassActivities=unScheduledClassActivities
    onChangeVisibility='changeVisibility'
    onRemoveClassActivity='removeClassActivity'
    forFirstDateOfMonth=forFirstDateOfMonth
    class="hidden visible-xs visible-sm"
  }}
{{/if}}
{{#if showSearchContentPullup}}
  {{teacher.class.ca-search-content-pull-up
    showPullUp=showSearchContentPullup
    addedContentToDCA="addedContentToDCA"
    context=contextParams
    selectedSearchContentType=selectedSearchContentType
    todaysClassActivities=todaysClassActivities.classActivities
    classPreference=classPreference
    classId=classId
    onPreviewContent="onPreviewContent"
  }}
{{/if}}
{{#if showDcaCollectionReportPullUp}}
  {{#if (not-eq dcaCollectionReportData.collection.format 'collection-external')}}
    {{reports.pull-up.dca-collection-report
      context=dcaCollectionReportData
      showPullUp=showDcaCollectionReportPullUp}}
  {{else}}
    {{reports.pull-up.dca-external-collection-report
      context=dcaCollectionReportData
      showPullUp=showDcaCollectionReportPullUp}}
  {{/if}}
{{/if}}

<!-- Acitvity Add Performance Data -->
{{#if isShowAddData}}
  {{#reports.pull-up.activity.add-performance-data
    showPullUp = isShowAddData
    activityDate = selectedActivity.activation_date
    activityTitle = selectedItem.title
    onClosePullUp = "onClosePerformanceEntry"
    contentType = addDataContentType
  }}
    {{reports.pull-up.activity.add-student-performance-data
      collection=selectedItem
      course=course
      students=activityMembers
      activityData=selectedActivity
      classId=classId
      onClosePullUp = "onClosePerformanceEntry"
      contentType = addDataContentType
    }}
  {{/reports.pull-up.activity.add-performance-data}}
{{/if}}

{{#if isShowOCASummaryReportPullUp}}
  {{teacher.offline-class.oca-summary-report-pull-up
    classId=class.id
    performanceSummary=performanceSummaryForDCA
    onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowContentPreview}}
  {{reports.pull-up.gru-collection-preview
    showPullUp=isShowContentPreview
    previewContentId=previewContent.id
    previewContentType=previewContentType}}
{{/if}}
