<div class="controller teacher class class-settings">
  <div class='sec-col-layout'> {{!-- two col layout ends1 --}}
    <div class='sec-rows-layout left-panel'> {{!-- two rows in a col layout ends1 --}}
      <div class="class-layout">
        <div class='class-sec-cont'>
          <div class='class-settings-label'>
            {{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-head'}}
          </div>
          <div class='class-settings-sec'>
            <div class='class-head-row-wrap'>
              <div class='sec-head-class-name'>
                {{#unless editingTitle}}
                  <span class='class-title ellipsis'>{{class.title}}</span>
                  <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" class='edit-icon' {{action "editTitle" true}}>{{gru-icon name='edit'}}</span>
                  <div class='sec-head-sep'></div>
                  {{else}}
                    {{validation.gru-input model=tempClass valuePath='title' didValidate=didValidate onFocusOut="editTitle"
                autofocus=true maxLength=25}}
                {{/unless}}
                <div class="min-score-container">
                  <div class='sec-desc-min-perf'>
                    {{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-desc'}}
                  </div>
                  <div class='minscoresec'>
                    {{#unless editingScore}}
                      <div class='sec-dec-value'>{{if class.minScore class.minScore '--'}} %
                        <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" {{action "editScore"}}>{{gru-icon name='edit'}}</span>
                      </div>
                      {{else}}
                        <div class="colscoreedit">
                          {{validation.gru-input-number model=tempClass valuePath='minScore' min=1 max=100 step=1
                    didValidate=didValidate onFocusOut="saveScore" onFocusIn="editScore" autofocus=true}}
                        </div>
                    {{/unless}}
                  </div>
                </div>
              </div>
              <div class='class-code'>
                <div class='class-code-wrap'>
                  <div class='label-class-code'> {{t
                    'teacher-landing.class.class-settings.class-settings-sec.class-code'}}</div>
                  <div class='value-class-code'>
                    {{gru-copy-value value=class.code tooltipCode="teacher-landing.class.click-to-copy"}} {{class.code}}
                  </div>
                </div>
              </div>
            </div>

            {{!-- language --}}
            <div class='language-row'>
              <div class='row-label'> {{t
                  'teacher-landing.class.class-settings.class-settings-sec.language'}}
              </div>
              <div class='row-value'>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{#if tempClass.primaryLanguage}}
                        {{get-value 'source' source=languages searchProp='id'
                                              searchVal=tempClass.primaryLanguage
                                              destProp='display_name' }}
                      {{else}}
                        {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                      {{/if}}
                      <span class="caret"></span>
                    </button>
                  <ul class="dropdown-menu">
                    {{#each languages as |language|}}
                      <li> <a data-item= {{language}} {{ action 'updateLanguage'  language }}>{{language.display_name}}
                          </a> </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{!-- language  ends--}}
            <div class='sub-sec-coteach'>
              <div class='row-offline-class'>
                <div class='offline-icon'></div>
                <div class='offline-label'> {{t
                  'teacher-landing.class.class-settings.class-settings-sec.offline-class-label'}}
                  <div class="offline-info-icon">{{gru-icon tooltipTitle= "teacher-landing.class.class-settings.class-settings-sec.offline-tooltip" name='info_outline'}}
                  </div>
                </div>
                <div class='action-button-slide-yes {{ if class.isOffline "disabled" }}' data-toggle="tooltip" title="{{t 'teacher-landing.class.class-settings.class-settings-sec.offline-toggle-tooltip'}}">
                  {{gru-switch switchOptions=switchOptions onOptionSwitch='saveOffline'
                  isChecked=class.isOffline}}
                </div>
              </div>
              <div class='row-offline-alert'>
                {{t 'teacher-landing.class.class-settings.class-settings-sec.offline-msg'}}
              </div>
              {{#if class.collaborators}}
                <div class='sub-sec-head'>{{t 'teacher-landing.class.class-settings.class-settings-sec.co-teachers'}}</div>
                {{#each class.collaborators as |coteacher|}}
                  <div class='sub-sec-row'>
                    <div class='teacher-icon' style="background-image: url({{coteacher.avatarUrl}})"></div>
                    <div class='co-teacher-label'> {{coteacher.lastName}} {{coteacher.firstName}}</div>
                    <div class='delete-co-teacher' {{action 'removeCoteacher' coteacher}} title="{{t 'common.remove'}}" data-toggle="tooltip"> {{gru-icon name='delete'}}</div>
                  </div>
                {{/each}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="class-layout-btn">
        <div class="btn-panel">
          <div class='class-btn' {{action 'deleteClass'}}>
            {{t 'class.info.delete'}} {{gru-icon name='delete'}}
          </div>
          <div class='class-btn' {{action 'archiveClass'}}>
            {{t 'teacher-landing.class.class-management-tab.archive-classroom'}} {{gru-icon name="archive"}}
          </div>
        </div>
      </div>
    </div>
    {{!-- two col layout ends --}}
    <div class='sec-rows-layout right-panel'>
      {{!-- Course Settings container  starts --}}
      <div class="course-settings-layout">
        <div class='course-sec-cont'>
          <div class='course-settings-label'>
            {{t 'teacher-landing.class.class-settings.course-settings-sec.course-settings-sec-head'}}
          </div>
          {{#if (and course subject) }}
            {{!-- Course setting section starts --}}
            <div class='course-settings-sec'>
              <div class="btn-panel">
                <div class='sec-title'>
                  {{#if course.title}}
                    {{course.title}}
                  {{else}}
                    {{t 'student-landing.class.no-course'}}
                  {{/if}}
                </div>
                <div class='class-btn {{if enableApplySettings "" "disabled"}}' {{action 'applyClassSettings'}}>
                  {{t
                'teacher-landing.class.class-settings.course-settings-sec.apply-settings'}}
                </div>
              </div>
              {{!-- sub, fwk, grade level --}}
              <div class='sub-sec-row'>
                <div class='field-dropdown-caps-label'> {{t
                'teacher-landing.class.class-settings.class-settings-sec.subject'}}</div>
                <div class='gradelevel-info'>
                </div>
                <div class='student-field field-drop-down '>
                  <span class='subject-label'>
                      {{gradeSubjectFWK.title}}
                      {{!-- {{class.preference.subject }} --}}
                    </span>
                </div>
              </div>
              <div class='sub-sec-row'>
                <div class='field-dropdown-caps-label'> {{t
                              'teacher-landing.class.class-settings.class-settings-sec.framework'}}</div>
                <div class='gradelevel-info'></div>
                <div class='field-drop-down'>
                  {{#if (and tempClass.preference.framework class.gradeCurrent )}}
                    <span class='subject-label'>
                        {{#if gradeSubjetFWKDv}}
                          {{get-value 'source' source=subjectFWKDD.frameworks searchProp='code'
                                              searchVal=tempClass.preference.framework
                                              destProp='title' }}
                        {{/if}}
                      </span>
                  {{else}}
                    {{#if ( not (or class.gradeLowerBound class.gradeCurrent )) }}
                      <div class="dropdown">
                        <span class="drop-down-span ellipsis"></span>
                        <button class="btn btn-default dropdown-toggle ellipsis" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{#if (and gradeSubjetFWKDv tempClass.preference.framework)  }}
                              {{get-value 'source' source=subjectFWKDD.frameworks searchProp='code'
                                              searchVal=tempClass.preference.framework
                                              destProp='title' }}
                            {{else}}
                              {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                            {{/if}}
                            <span class="caret"></span>
                          </button>
                        <ul class="dropdown-menu">
                          {{#if gradeSubjetFWKDv}}
                            {{#each subjectFWKDD.frameworks as |fwk|}}
                              {{#if fwk}}
                                <li> <a data-item= {{fwk}} {{ action 'updateFwkSettings'  fwk 'framework'}}>{{fwk.title}}
                                    </a> </li>
                              {{/if}}
                            {{/each}}
                          {{/if}}
                        </ul>
                      </div>
                    {{/if}}
                  {{/if}}
                </div>
              </div>

              {{#if (and course subject isPremiumClass) }}
                <div class='sub-sec-row'>
                  <div class='field-dropdown-caps-label'>
                    {{t 'teacher-landing.class.class-settings.origin'}}
                  </div>
                  <div class='gradelevel-info'>
                    {{gru-icon tooltipTitle= "teacher-landing.class.class-settings.course-settings-sec.origin-info"
                                  name='info_outline'}}
                  </div>
                  <div class='field-drop-down'>
                    <div class='grade-info'>
                      {{#if class.gradeLowerBound }}
                        <div class='grade-label'>
                          {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                              searchVal=class.gradeLowerBound
                                              destProp='grade' }}
                        </div>
                      {{else}}
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{action 'prepareListData' tempClass 'class-origin'}}>
                              {{#if tempClass.gradeLowerBound}}
                                {{get-value 'soruce' source=subjectTaxonomyGrades searchProp='id'
                                      searchVal=tempClass.gradeLowerBound
                                      destProp='grade' }}
                              {{else}}
                                {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                              {{/if}}
                              <span class="caret"></span>
                            </button>
                          <ul class="dropdown-menu">
                            {{#if getCurrentGradeDDContent}}
                              {{#each currentFilterList as |grade|}}
                                {{#if grade}}
                                  <li> <a data-item= {{grade}} {{ action 'updateClassSettings'  grade.id 'grade_lower_bound'}}>{{grade.grade}}
                                      </a> </li>
                                {{/if}}
                              {{/each}}
                            {{/if}}
                          </ul>
                        </div>
                      {{/if}}
                    </div>
                  </div>
                </div>
              {{/if}}
              {{!-- Current --}}
              {{!-- if Grade is present show that grade and dont allow a change --}}
              {{!-- Dont show grade if not present --}}
              {{#if getCurrentGradeDDContent}}
                {{#if currentGradeDDValue}}
                  <div class='sub-sec-row'>
                    <div class='field-dropdown-caps-label'> {{t
                              'teacher-landing.class.class-settings.class-settings-sec.grade-level'}}</div>
                    <div class='gradelevel-info'>
                      {{gru-icon tooltipTitle="teacher-landing.class.class-settings.course-settings-sec.current-grade-info"
                                  name='info_outline'}}
                    </div>
                    <div class='field-drop-down'>
                      <div class='grade-info'>
                        {{#if class.gradeCurrent}}
                          <div class='grade-label'>
                            {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                                searchVal=class.gradeCurrent
                                                destProp='grade' }}
                          </div>
                        {{else}}
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{action 'prepareListData' tempClass 'class-current'}}>
                                {{#if tempClass.gradeCurrent}}
                                  {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                                searchVal=tempClass.gradeCurrent
                                                destProp='grade' }}
                                {{else}}
                                  {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                                {{/if}}
                                <span class="caret"></span>
                              </button>
                            <ul class="dropdown-menu">
                              {{#if currentFilterList}}
                                {{#each currentFilterList as |grade|}}
                                  {{#if grade}}
                                    <li> <a data-item= {{grade}} {{ action 'updateClassSettings'  grade.id 'grade_current'}}>{{grade.grade}}
                                        </a> </li>
                                  {{/if}}
                                {{/each}}
                              {{/if}}
                            </ul>
                          </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/if}}
              {{!-- current end --}}
              {{!-- //Removing upper_bound for class settings

                            {{#if (and (and course subject) isPremiumClass) }}
                              <div class='sub-sec-row'>
                                <div class='field-dropdown-caps-label'>
                                  {{t 'teacher-landing.class.class-settings.destination'}}
                                </div>
                                <div class='field-drop-down'>
                                  <div class='grade-info'>
                                    <div class="dropdown">
                                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true"
                                        {{action 'prepareListData' class 'class-destination'}}>
                                        {{#if class.gradeUpperBound}}
                                          {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                      searchVal=class.gradeUpperBound
                                      destProp='grade' }}
                                        {{else}}
                                          {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                                        {{/if}}
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        {{#if getCurrentGradeDDContent}}
                                          {{#each currentFilterList as |grade|}}
                                            {{#if grade}}
                                              <li> <a data-item={{grade}}
                                                  {{ action 'updateClassSettings'  grade.id 'grade_upper_bound'}}>{{grade.grade}}
                                                </a> </li>
                                            {{/if}}
                                          {{/each}}
                                        {{/if}}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {{/if}} --}}
              {{#if (and (and course subject) isPremiumClass) }}
                <div class='sub-sec-sep'></div>
                <div class='row-offline-class sub-sec-row'>
                  <div class='offline-icon'></div>
                  <div class='offline-label'> {{t
                              'teacher-landing.class.class-settings.course-settings-sec.is-route0-applicable'}}</div>
                  <div class='action-button-slide-yes'>
                    {{gru-switch switchOptions=switchOptions onOptionSwitch='updateClassSettings'
                              isChecked=tempClass.route0Applicable }}
                  </div>
                </div>
              {{/if}}
            </div> {{!-- Course Settings section ends --}}
          {{else}}
            <div class='no-course-message'>
              {{#if (and course course.title)}}
                {{t 'teacher-landing.class.class-management-tab.course-subject-null'}}
              {{else}}
                {{t 'teacher-landing.class.class-management-tab.course-null'}}
              {{/if}}
            </div>
          {{/if }}
        </div>
      </div>
      <div class='gen-pathway-sec'>
        {{#if isPremiumClass}}
          <div class="btn-top-panel">
            <div class='sec-title'>
              {{#if course.title}}
                {{course.title}}
              {{else}}
                {{t 'student-landing.class.no-course'}}
              {{/if}}
            </div>
            <div class='top-btn {{if isClassBaselined "disabled" ""}} ' {{action 'generateClassPathway'}}>
              {{t 'teacher-landing.class.class-settings.class-settings-sec.generate-pathway'}} {{gru-icon name='replay'}}
            </div>
          </div>
          <div class='gen-baseline-info'>
            <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-1'}} </div>
            <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-2'}} </div>
            <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-3'}} </div>
            <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-4'}} </div>
          </div>
        {{/if}}
      </div>
      <div class='student-sec-cont'>
        <div class='student-settings-label'> {{t 'teacher-landing.class.class-settings.student-settings-sec.student-settings-sec-head'}}</div>
        {{#if (gt sortedMembers.length 0)}}
          <div class="student-settings-sec">
            <table>
              <tr>
                <th>{{t 'teacher-landing.class.class-settings.students'}}</th>
                {{#if isPremiumClass }}
                  <th>{{t 'teacher-landing.class.class-settings.origin'}}</th>
                  <th>{{t 'teacher-landing.class.class-settings.destination'}}</th>
                {{/if}}
                <th class="hidden-xs">{{t 'teacher-landing.class.class-settings.student-id'}}</th>
                <th>{{t 'teacher-landing.class.class-settings.student-settings-sec.col-head-active'}}</th>
              </tr>
              {{#each sortedMembers as |student|}}
                <tr>
                  <td>
                    <div class="student-info-container">
                      <div class='student-icon-col'>
                        <div class='student-icon' style="background-image: url({{student.avatarUrl}})"></div>
                      </div>
                      <div class="student-name ellipsis hidden-xs {{if student.isActive "" "inActiveRow"}}  ">
                        <span>{{student.lastName}} {{student.firstName}}</span>
                      </div>
                    </div>
                  </td>
                  {{#if isPremiumClass }}
                    <td>
                      <div class="origin {{if student.isActive "" "inActiveRow"}}  ">
                        <div class='grade-info'>
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{action 'prepareListData' student 'student-origin'}}>
                                {{#if (and student.gradeLowerBound ( not (eq student.gradeLowerBound 'undefined' ) ) )}}
                                  {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                              searchVal=student.gradeLowerBound
                              destProp='grade' }}
                                {{else}}
                                  {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                                {{/if}}
                                <span class="caret"></span>
                              </button>
                            <ul class="dropdown-menu">
                              {{#if getCurrentGradeDDContent}}
                                {{#each currentFilterList as |grade|}}
                                  {{#if grade}}
                                    <li> <a data-item= {{grade}} {{action 'updateClassMembersSettings' student  grade.id 'grade_lower_bound'}}>{{grade.grade}}
                                        </a> </li>
                                  {{/if}}
                                {{/each}}
                              {{/if}}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class='destination {{if student.isActive "" "inActiveRow"}}  '>
                        <div class='grade-info'>
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{action 'prepareListData' student 'student-destination'}}>
                                <span>
                                  {{#if (and student.gradeUpperBound ( not (eq student.gradeUpperBound 'undefined' ) ))}}
                                    {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                searchVal=student.gradeUpperBound
                                destProp='grade' }}
                                  {{else}}
                                    {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                                  {{/if}}
                                </span>
                                <span class="caret"></span>
                              </button>
                            <ul class="dropdown-menu">
                              {{#if getCurrentGradeDDContent}}
                                {{#each currentFilterList as |grade|}}
                                  {{#if grade}}
                                    <li> <a data-item= {{grade}} {{ action 'updateClassMembersSettings'  student grade.id 'grade_upper_bound'}}>{{grade.grade}}
                                        </a> </li>
                                  {{/if}}
                                {{/each}}
                              {{/if}}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                  {{/if}}
                  <td class="hidden-xs">
                    <div class="student-id ellipsis {{if student.isActive "" "inActiveRow"}}  ">
                      <span> {{student.studentId}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="actions-btn">
                      <div class="student-action-col">
                        {{gru-switch switchOptions=switchOptions onOptionSwitch='classMembersToggle' item=student data-toggle="tooltip"
                        isChecked=student.isActive}}
                      </div>
                      {{#if isPremiumClass }}
                        <div class="student-action-col {{if (and student.isActive  student.gradeUpperBound) "" "inActiveRow"}} {{if (and student.gradeUpperBound (or (not student.profileBaselineDone) student.regeneratePathway)) "baseline-active" "inActiveRow baseline-inactive" }}">
                          <div class='student-adj-lp' {{action 'applyClassMembersSettings' student}} title="{{t 'teacher-landing.class.class-settings.class-settings-sec.generate-pathway'}}" data-toggle="tooltip"> {{gru-icon name='replay'}}</div>
                        </div>
                      {{/if}}
                      <div class='student-action-col'>
                        <div class='student-delete' {{action "onRemoveStudent" student}} title="{{t 'common.remove'}}" data-toggle="tooltip">
                          {{gru-icon name='delete'}}</div>
                      </div>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </table>
          </div>
        {{else}}
          <div class='no-students-message'>
            {{t 'teacher-landing.class.class-management-tab.students-null'}}
          </div>
        {{/if}}
      </div> {{!-- Student Settings section ends --}}
    </div>
  </div> {{!-- two col layout ends --}}
</div>
