<div class="controller teacher class class-settings">
  <div class='sec-col-layout'> {{!-- two col layout ends1 --}}
    <div class='sec-rows-layout left-panel'> {{!-- two rows in a col layout ends1 --}}
      <div class="class-layout">
        <div class='class-sec-cont'>
          <div class='class-settings-label'>
            {{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-head'}}
          </div>
          <div class='class-settings-sec'>
            <div class='class-head-row-wrap'>
              <div class='sec-head-class-name'>
                {{#unless editingTitle}}
                  <span class='class-title ellipsis'>{{class.title}}</span>
                  <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" class='edit-icon' {{action "editTitle" true}}>{{gru-icon name='edit'}}</span>
                  <div class='sec-head-sep'></div>
                  {{else}}
                    {{validation.gru-input model=tempClass valuePath='title' didValidate=didValidate onFocusOut="editTitle"
                autofocus=true maxLength=25}}
                {{/unless}}
                <div class="min-score-container">
                  <div class='sec-desc-min-perf'>
                    {{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-desc'}}
                  </div>
                  <div class='minscoresec'>
                    {{#unless editingScore}}
                      <div class='sec-dec-value'>{{if class.minScore class.minScore '--'}} %
                        <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" {{action "editScore"}}>{{gru-icon name='edit'}}</span>
                      </div>
                      {{else}}
                        <div class="colscoreedit">
                          {{validation.gru-input-number model=tempClass valuePath='minScore' min=1 max=100 step=1
                    didValidate=didValidate onFocusOut="saveScore" onFocusIn="editScore" autofocus=true}}
                        </div>
                    {{/unless}}
                  </div>
                </div>
              </div>
              <div class='class-code'>
                <div class='class-code-wrap'>
                  <div class='label-class-code'> {{t
                    'teacher-landing.class.class-settings.class-settings-sec.class-code'}}</div>
                  <div class='value-class-code'>
                    {{gru-copy-value value=class.code tooltipCode="teacher-landing.class.click-to-copy"}} {{class.code}}
                  </div>
                </div>
              </div>
            </div>

            {{!-- language --}}
            <div class='language-row'>
              <div class='row-label'> {{t
                  'teacher-landing.class.class-settings.class-settings-sec.language'}}
              </div>
              <div class='row-value'>
                {{gru-dropdown
                  selectedItemId=class.primaryLanguage
                  placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                  items=languages
                  displayLabelFieldKey="display_name"
                  onChangeAction="updateLanguage"
                  btn-group-size=btn-group-size}}
              </div>
            </div>
            {{!-- language  ends--}}
            <div class='sub-sec-coteach'>
              <div class='row-offline-class'>
                <div class='offline-icon'></div>
                <div class='offline-label'> {{t
                  'teacher-landing.class.class-settings.class-settings-sec.offline-class-label'}}
                  <div class="offline-info-icon">{{gru-icon tooltipTitle= "teacher-landing.class.class-settings.class-settings-sec.offline-tooltip" name='info_outline'}}
                  </div>
                </div>
                <div class='action-button-slide-yes {{ if class.isOffline "disabled" }}' data-toggle="tooltip" title="{{t 'teacher-landing.class.class-settings.class-settings-sec.offline-toggle-tooltip'}}">
                  {{gru-switch switchOptions=switchOptions onOptionSwitch='saveOffline'
                  isChecked=class.isOffline}}
                </div>
              </div>
              <div class='row-offline-alert'>
                {{t 'teacher-landing.class.class-settings.class-settings-sec.offline-msg'}}
              </div>
              {{#if class.collaborators}}
                <div class='sub-sec-head'>{{t 'teacher-landing.class.class-settings.class-settings-sec.co-teachers'}}</div>
                {{#each class.collaborators as |coteacher|}}
                  <div class='sub-sec-row'>
                    <div class='teacher-icon' style="background-image: url({{coteacher.avatarUrl}})"></div>
                    <div class='co-teacher-label'> {{coteacher.lastName}} {{coteacher.firstName}}</div>
                    <div class='delete-co-teacher' {{action 'removeCoteacher' coteacher}} title="{{t 'common.remove'}}" data-toggle="tooltip"> {{gru-icon name='delete'}}</div>
                  </div>
                {{/each}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="class-layout-btn">
        <div class="btn-panel">
          <div class='class-btn' {{action 'deleteClass'}}>
            {{t 'class.info.delete'}} {{gru-icon name='delete'}}
          </div>
          <div class='class-btn' {{action 'archiveClass'}}>
            {{t 'teacher-landing.class.class-management-tab.archive-classroom'}} {{gru-icon name="archive"}}
          </div>
        </div>
      </div>
    </div>
    {{!-- two col layout ends --}}

    <div class='sec-rows-layout right-panel'>
      {{!-- Course Settings container  starts --}}
      <div class="course-settings-layout">
        <div class='course-sec-cont'>
          <div class='course-settings-label'>
            {{t 'teacher-landing.class.class-settings.course-settings-sec.course-settings-sec-head'}}
          </div>
          {{#if (and course subject) }}
            {{!-- Course setting section starts --}}
            <div class='course-settings-sec'>
              <div class="btn-panel">
                <div class='sec-title'>
                  {{#if course.title}}
                    {{course.title}}
                  {{else}}
                    {{t 'student-landing.class.no-course'}}
                  {{/if}}
                </div>
                <div class='class-btn {{if enableApplySettings "" "disabled"}}' {{action 'applyClassSettings'}}>
                  {{t
                'teacher-landing.class.class-settings.course-settings-sec.apply-settings'}}
                </div>
              </div>
              {{!-- sub, fwk, grade level --}}
              <div class='sub-sec-row'>
                <div class='field-dropdown-caps-label'> {{t
      'teacher-landing.class.class-settings.class-settings-sec.subject'}}</div>
                <div class='gradelevel-info'>
                </div>
                <div class='student-field field-drop-down '>
                  <span class='subject-label'>
                    {{gradeSubjectFWK.title}}
                  </span>
                </div>
              </div>

              <div class='sub-sec-row'>
                <div class='field-dropdown-caps-label'> {{t
                    'teacher-landing.class.class-settings.class-settings-sec.framework'}}</div>
                <div class='gradelevel-info'></div>
                <div class="field-drop-down">
                  {{gru-dropdown
                    selectedItemKey='code'
                    selectedItemId=class.preference.framework
                    placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                    items=frameworks
                    displayLabelFieldKey="title"
                    onChangeAction="updateFwkSettings"
                    btn-group-size=btn-group-size
                    allowEdit=(if  ( or class.gradeCurrent class.gradeLowerBound) false true )
                  }}
                </div>
              </div>

              {{#if (and (and course subject) isPremiumClass class.gradeLowerBound) }}
                <div class='sub-sec-row'>
                  <div class='field-dropdown-caps-label'>
                    {{t 'teacher-landing.class.class-settings.origin'}}
                  </div>
                  <div class='gradelevel-info'>
                    {{gru-icon tooltipTitle= "teacher-landing.class.class-settings.course-settings-sec.origin-info"
                                  name='info_outline'}}
                  </div>
                  <div class='field-drop-down'>
                    {{gru-dropdown
                      selectedItemId=class.gradeLowerBound
                      allowItemsRangeSelection=true
                      placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                      items=subjectTaxonomyGrades
                      displayLabelFieldKey="grade"
                      onChangeAction="updateClassGradeOrigin"
                      btn-group-size=btn-group-size
                    }}
                  </div>
                </div>
              {{/if}}

              <div class='sub-sec-row'>
                <div class='field-dropdown-caps-label'> {{t
                              'teacher-landing.class.class-settings.class-settings-sec.grade-level'}}</div>
                <div class='gradelevel-info'>
                  {{gru-icon tooltipTitle="teacher-landing.class.class-settings.course-settings-sec.current-grade-info"
                                  name='info_outline'}}
                </div>
                <div class='field-drop-down'>
                  {{gru-dropdown
                    selectedItemId=class.gradeCurrent
                    allowItemsRangeSelection=true
                    rangeBound='upper'
                    placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                    items=subjectTaxonomyGrades displayLabelFieldKey="grade"
                    onChangeAction="updateClassGradeLevel"
                    allowEdit=(if class.gradeCurrent false true )
                    btn-group-size=btn-group-size}}
                </div>
              </div>

              {{#if (and (and course subject) isPremiumClass) }}
                <div class='sub-sec-sep'></div>
                <div class='row-offline-class sub-sec-row'>
                  <div class='offline-icon'></div>
                  <div class='offline-label'> {{t
                              'teacher-landing.class.class-settings.course-settings-sec.is-route0-applicable'}}</div>
                  <div class='action-button-slide-yes'>
                    {{gru-switch switchOptions=switchOptions onOptionSwitch='updateClassSettings'
                              isChecked=tempClass.route0Applicable }}
                  </div>
                </div>
              {{/if}}
            </div> {{!-- Course Settings section ends --}}
          {{else}}
            <div class='no-course-message'>
              {{#if (and course course.title)}}
                {{t 'teacher-landing.class.class-management-tab.course-subject-null'}}
              {{else}}
                {{t 'teacher-landing.class.class-management-tab.course-null'}}
              {{/if}}
            </div>
          {{/if }}
        </div>
      </div>

      <div class='student-sec-cont'>
        <div class='student-settings-label'> {{t 'teacher-landing.class.class-settings.student-settings-sec.student-settings-sec-head'}}</div>
        {{#if (gt sortedMembers.length 0)}}
          <div class="student-settings-sec">
            <table>
              <tr>
                <th>{{t 'teacher-landing.class.class-settings.students'}}</th>
                {{#if isPremiumClass }}
                  <th>{{t 'teacher-landing.class.class-settings.origin'}}</th>
                  <th>{{t 'teacher-landing.class.class-settings.destination'}}</th>
                {{/if}}
                <th class="hidden-xs">{{t 'teacher-landing.class.class-settings.student-id'}}</th>
                <th>{{t 'teacher-landing.class.class-settings.student-settings-sec.col-head-active'}}</th>
              </tr>
              {{#each sortedMembers as |student|}}
                <tr>
                  <td>
                    <div class="student-info-container">
                      <div class='student-icon-col'>
                        <div class='student-icon' style="background-image: url({{student.avatarUrl}})"></div>
                      </div>
                      <div class="student-name ellipsis hidden-xs {{if student.isActive "" "inActiveRow"}}  ">
                        <span>{{student.lastName}} {{student.firstName}}</span>
                      </div>
                    </div>
                  </td>
                  {{#if isPremiumClass }}
                    <td>
                      <div class="origin {{if student.isActive "" "inActiveRow"}}  ">
                        <div class='grade-info'>
                          {{gru-dropdown
                            selectedItemId=student.gradeLowerBound
                            allowItemsRangeSelection=true
                            placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                            items=subjectTaxonomyGrades
                            displayLabelFieldKey="grade"
                            onChangeAction="updateClassStudentGradeOrigin"
                            selectedItemAssocId=student.id
                            btn-group-size=btn-group-size}}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class='destination {{if student.isActive "" "inActiveRow"}}'>
                        <div class='grade-info'>
                          {{gru-dropdown
                            selectedItemId=student.gradeUpperBound
                            allowItemsRangeSelection=true
                            rangeBound='upper'
                            placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                            items=subjectTaxonomyGrades
                            displayLabelFieldKey="grade"
                            onChangeAction="updateClassStudentGradeDestination"
                            selectedItemAssocId=student.id
                            btn-group-size=btn-group-size
                            allowEdit=(if student.profileBaselineDone false true )
                         }}
                        </div>
                      </div>
                    </td>
                  {{/if}}
                  <td class="hidden-xs">
                    <div class="student-id ellipsis {{if student.isActive "" "inActiveRow"}}  ">
                      <span> {{student.studentId}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="actions-btn">
                      <div class="student-action-col">
                        {{#if student.isActive}}
                          {{gru-switch switchOptions=switchOptions onOptionSwitch='classMembersToggle' item=student data-toggle="tooltip"
                          isChecked=true}}
                        {{else}}
                          {{gru-switch switchOptions=switchOptions onOptionSwitch='classMembersToggle' item=student data-toggle="tooltip"
                          isChecked=false}}
                        {{/if}}
                      </div>
                      {{#if isPremiumClass }}
                        <div class="student-action-col {{if (and student.isActive  student.gradeUpperBound) "" "inActiveRow"}}">
                          <div class='student-adj-lp' {{action 'applyClassMembersSettings' student}} title="{{t 'teacher-landing.class.class-settings.class-settings-sec.generate-pathway'}}" data-toggle="tooltip"> {{gru-icon name='replay'}}</div>
                        </div>
                      {{/if}}
                      <div class='student-action-col'>
                        <div class='student-delete' {{action "onRemoveStudent" student}} title="{{t 'common.remove'}}" data-toggle="tooltip">
                          {{gru-icon name='delete'}}</div>
                      </div>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </table>
          </div>
        {{else}}
          <div class='no-students-message'>
            {{t 'teacher-landing.class.class-management-tab.students-null'}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
