<div class="controller teacher class class-activities">
  <div class="ca-title hidden-xs hidden-sm">
    <p>{{t 'teacher-landing.class.class-activities'}}</p>
  </div>
  <div class="loading-spinner">
    {{#if isLoading}}
      {{three-bounce-spinner}}
    {{/if}}
  </div>
  <div class="dca-content-container">
    <div class="ca-date-and-add-content">
      <div class="ca-date-container">
        <div class="prev-cal-arrow" {{action 'showPreviousMonth'}}>{{gru-icon name="keyboard_arrow_left"}}</div>
        <div class="cal-mm-yyyy" {{action 'showCalendar'}}>{{format-date forFirstDateOfMonth 'MMMM YYYY'}} {{gru-icon name="arrow_drop_down"}}{{gru-icon name="arrow_drop_up"}}</div>
        <div class="next-cal-arrow" {{action 'showNextMonth'}}>{{gru-icon name="keyboard_arrow_right"}}</div>
        <div class="ca-datepicker-container">
          <div id="ca-datepicker"></div>
        </div>
      </div>
      <div class="ca-add-content">
        <div class="ca-contents-button">
          <p>{{t 'common.add'}}</p>
          <i class="collection-icon" {{action 'onAddDca' 'collection'}}></i>
          <i class="assessment-icon" {{action 'onAddDca' 'assessment'}}></i>
        </div>
        <div class="ca-course-map-button {{unless courseId 'no-course'}}" {{action 'addFromCourseMap'}}>
          <span>{{t 'common.course-map'}}</span>
        </div>
      </div>
    </div>
    <div class="dca-list-container">
      {{#each classActivities as |classActivity|}}
        <div class="dca-date-view-container">
          <div class="dca-date-container">
            {{gru-icon name="calendar_today"}}
            <span>{{format-date classActivity.added_date 'MMMM DD, YYYY'}}</span>
          </div>
          <hr/>
        </div>
        <div class="dca-content-list-container">
          {{#each classActivity.classActivities as |classActivity|}}
            {{class.gru-class-activity-panel
              classActivity=classActivity
              classId=classId
              members=members
              onReportclick='changeStatusValue'
              onGoLive='goLive'
              showGolive=true
              showDcaAssignButton=true
              showDcaRemoveButton=true
              showDcaAddButton=false
              onChangeVisibility='changeVisibility'
              onRemoveClassActivity='removeClassActivity'
              openDcaContentReport='openDcaContentReport'
            }}
          {{/each}}
        </div>
      {{/each}}
    </div>
    <div class="ca-unschedule-container">
      <div class="unscheduled-items">Unscheduled Items</div>
      {{gru-icon name="arrow_drop_up"}}
    </div>
  </div>
</div>

{{#if showSearchContentPullup}}
  {{teacher.class.search-content-pull-up
    showPullUp=showSearchContentPullup
    addedContentToDCA="addedContentToDCA"
    context=contextParams
    selectedSearchContentType=selectedSearchContentType
    todaysClassActivities=todaysClassActivities.classActivities
  }}
{{/if}}

{{#if showDcaCourseMapPullup}}
  {{teacher.class.dca-course-map-pull-up
  showPullUp=showDcaCourseMapPullup
  addedContentToDCA="addedContentToDCA"
  context=courseMapContextParams
  }}
{{/if}}

{{#if showDcaCollectionReportPullUp}}
  {{reports.pull-up.dca-collection-report context=dcaCollectionReportData showPullUp=showDcaCollectionReportPullUp}}
{{/if}}
