<div class="controller teacher class class-management">
  <div class="panel panel-default panel-primary classroom-information">
    <div class="panel-body">
      <div class="course-image">
        {{#if course.thumbnailUrl}}
          <img src="{{course.thumbnailUrl}}" />
        {{else}}
          <div class="no-course-image"></div>
        {{/if}}
      </div>
      <div class="course-name">
        {{#if course.title}}
          {{{truncate text=course.title maxLength=50}}}
        {{else}}
          {{t 'student-landing.class.no-course'}}
        {{/if}}
      </div>
      <div class="counts-container">
        <div class="count">
          {{#if hasUnits}}
            {{gru-icon tooltipTitle='common.unit' name="format_align_center"}}
            <span>{{course.unitCount}}</span>
          {{/if}}
        </div>
        <div class="count">
          {{#if hasStudents}}
            {{gru-icon tooltipTitle='common.student' name="people"}}
            <span>{{class.countMembers}}</span>
          {{/if}}
        </div>
      </div>
      <div class="teacher-profile">
        {{#if class.owner}}
          <img class="img-responsive" src="{{class.owner.avatarUrl}}" {{action 'profileTeacher' class.owner}}>
          <span class="owner-name">
            {{#if class.owner.firstName}}
              {{truncate text=(concat class.owner.firstName ' ' class.owner.lastName) maxLength=25}}
            {{else}}
              {{class.owner.username}}
            {{/if}}
          </span>
        {{/if}}
      </div>
      <div class="taxonomy-standards">
        {{#if course.tags.length}}
          {{taxonomy.gru-taxonomy-tag-list tags=course.tags tagsVisible=1 isInCard=true hasTooltips=false}}
        {{/if}}
      </div>
      <div class="copy-code">
        {{gru-copy-value value=class.code tooltipCode="teacher-landing.class.click-to-copy"}}
      </div>
      <div class="class-code">
        <div class="title">{{t 'student-landing.class-code'}}</div>
        <div class="code">{{class.code}}</div>
      </div>
    </div>
  </div>
  <div class="row header-info">
    <div class="col-md-6 col-sm-7 col-xs-4 class-information">
      <div class="class-name">
        <span>{{t 'teacher-landing.class.class-management-tab.class-name'}} </span>
        <div class="edit-text">
          {{#unless editingTitle}}
            <span class='class-title ellipsis'>{{class.title}}</span>
            <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" class='edit-icon' {{action "editTitle" true}}>{{gru-icon name='edit'}}</span>
          {{else}}
            {{validation.gru-input model=tempClass valuePath='title' didValidate=didValidate onFocusOut="editTitle"
            autofocus=true maxLength=25}}
          {{/unless}}
        </div>
      </div>
      <div class="row class-code">
        <div class="col-md-7 col-sm-7 col-xs-7 out-of-scope">
          <p>{{t 'teacher-landing.class.class-management-tab.attend-class-with-code'}} </p> {{gru-switch switchOptions=switchOptions onOptionSwitch='updateClass' isChecked=isAttendClassWithCode}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-8 course-information">
      <div class="assessment-min-score col-xs-8">
        <span class="ellipsis col-xs-12">
          {{t 'teacher-landing.class.class-management-tab.assessment-min-score'}} </span>
        <div class="edit-text">
          {{#unless editingScore}}
            <span class="col-xs-12">{{if class.minScore class.minScore '--'}} % </span>
            <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" {{action "editScore"}}>{{gru-icon name='edit'}}</span>
          {{else}}
            <div class="col-xs-12">
              {{validation.gru-input-number model=tempClass valuePath='minScore' min=1 max=100 step=1
                    didValidate=didValidate onFocusOut="saveScore" onFocusIn="editScore" autofocus=true}}
            </div>
          {{/unless}}
        </div>
      </div>
      <div class="actions">
        <span class="archive-btn" {{action 'archiveClass'}} title="{{t 'teacher-landing.class.class-management-tab.archive-classroom'}}" data-toggle="tooltip">
          {{gru-icon name="archive"}}
        </span>
        <span class="delete-btn" {{action 'deleteClass'}} title="{{t 'class.info.delete'}}" data-toggle="tooltip">
          {{gru-icon name="delete"}}
        </span>
      </div>
    </div>
  </div>
  {{#if class.collaborators }}
    <div class="teachers-info-container">
      <div class="teacherinfo">
        <span class="teacher-title">Co- Teachers</span>
        <div class='line-sep-hr'></div>
        <div class="teachers-info-table">
          <table class="table table-striped">
            <thead class="table-header">
              <tr>
                <th class='teachername'>
                  <span></span>
                </th>
                <th class="sm-last-name">
                  <div class='sortable last-name teacherdatacolumn'>
                    <span>{{t "teacher-landing.class.class-management-tab.last-name"}}</span>
                  </div>
                </th>
                <th>
                  <div class='sortable first-name teacherdatacolumn'>
                    <span>{{t "teacher-landing.class.class-management-tab.first-name"}}</span>
                  </div>
                </th>
                <th class="profile">
                  <div class='teacher-actions'>
                    <span>Profile</span>
                  </div>
                </th>
                <th>
                  <div class='teacher-actions'>
                    <span>Remove</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each class.collaborators as |coteacher|}}
                <tr class="student">
                  <td class='student'>
                    <span class='Shape' data-toggle="tooltip" title='Profile' {{action 'profileStudent' coteacher}}>
                      <img src={{coteacher.avatarUrl}} class='miniprofile'>
                    </span>
                  </td>
                  <td class="last-name teacherdatacolumn">
                    <span>{{coteacher.lastName}}</span>
                  </td>
                  <td class="first-name teacherdatacolumn">
                    <span>{{coteacher.firstName}}</span>
                  </td>
                  <td class="teacher-actions">
                    <span class='Shape' data-toggle="tooltip" title='Profile' {{action 'profileStudent' coteacher}}>
                      {{gru-icon name='account_circle'}}
                    </span>
                  </td>
                  <td class="teacher-actions">
                    <span class='delete-btn  remove-teacher' data-toggle="tooltip" title="{{t 'common.remove'}}" {{action 'removeCoteacher' coteacher}}>
                      {{gru-icon name='delete'}}
                    </span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if showPathWayPullUp}}
    {{#gru-pull-up pullUpType="pathway-pullup" showPullUp=showPathWayPullUp as |pull-up|}}
      {{#if pull-up.isShowHeader}}
        {{class.gru-learner-pathway model=studentPathway onOpenStudentReport="onOpenStudentReport" }}
      {{/if}}
    {{/gru-pull-up}}
  {{/if}}
  {{#if showReportPullUp}}
    {{class.gru-report-panel showPullUp=showReportPullUp reportData=reportData model=model
  onClosePullUp="onClosePullUp"}}
  {{/if}}
  {{#if isShowProficiencyPullup}}
    {{#gru-pull-up pullUpType="proficiency-pullup" showPullUp=isShowProficiencyPullup onClosePullUp="onClosePullUp" as |pull-up|}}
      {{#if pull-up.isShowHeader}}
        {{proficiency.learner-proficiency-pull-up
  student=selectedStudent
  subjectBucket=subjectBucket
  class=class
  course=course
  onSelectCompetency="onSelectCompetency"
  }}
      {{/if}}
    {{/gru-pull-up}}
  {{/if}}
  {{#if isShowCompetencyContentReport}}
    {{#reports.pull-up.competency-report type=selectedCompetency.competencyCode title=selectedCompetency.competencyStudentDesc showPullUp=isShowCompetencyContentReport onClosePullUp="onClosePullUp" competency=selectedCompetency}}
      {{reports.pull-up.competency-content-report competency=selectedCompetency userId=selectedStudent.id}}
    {{/reports.pull-up.competency-report}}
  {{/if}}
</div>
{{!-- {{log tempClass}}
{{log 'class ' class}}
 --}}
<div class='controller teacher classbg '>
  <div class="controller teacher class class-settings">
    <div class='sec-col-layout'> {{!-- two col layout ends1 --}}
      <div class='sec-rows-layout'> {{!-- two rows in a col layout ends1 --}}
        <div class="class-layout">
          <div class='class-sec-cont'>
            <div class='class-settings-label'>
              {{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-head'}}
            </div>
            <div class='class-settings-sec'>
              <div class='class-head-row-wrap'>
                <div class='sec-head-class-name'>
                  {{#unless editingTitle}}
                    <span class='class-title ellipsis'>{{class.title}}</span>
                    <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" class='edit-icon' {{action "editTitle" true}}>{{gru-icon name='edit'}}</span>
                    <div class='sec-head-sep'></div>
                  {{else}}
                    {{validation.gru-input model=tempClass valuePath='title' didValidate=didValidate onFocusOut="editTitle"
                autofocus=true maxLength=25}}
                  {{/unless}}
                  <div class='sec-desc-min-perf'>
                    {{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-desc'}}
                  </div>
                  <div class='minscoresec'>
                    {{#unless editingScore}}
                      <div class='sec-dec-value'>{{if class.minScore class.minScore '--'}} %
                        <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" {{action "editScore"}}>{{gru-icon name='edit'}}</span>
                      </div>
                    {{else}}
                      <div class="colscoreedit">
                        {{validation.gru-input-number model=tempClass valuePath='minScore' min=1 max=100 step=1
                    didValidate=didValidate onFocusOut="saveScore" onFocusIn="editScore" autofocus=true}}
                      </div>
                    {{/unless}}
                  </div>
                </div>
                <div class='class-code'>
                  <div class='class-code-wrap'>
                    <div class='label-class-code'> {{t
                    'teacher-landing.class.class-settings.class-settings-sec.class-code'}}</div>
                    <div class='value-class-code'>
                      {{gru-copy-value value=class.code tooltipCode="teacher-landing.class.click-to-copy"}}
                      {{class.code}}
                    </div>
                  </div>
                </div>
              </div>
              <div class='class-level-setting-field' style='display:none;'>
                <div class='caps-field-label-class'> {{t
                'teacher-landing.class.class-settings.class-settings-sec.grade-level'}}</div>
                <div class='field-drop-down'>
                  <div class='grade-info'>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span>
                          {{#if class.gradeCurrent}}
                            {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                      searchVal=class.gradeCurrent
                      destProp='grade' }}
                          {{else}}
                            {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                          {{/if}}
                        </span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        {{#if getCurrentGradeDDContent}}
                          {{#each currentGradeDDValue as |grade|}}
                            <li> <a data-item={{grade}} {{ action 'updateClassSettings'  grade.id 'grade_current'}}>{{grade.grade}}
                              </a> </li>
                          {{/each}}
                        {{/if}}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- language --}}
              <div class='language-row'>
                <div class='row-label'> {{t
                  'teacher-landing.class.class-settings.class-settings-sec.language'}}
                </div>
                <div class='row-value'>
                  {{ log languages}}
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{#if tempClass.primaryLanguage}}
                        {{get-value 'source' source=languages searchProp='id'
                                              searchVal=tempClass.primaryLanguage
                                              destProp='display_name' }}
                      {{else}}
                        {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                      {{/if}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      {{#each languages as |language|}}
                        <li> <a data-item={{language}} {{ action 'updateLanguage'  language }}>{{language.display_name}}
                          </a> </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{!-- language  ends--}}
              <div class='sub-sec-coteach'>
                <div class='row-offline-class sub-sec-row' style="border-top:unset;">
                  <div class='offline-icon'></div>
                  <div class='offline-label'> {{t
                  'teacher-landing.class.class-settings.class-settings-sec.offline-class-label'}}
                    <div class="offline-info-icon">{{gru-icon tooltipTitle= "teacher-landing.class.class-settings.class-settings-sec.offline-tooltip" name='info_outline'}}
                    </div>
                  </div>
                  <div class='action-button-slide-yes {{ if class.isOffline "disabled" }}' data-toggle="tooltip" title="{{t 'teacher-landing.class.class-settings.class-settings-sec.offline-toggle-tooltip'}}">
                    {{gru-switch switchOptions=switchOptions onOptionSwitch='saveOffline'
                  isChecked=class.isOffline}}
                  </div>
                </div>
                <div class='row-offline-alert'>
                  {{t 'teacher-landing.class.class-settings.class-settings-sec.offline-msg'}}
                </div>
                {{#if class.collaborators}}
                  <div class='sub-sec-head'>{{t 'teacher-landing.class.class-settings.class-settings-sec.co-teachers'}}</div>
                  {{#each class.collaborators as |coteacher|}}
                    <div class='sub-sec-row'>
                      <div class='teacher-icon' style="background-image: url({{coteacher.avatarUrl}})"></div>
                      <div class='co-teacher-label'> {{coteacher.lastName}} {{coteacher.firstName}}</div>
                      <div class='delete-co-teacher' {{action 'removeCoteacher' coteacher}} title="{{t 'common.remove'}}" data-toggle="tooltip"> {{gru-icon name='delete'}}</div>
                    </div>
                  {{/each}}
                  <div class='sub-sec-row' style='display:none;'>
                    <div class='add-co-teacher-icon' {{action 'addCoteacher' }}> {{gru-icon name='add'}} </div>
                    <div class='add-co-teacher-label'> {{t
                  'teacher-landing.class.class-settings.class-settings-sec.add-coteacher'}}</div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <div class='assessment-sec-cont'>
          <div class='assessment-setting-label'>
          </div>
          <div class='assessment-setting-sec'>
            dddd
          </div>
        </div>
        <div class="class-layout-btn">
          <div class="btn-panel">
            <div class='class-btn' {{action 'deleteClass'}}>
              {{t 'class.info.delete'}} {{gru-icon name='delete'}}
            </div>
            <div class='class-btn' {{action 'archiveClass'}}>
              {{t 'teacher-landing.class.class-management-tab.archive-classroom'}} {{gru-icon name="archive"}}
            </div>
          </div>
        </div>
      </div>
      {{!-- two col layout ends --}}
      <div class='sec-rows-layout'>
        {{!-- Course Settings container  starts --}}
        <div class="course-settings-layout">
          <div class='course-sec-cont'>
            <div class='course-settings-label'>
              {{t 'teacher-landing.class.class-settings.course-settings-sec.course-settings-sec-head'}}
            </div>
            {{#if (and course subject) }}
              {{!-- Course setting section starts --}}
              <div class='course-settings-sec'>
                <div class="btn-panel">
                  <div class='sec-title'>
                    {{#if course.title}}
                      {{course.title}}
                    {{else}}
                      {{t 'student-landing.class.no-course'}}
                    {{/if}}
                  </div>
                  <div class='class-btn {{if enableApplySettings "" "disabled"}}' {{action 'applyClassSettings'}}>
                    {{t
                'teacher-landing.class.class-settings.course-settings-sec.apply-settings'}}
                  </div>
                </div>
                {{!-- sub, fwk, grade level --}}
                <div class='sub-sec-row'>
                  <div class='field-dropdown-caps-label'> {{t
                'teacher-landing.class.class-settings.class-settings-sec.subject'}}</div>
                  <div class='gradelevel-info'>
                  </div>
                  <div class='student-field field-drop-down '>
                    <span class='subject-label'>
                      {{gradeSubjectFWK.title}}
                      {{!-- {{class.preference.subject }} --}}
                    </span>
                  </div>
                </div>
                <div class='sub-sec-row'>
                  <div class='field-dropdown-caps-label'> {{t
                              'teacher-landing.class.class-settings.class-settings-sec.framework'}}</div>
                  <div class='gradelevel-info'></div>
                  <div class='field-drop-down'>
                    {{#if (and tempClass.preference.framework  class.gradeCurrent )}}
                      <span class='subject-label'>
                        {{#if gradeSubjetFWKDv}}
                          {{get-value 'source' source=subjectFWKDD.frameworks searchProp='code'
                                              searchVal=tempClass.preference.framework
                                              destProp='title' }}
                        {{/if}}
                      </span>
                    {{else}}
                      {{#if (not class.gradeCurrent ) }}
                        <div class="dropdown">
                          <span class="drop-down-span ellipsis"></span>
                          <button class="btn btn-default dropdown-toggle ellipsis" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{#if (and gradeSubjetFWKDv tempClass.preference.framework)  }}
                              {{get-value 'source' source=subjectFWKDD.frameworks searchProp='code'
                                              searchVal=tempClass.preference.framework
                                              destProp='title' }}
                            {{else}}
                              {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                            {{/if}}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {{#if gradeSubjetFWKDv}}
                              {{log subjectFWKDD}} {{log subjectFWKDD.frameworks}}
                              {{#each subjectFWKDD.frameworks as |fwk|}}
                                {{#if fwk}}
                                  <li> <a data-item={{fwk}} {{ action 'updateFwkSettings'  fwk 'framework'}}>{{fwk.title}}
                                    </a> </li>
                                {{/if}}
                              {{/each}}
                            {{/if}}
                          </ul>
                        </div>
                      {{/if}}
                    {{/if}}
                  </div>
                </div>
                {{!-- sub, fwk, grade level --}}
                {{!-- {{ log 'tempclass' tempClass}} --}}
                {{#if (and course subject isPremiumClass) }}
                  <div class='sub-sec-row'>
                    <div class='field-dropdown-caps-label'>
                      {{t 'teacher-landing.class.class-settings.origin'}}
                    </div>
                    <div class='gradelevel-info'>
                      {{gru-icon tooltipTitle= "teacher-landing.class.class-settings.course-settings-sec.origin-info"
                                  name='info_outline'}}
                    </div>
                    <div class='field-drop-down'>
                      <div class='grade-info'>
                        {{#if class.gradeLowerBound }}
                          <div class='grade-label'>
                            {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                              searchVal=class.gradeLowerBound
                                              destProp='grade' }}
                          </div>
                        {{else}}
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{action 'prepareListData' tempClass 'class-origin'}}>
                              {{#if tempClass.gradeLowerBound}}
                                {{get-value 'soruce' source=subjectTaxonomyGrades searchProp='id'
                                      searchVal=tempClass.gradeLowerBound
                                      destProp='grade' }}
                              {{else}}
                                {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                              {{/if}}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              {{#if getCurrentGradeDDContent}}
                                {{#each currentFilterList as |grade|}}
                                  {{#if grade}}
                                    <li> <a data-item={{grade}} {{ action 'updateClassSettings'  grade.id 'grade_lower_bound'}}>{{grade.grade}}
                                      </a> </li>
                                  {{/if}}
                                {{/each}}
                              {{/if}}
                            </ul>
                          </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                {{/if}}
                {{!-- Current --}}
                {{!-- if Grade is present show that grade and dont allow a change --}}
                {{!-- Dont show grade if not present --}}
                {{#if getCurrentGradeDDContent}}
                  {{#if currentGradeDDValue}}
                    <div class='sub-sec-row'>
                      <div class='field-dropdown-caps-label'> {{t
                              'teacher-landing.class.class-settings.class-settings-sec.grade-level'}}</div>
                      <div class='gradelevel-info'>
                        {{gru-icon tooltipTitle="teacher-landing.class.class-settings.course-settings-sec.current-grade-info"
                                  name='info_outline'}}
                      </div>
                      <div class='field-drop-down'>
                        <div class='grade-info'>
                          {{#if class.gradeCurrent}}
                            <div class='grade-label'>
                              {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                                searchVal=class.gradeCurrent
                                                destProp='grade' }}
                            </div>
                          {{else}}
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{action 'prepareListData' tempClass 'class-current'}}>
                                {{#if tempClass.gradeCurrent}}
                                  {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                                searchVal=tempClass.gradeCurrent
                                                destProp='grade' }}
                                {{else}}
                                  {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                                {{/if}}
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                {{#if currentFilterList}}
                                  {{#each currentFilterList as |grade|}}
                                    {{#if grade}}
                                      <li> <a data-item={{grade}} {{ action 'updateClassSettings'  grade.id 'grade_current'}}>{{grade.grade}}
                                        </a> </li>
                                    {{/if}}
                                  {{/each}}
                                {{/if}}
                              </ul>
                            </div>
                          {{/if}}
                        </div>
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
                {{!-- current end --}}
                {{!-- //Removing upper_bound for class settings

                            {{#if (and (and course subject) isPremiumClass) }}
                              <div class='sub-sec-row'>
                                <div class='field-dropdown-caps-label'>
                                  {{t 'teacher-landing.class.class-settings.destination'}}
                                </div>
                                <div class='field-drop-down'>
                                  <div class='grade-info'>
                                    <div class="dropdown">
                                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true"
                                        {{action 'prepareListData' class 'class-destination'}}>
                                        {{#if class.gradeUpperBound}}
                                          {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                                      searchVal=class.gradeUpperBound
                                      destProp='grade' }}
                                        {{else}}
                                          {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                                        {{/if}}
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        {{#if getCurrentGradeDDContent}}
                                          {{#each currentFilterList as |grade|}}
                                            {{#if grade}}
                                              <li> <a data-item={{grade}}
                                                  {{ action 'updateClassSettings'  grade.id 'grade_upper_bound'}}>{{grade.grade}}
                                                </a> </li>
                                            {{/if}}
                                          {{/each}}
                                        {{/if}}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {{/if}} --}}
                {{#if (and (and course subject) isPremiumClass) }}
                  <div class='sub-sec-sep'></div>
                  <div class='row-offline-class sub-sec-row'>
                    <div class='offline-icon'></div>
                    <div class='offline-label'> {{t
                              'teacher-landing.class.class-settings.course-settings-sec.is-route0-applicable'}}</div>
                    <div class='action-button-slide-yes'>
                      {{gru-switch switchOptions=switchOptions onOptionSwitch='updateClassSettings'
                              isChecked=tempClass.route0Applicable }}
                    </div>
                  </div>
                {{/if}}
              </div> {{!-- Course Settings section ends --}}
            {{else}}
              <div class='no-course-message'>
                {{#if (and course course.title)}}
                  {{t 'teacher-landing.class.class-management-tab.course-subject-null'}}
                {{else}}
                  {{t 'teacher-landing.class.class-management-tab.course-null'}}
                {{/if}}
              </div>
            {{/if }}
          </div>
        </div> {{!-- Course Settings container ends --}}
        {{!-- Generate pathway section starts here --}}
        <div class='gen-pathway-sec'>
          {{#if isPremiumClass}}
            <div class="btn-top-panel">
              <div class='sec-title'>
                {{#if course.title}}
                  {{course.title}}
                {{else}}
                  {{t 'student-landing.class.no-course'}}
                {{/if}}
              </div>
              <div class='top-btn {{if isClassBaselined "disabled" ""}} ' {{action 'generateClassPathway'}}>
                {{t 'teacher-landing.class.class-settings.class-settings-sec.generate-pathway'}} {{gru-icon name='replay'}}
              </div>
              {{!-- <div class='sub-sec-sep'></div> --}}
            </div>
            <div class='gen-baseline-info'>
              <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-1'}} </div>
              <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-2'}} </div>
              <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-3'}} </div>
              <div> {{t 'teacher-landing.class.class-settings.gen-baseline.baseline-4'}} </div>
            </div>
          {{/if}}
        </div> {{!-- Generate pathway section ends --}}
        {{!-- Student Settings starts here --}}
        <div class='student-sec-cont'>
          <div class='student-settings-label'> {{t
          'teacher-landing.class.class-settings.student-settings-sec.student-settings-sec-head'}}</div>
          {{#if (gt sortedMembers.length 0)}}
            <div class="student-settings-sec">
              {{!-- Student Table / Grid starts here --}}
              <div class='student-grid'>
                {{!-- Student table header starts here --}}
                <div class='student-icon-col'>
                  <div class='student-header' style="border-bottom:unset;"> </div>
                </div>
                {{#if (and (and course subject) isPremiumClass) }}
                  <div class='student-header'> <span class='name-head'> {{t 'teacher-landing.class.class-settings.students'}}</span></div>
                  {{!-- <div class='student-header'> <span class='origin-head'>{{t 'teacher-landing.class.class-settings.origin'}}
                    </span> </div> --}}
                  <div class='student-header'> <span class='destination-head'> {{t 'teacher-landing.class.class-settings.destination'}}</span></div>
                {{else }}
                  <div class='student-header' style="grid-column-start:span  2;"> <span class='name-head'>
                      {{t 'teacher-landing.class.class-settings.students'}}</span></div>
                {{/if}}
                <div class='student-header' style="margin-left:-10px"> <span class='id-head'> {{t 'teacher-landing.class.class-settings.student-id'}}
                  </span></div>
                {{!-- <div class='student-header'> {{t 'teacher-landing.class.class-settings.joined-on'}}</div> --}}
                <div class='student-header' style='border-right:unset;'><span class='id-head'> {{t 'teacher-landing.class.class-settings.student-settings-sec.col-head-active'}}
                  </span></div> {{!-- Enable/Disable --}}
                {{#if (and (and course subject) isPremiumClass) }}
                  <div class='student-header' style='border-right:unset;'></div> {{!-- Adjust LP --}}
                  <div class='student-header' style='border-right:unset;'></div> {{!-- Delete --}}
                {{else }}
                  <div class='student-header' style="grid-column-start:span  2;border-right:unset;"></div>
                  {{!-- Delete --}}
                {{/if}}
                {{!-- Student table header -- ends --}}
                {{!-- Each row of student goes here --}}
                {{#each sortedMembers as |student|}}
                  <div class='student-icon-col'>
                    <div class='student-icon' style="background-image: url({{student.avatarUrl}})"></div>
                  </div>
                  {{#if (and (and course subject) isPremiumClass) }}
                    <div class="student-name {{if student.isActive "" "inActiveRow"}}  ">
                      <span class="ellipsis">{{student.lastName}} {{student.firstName}}</span>
                    </div>
                    {{!--
                    <div class="origin disabled {{if student.isActive "" "inActiveRow"}}  ">
                      <div class='grade-info'>

                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true"
                            {{action 'prepareListData' student 'student-origin'}}>
                            {{#if (and student.gradeLowerBound ( not (eq student.gradeLowerBound 'undefined' ) ) )}}
                              {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                          searchVal=student.gradeLowerBound
                          destProp='grade' }}
                            {{else}}
                              {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                            {{/if}}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {{#if getCurrentGradeDDContent}}
                              {{#each currentFilterList as |grade|}}
                                {{#if grade}}
                                  <li> <a data-item={{grade}}
                                      {{action 'updateClassMembersSettings' student  grade.id 'grade_lower_bound'}}>{{grade.grade}}
                                    </a> </li>
                                {{/if}}
                              {{/each}}
                            {{/if}}
                          </ul>
                        </div>

                      </div>
                    </div>
                    --}}
                    <div class='destination {{if student.isActive "" "inActiveRow"}}  '>
                      <div class='grade-info'>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{action 'prepareListData' student 'student-destination'}}>
                            <span>
                              {{#if (and student.gradeUpperBound ( not (eq student.gradeUpperBound 'undefined' ) ))}}
                                {{get-value 'source' source=subjectTaxonomyGrades searchProp='id'
                            searchVal=student.gradeUpperBound
                            destProp='grade' }}
                              {{else}}
                                {{t 'teacher-landing.class.class-settings.class-settings-sec.option-choose-one'}}
                              {{/if}}
                            </span>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {{#if getCurrentGradeDDContent}}
                              {{#each currentFilterList as |grade|}}
                                {{#if grade}}
                                  <li> <a data-item={{grade}} {{ action 'updateClassMembersSettings'  student grade.id 'grade_upper_bound'}}>{{grade.grade}}
                                    </a> </li>
                                {{/if}}
                              {{/each}}
                            {{/if}}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {{else }}
                    <div class="student-name {{if student.isActive "" "inActiveRow"}}  " style="grid-column-start:span 2;">
                      <span class="ellipsis">{{student.lastName}} {{student.firstName}}</span>
                    </div>
                  {{/if}}
                  <div class="student-id {{if student.isActive "" "inActiveRow"}}  "> <span> {{student.studentId}}
                    </span></div>
                  <div class='student-action-col' style='border-right:unset;align-items: center;'>
                    {{gru-switch switchOptions=switchOptions onOptionSwitch='classMembersToggle' item=student data-toggle="tooltip"
                  isChecked=student.isActive}}
                  </div>
                  {{!-- <div class='joined'> </div> --}}
                  {{#if (and (and course subject) isPremiumClass) }}
                    <div class=" student-action-col
                    {{if (and student.isActive  student.gradeUpperBound) "" "inActiveRow"}}
                    {{if (and student.gradeUpperBound (or (not student.profileBaselineDone) student.regeneratePathway)) "baseline-active" "inActiveRow baseline-inactive" }}
                    " style='border-right:unset;padding:5px;'>
                      <div class='student-adj-lp' {{action 'applyClassMembersSettings' student}} title="{{t 'teacher-landing.class.class-settings.class-settings-sec.generate-pathway'}}" data-toggle="tooltip" style='border-right:unset;'> {{gru-icon name='replay'}}</div>
                    </div>
                    <div class='student-action-col' style="padding:5px; align-self:end;;border-right:unset;">
                      <div class='student-delete' {{action "onRemoveStudent" student}} title="{{t 'common.remove'}}" data-toggle="tooltip">
                        {{gru-icon name='delete'}}</div>
                    </div>
                  {{else}}
                    <div class='student-action-col' style="grid-column-start:span 2;padding:5px ;align-self:end;border-right:unset;">
                      <div class='student-delete' {{action "onRemoveStudent" student}} title="{{t 'common.remove'}}" data-toggle="tooltip">
                        {{gru-icon name='delete'}}</div>
                    </div>
                  {{/if}}
                {{/each}} {{!-- Each row of student -- ends --}}
              </div> {{!-- Student Table / Grid ends --}}
              {{!-- Add Student Section -- Hidden for now as there is flow not defined --}}
              <div class='sub-sec-row'>
                <div class='add-student-icon'> {{gru-icon name='add'}}</div>
                <div class='add-student-label'> {{t 'teacher-landing.class.class-settings.action-lable-add-student'}}</div>
              </div> {{!-- Add Student Section -- ends --}}
            </div>
          {{else}}
            <div class='no-students-message'>
              {{t 'teacher-landing.class.class-management-tab.students-null'}}
            </div>
          {{/if}}
        </div> {{!-- Student Settings section ends --}}
      </div>
    </div> {{!-- two col layout ends --}}
  </div>
</div>