<div class="controller teacher class class-activities">
  <div class="ca-title hidden-xs hidden-sm">
    <p>{{t 'teacher-landing.class.class-activities'}}</p>
  </div>
  <div class="loading-spinner {{if isLoading 'active'}}">
    {{three-bounce-spinner}}
  </div>
  <div class="dca-content-container">
    <div class="ca-date-and-add-content">
      <div class="ca-date-selector">
        {{ca-date-picker
          showToday=true
          forMonth=forMonth
          allowDateSelectorToggle=true
          forYear=forYear
          showPreviousMonth="showPreviousMonth"
          showNextMonth="showNextMonth"
          onSelectDate="onSelectDate"
          onSelectToday="onSelectDate"
        }}
      </div>
      <div class="ca-add-content">
        <div class="ca-contents-button">
          <p>{{t 'common.add'}}</p>
          <i class="collection-icon" {{action 'onAddDca' 'collection'}}></i>
          <i class="assessment-icon" {{action 'onAddDca' 'assessment'}}></i>
        </div>
      </div>
    </div>
    {{#if showClassActivities}}
      <div class="dca-list-container">
        {{#each scheduledClassActivities as |classActivity|}}
          <div class="dca-date-view-container dca-date-view-container-{{format-date classActivity.added_date 'YYYY-MM-DD'}}">
            <div class="dca-date-container {{if (eq today classActivity.added_date) 'dca-date-container-today'}}">
              {{#if (eq today classActivity.added_date)}}
                <span>{{t 'student-landing.class.class-activities-tab.today'}}</span>
              {{else}}
                {{gru-icon name="calendar_today"}}
                <span>{{format-date classActivity.added_date 'MMMM DD, YYYY'}}</span>
              {{/if}}
            </div>
            <hr/>
          </div>
          <div class="dca-content-list-container {{if (eq today classActivity.added_date) 'dca-content-list-container-today'}}">
            {{#each classActivity.classActivities as |classActivity|}}
              {{class.gru-class-activity-panel
              classActivity=classActivity
              classId=classId
              members=members
              onReportclick='changeStatusValue'
              onGoLive='goLive'
              showDcaAssignButton=true
              showDcaAddButton=false
              onChangeVisibility='changeVisibility'
              onRemoveClassActivity='removeClassActivity'
              openDcaContentReport='openDcaContentReport'
              activityDate=classActivity.added_date
              showCohort=true
              onScheduleContentToDCA='onScheduleContentToDCA'
            }}
            {{/each}}
          </div>
        {{/each}}
        <div class="ca-datepicker-schedule-container ca-datepicker-popover-container">
          {{ca-date-picker forFirstDateOfMonth=forFirstDateOfMonth   userStartDateAsToday=true onSelectDate='onScheduleDate'  showMonths=true onSelectMonth='onScheduleForMonth'}}
        </div>
      </div>
    {{else}}
      <div class="no-content">{{t "common.no-dca-teacher"}}</div>
      <div class="no-content-image"></div>
    {{/if}}
  </div>
</div>
{{#if unScheduledClassActivities}}
  {{teacher.class.ca-unscheduled-items-pullup
    showPullUp=true
    classId=classId
    unScheduledClassActivities=unScheduledClassActivities
    onChangeVisibility='changeVisibility'
    onRemoveClassActivity='removeClassActivity'
    forFirstDateOfMonth=forFirstDateOfMonth
  }}
{{/if}}
{{#if showSearchContentPullup}}
  {{teacher.class.ca-search-content-pull-up
    showPullUp=showSearchContentPullup
    addedContentToDCA="addedContentToDCA"
    context=contextParams
    selectedSearchContentType=selectedSearchContentType
    todaysClassActivities=todaysClassActivities.classActivities
    forFirstDateOfMonth=forFirstDateOfMonth
  }}
{{/if}}

{{#if showDcaCollectionReportPullUp}}
  {{reports.pull-up.dca-collection-report context=dcaCollectionReportData showPullUp=showDcaCollectionReportPullUp}}
{{/if}}
