{{#if class.courseId}}
  <div class="controller teacher class course-map {{unless isOwner 'not-owner'}}">
    {{#if isOwner}}
      <div class="actions">
        <button {{action "editContent" course.id class.id}} class="btn btn-primary edit-content">
          {{t "common.edit-course"}} {{gru-icon name='edit'}}
        </button>
      </div>
    {{/if}}
    <div class="panel panel-default panel-primary welcome {{if showWelcome 'visible' 'hidden'}}">
      <div class="panel-body {{if isPremiumClass 'premium-class'}}">
        {{#if isPremiumClass}}
          <div class="description">{{t "teacher-landing.welcome-premium-course-map"}}</div>
        {{else}}
          <div class="description">{{t "teacher-landing.welcome-course-map"}}</div>
        {{/if}}
        <div class="close">
          <a {{action 'toggleHeader'}}>X</a>
        </div>
      </div>
    </div>
    <div class="course-map-container">
      {{#if isStudentCourseMap}}
        <div class="active-student">
          <div class="student-thumbnail pull-left" style="background-image: url({{activeStudent.avatarUrl}})"></div>
          <div class="student-name pull-left">{{activeStudent.fullName}}</div>
          {{#if isPremiumClass}}
            <div class="ms-rescope-content-preview">
              <div class="show-completed-course hidden-xs">
                {{t 'class.overview.course-map.rescope-toggle'}}
              </div>
              <div class="show-completed-course-btn">
                {{gru-toggle-button
                  isChecked=showAllRescopedContent
                  onToggleButton="onToggleRescope" }}
              </div>
            </div>
          {{/if}}
          <div class="student-close pull-right" {{action "onSelectAll"}}>
            {{gru-icon name="clear"}}
          </div>
          <div class="performance-container pull-right {{unless (gte studentClassScore 0) 'not-started'}}" {{action "onOpenStudentCourseReport" activeStudent}}>
            {{charts/gru-performance-chart performanceSummary=activeStudent.performance}}
          </div>
        </div>
      {{/if}}

      <div class="course-map-body {{unless isStudentCourseMap 'teacher-cm'}}">
        {{#if ( or (and class.milestoneViewApplicable  isMilestoneView) (not class.milestoneViewApplicable  isMilestoneView) isLessonPlanView)}}
          <div class="students">
            <div class="header hidden-xs">
              {{t 'class.info.students'}}
            </div>
            <div class="header hidden visible-xs" {{action 'toggleStudentList'}}>
              <div class="title">{{t 'class.info.students'}}</div>
              <div class="icon">
                {{gru-icon name="arrow_drop_down" class="arrow-down"}}
                {{gru-icon name="arrow_drop_up" class="arrow-up"}}
              </div>
            </div>
            <div class="students-list">
              {{#each sortedStudents as |student index|}}
                <div class="student list student-{{index}}" {{action "onSelectStudent" student index}}>
                  <div class="thumbnail" data-toggle="tooltip" style="background-image: url({{student.avatarUrl}})">
                  </div>
                  <div class="student-name">{{student.fullName}}</div>
                </div>
              {{/each}}
            </div>
          </div>
        {{/if}}

        <div class="render-course-map {{if (and (not isStudentCourseMap) questionItems) 'sm-course-map'}}">
          {{#if (and class.milestoneViewApplicable hasMilestoneViewReady (not isStudentCourseMap))}}
            <div class="ms-cm-view-switcher-ctn">
              <div class="ms-cm-view-tabs  {{if (not isMilestoneView isLessonPlanView) 'current-view'}}" {{action 'viewSwitcher' 'course-map'}}>
                {{t 'common.course-map'}}
              </div>
              <div class="ms-cm-view-tabs {{if isMilestoneView 'current-view'}}" {{action 'viewSwitcher' 'milestone'}}>
                {{t 'milestones'}}
              </div>
              <div class="ms-cm-view-tabs {{if isLessonPlanView 'current-view'}}" {{action 'viewSwitcher' 'lesson-plan'}}>
                {{t 'common.lesson-plan'}}
              </div>
            </div>
          {{/if}}
          {{#if isLoading}}
            {{three-bounce-spinner}}
          {{else}}
            {{#unless (and class.milestoneViewApplicable hasMilestoneViewReady)}}
              <div class="header title">
                {{t 'common.course-map'}}
              </div>
            {{else if isStudentCourseMap}}
              <div class="header title">
                {{t 'milestones'}}
              </div>
            {{/unless}}
            {{#if isStudentCourseMap}}
              {{#if (and isPremiumClass isAccepted)}}
                {{#unless (and class.milestoneViewApplicable isMilestoneView)}}
                  {{class/overview/routesuggestion-coursemap
                  isEnablePlayer=false
                  route0=route0Contents }}
                {{else}}
                  {{student/class/milestone-course-map-route0
                   class=class
                   studentId=activeStudent.id
                   locateLastPlayedItem=false
                 }}
                {{/unless}}
              {{/if}}
              <div class="student-coursemap">
                {{#unless (and class.milestoneViewApplicable isMilestoneView)}}
                  {{#each units as |unit index|}}
                    {{class/learner/gru-learner-accordion-unit
                    currentClass=class
                    studentId=activeStudent.id
                    currentCourse=course
                    classMembers=classMembers
                    collectionReport="collectionReport"
                    onOpenStudentUnitLevelReport="onOpenStudentUnitLevelReport"
                    onOpenStudentLessonReport="onOpenStudentLessonReport"
                    model=unit
                    units=units
                    index=index
                    isTeacher=false
                    isStudent=true
                    toggleLocation=toggleLocation
                    onSelectItem="onSelectItem"}}
                  {{else}}
                    <li>
                      {{t "common.contentUnavailable"}}
                    </li>
                  {{/each}}
                {{else}}
                  {{student/class/milestone-course-map
                  class=class
                  studentId=activeStudent.id
                  allowToPlay=false
                  gradeSubject=gradeSubject
                  locateLastPlayedItem=false
                  showToggleButtonToViewFullCourse=true
                  classMilestones = studentMilestones
                  isTeacher=true
                  location=location
                  showAllRescopedContent=showAllRescopedContent
                  showLocationReport=tab
                }}
                {{/unless}}
              </div>
            {{else}}
              <div class="teacher-coursemap">
                {{#unless (or (and class.milestoneViewApplicable isMilestoneView) isLessonPlanView ) }}
                  {{class/overview/gru-accordion-course
                currentClass=class
                currentCourse=course
                classMembers=classMembers
                onSelectResource="onPreviewContent"
                onLocationUpdate=(action 'updateLocation')
                onLaunchOnAir="launchOnAir"
                location=location
                units=units
                contentVisibility=contentVisibility
                onUpdateContentVisibility="updateContentVisibility"
                isTeacher=true
                isStudent=false
                isNUCourse=isNUCourse
                onOpenUnitLevelReport="onOpenUnitLevelReport"
                onOpenLessonReport="onOpenLessonReport"
                teacherCollectionReport="teacherCollectionReport"
                isPremiumClass=isPremiumClass
                showLocationReport= tab
              }}
                {{else}}
                {{#if isLessonPlanView}}
                {{teacher/class/lesson-plan
                  class=class
                  gradeSubject=gradeSubject
                  milestones=teacherMilestones
                  classMembers=classMembers
                  onOpenTeacherMilestoneReport = "onOpenTeacherMilestoneReport"
                  onOpenTeacherMilestoneLessonReport = "onOpenTeacherMilestoneLessonReport"
                  onOpenTeacherMilestoneCollectionReport = "onOpenTeacherMilestoneCollectionReport"
                  location=location
                  showLocationReport= tab
                }}
                  {{else}}
                  {{teacher/class/milestone-course-map
                    class=class
                    gradeSubject=gradeSubject
                    onPreviewContent='onPreviewContent'
                    onGoLive="goLive"
                    milestones=teacherMilestones
                    classMembers=classMembers
                    onOpenTeacherMilestoneReport = "onOpenTeacherMilestoneReport"
                    onOpenTeacherMilestoneLessonReport = "onOpenTeacherMilestoneLessonReport"
                    onOpenTeacherMilestoneCollectionReport = "onOpenTeacherMilestoneCollectionReport"
                    location=location
                    showLocationReport= tab
                  }}
                  {{/if}}
                {{/unless}}
              </div>
            {{/if}}
          {{/if}}
        </div>
        {{#unless isStudentCourseMap}}
          <div class="items-to-grade">
            <div class="header hidden-xs">
              {{t 'class.analytics.performance.grade-items'}}
            </div>
            <div class="header hidden visible-xs" {{action 'toggleItemsToGrade'}}>
              <div class="title">{{t 'class.analytics.performance.grade-items'}} </div>
              <div class="icon">
                {{gru-icon name="arrow_drop_down" class="arrow-down"}}
                {{gru-icon name="arrow_drop_up" class="arrow-up"}}
              </div>
            </div>
            {{#if isGradeLoading}}
              {{three-bounce-spinner}}
            {{else}}
              {{#if itemsToGradeList}}
                {{gru-grade-items
                  openReportGrade='onOpenReportGrade'
                  gradeableItems=itemsToGradeList}}
              {{else}}
                <div class="no-grade-items">
                  <i></i>
                  <span>
                    {{t 'class.analytics.performance.no-grade-items'}}
                  </span>
                </div>
              {{/if}}
            {{/if}}
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
{{else}}
  <div class="no-content">This classroom does not have a related course and it has no content</div>
{{/if}}
{{#if showStudentUnitReport}}
  {{reports/pull-up/student-unit-report onClosePullUp="onClosePullUp" context=studentUnitReportContext showPullUp=showStudentUnitReport}}
{{/if}}
{{#if showStudentLessonReport}}
  {{reports/pull-up/student-lesson-report onClosePullUp="onClosePullUp" context=studentLessonReportContext showPullUp=showStudentLessonReport}}
{{/if}}
{{#if isShowStudentReport}}
  {{class/gru-report-panel showPullUp=isShowStudentReport onClosePullUp="onClosePullUp" reportData=studentReportContextData model=studentReportContextData.lesson isStudent=false onClosePullUp="onClosePullUp"}}
{{/if}}
{{#if isShowStudentExternalAssessmentReport}}
  {{
    reports/pull-up/student-external-assessment-report
    reportData=studentReportContextData
    showPullUp=isShowStudentExternalAssessmentReport
    isStudent=studentReportContextData.isStudent
    onClosePullUp="onClosePullUp"
    showPullUp=isShowStudentExternalAssessmentReport
  }}
{{/if}}
{{#if showCourseReport}}
  {{reports/pull-up/student-course-report onClosePullUp="onClosePullUp=" context=studentCourseReportContext showPullUp=showCourseReport}}
{{/if}}
{{#if isShowContentPreview}}
  {{reports/pull-up/gru-collection-preview
    showPullUp=isShowContentPreview
    previewContentId=previewContent.id
    previewContentType=previewContentType
    playerContext=previewPlayerContext
  }}
{{/if}}

{{#if isShowStudentMilestoneReport}}
  {{#reports/pull-up/milestone/milestone-report
    showPullUp = isShowStudentMilestoneReport
    title = course.title
  }}
    {{reports/pull-up/milestone/student-milestone-performance-report
      class = studentClassData
      userId = activeStudent.id
    }}
  {{/reports/pull-up/milestone/milestone-report}}
{{/if}}

{{#if showFRQuestionGrade}}
  {{grade/pull-up/free-response-question-grade
    isDCAContext=false
    showPullUp=showFRQuestionGrade
    context=itemToGradeContextData
    itemsToGrade=questionItems}}
{{/if}}

{{#if isShowOfflineActivityPreview}}
  {{reports/pull-up/oa-preview
    showPullUp=isShowOfflineActivityPreview
    oaId=previewContent.id
    classId=classId
    isReportView=false
  }}
{{/if}}


{{#if isShowOaGrading}}
  {{activity/offline/grading-report
    showPullUp=isShowOaGrading
    context=itemToGradeContextData
    itemsToGrade=itemsToGradeList
    isTeacher=true
    refreshItem='onRefreshItem'
    isCourseMapGrading = true
  }}
{{/if}}

{{#if isShowStudentOfflineActivityReport}}
  {{reports/pull-up/oa-preview
    showPullUp=isShowStudentOfflineActivityReport
    oaId=studentReportContextData.collection.id
    isReportView=true
    classId=class.id
    isCmReport = true
    reportContext = studentReportContextData
  }}
{{/if}}
