<div class="panel-default">
    <div class="panel-heading">
        <h3>Description</h3>
        <div class="detail">
            <div class="actions">
                {{partial 'content/partials/information-actions'}}
            </div>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="panelBodyContainer">
            <div class="textContainer">
                <div class='referenceText'>
                    {{gru-rich-text-editor content=model.reference model=model valuePath='reference'}}
                    {{!-- {{validation.gru-input model=model valuePath='reference' maxLength=50 didValidate=didValidate}} --}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-default">
    <div class="panel-heading">
        <h3>Exemplar Answer</h3>
        <div class="detail">
            <div class="actions">
                {{partial 'content/partials/information-actions'}}
            </div>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="panelBodyContainer">
            <div class="textContainer">
                <div class='referenceText exemplarText'>
                    {{gru-rich-text-editor content=model.exemplar model=model valuePath='exemplar'}}
                    {{!-- {{validation.gru-input model=model valuePath='exemplar' maxLength=50 didValidate=didValidate}} --}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" panel-default">
    <div class="panel-heading">
        <h3>Reference Artifacts</h3>
    </div>
    <div class="panel panel-body">
        <div class="panelBodyContainer">
            <section class="upload-section">
                <div class='upload-list-container'>
                    <span>Uploads</span>
                    {{log 'parsedReference' parsedReference}}
                    {{#each parsedReference as | refItem|}}
                        <span class="uploaded-item">
                            <button class="btn no-bgd add-item" {{action 'deleteReference1' refItem.refData }}>{{gru-icon name="add_circle"}}</button>
                            <span class="image">
                                <i class="{{refItem.subType}}-icon"></i>
                            </span>
                            <button class="remove-uploaded btn no-bgd remove-item" {{action 'deleteReference' refItem.refData }}>{{gru-icon name="remove_circle"}}</button>
                        </span>
                    {{/each}}
                    {{!-- {{#each references as | refItem|}}
                        {{#if (eq refItem.type 'uploaded')}}
                            <span class="uploaded-item">
                                <button class="remove-uploaded btn no-bgd remove-item" {{action 'deleteReference' refItem}}>{{gru-icon name="remove_circle"}}</button>
                                <span class="image">
                                    <i class="{{refItem.subType}}-icon"></i>
                                </span>
                            </span>
                        {{/if}}
                    {{/each}} --}}
                </div>
                {{content.activity.reference.gru-edit-reference editType='upload' oaId=activityModel.id  updateParent=(action 'updateReferenceCollection')  isEditing=isEditing}}
            </section>
            <section class='url-section'>
                <div class="border-bottom">
                    <h3>Reference URLs</h3>
                </div>
                {{#each references as | refItem|}}
                    {{#if (eq refItem.type 'remote')}}
                        <div> {{refItem.type}} <span class='separator'>|</span> {{refItem.subType}} <span class='separator'>|</span> <span class='ellipsis listItem'>{{refItem.location}}</span> <button class='button ' {{action 'deleteReference' refItem}}> Delete</button></div>
                    {{/if}}
                {{/each}}
                {{content.activity.reference.gru-edit-reference editType='url' oaId=activityModel.id  updateParent=(action 'updateReferenceCollection')  isEditing=isEditing}}
            </section>
        </div>
    </div>
</div>