<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel-heading hidden">
            <div class='actions'>
                <button class="cancel btn btn-info" {{action 'cancelChanges'}}>{{t "common.cancel"}}</button>
                <button class="save btn btn-success" {{action 'updateContent' model}}>{{t "common.save"}}</button>
            </div>
            <div style='clear:both;'></div>
        </div>
        <div class="panel-body">
            {{#unless teacherRubrics.title}}
                <div class='options-container border-bottom'>
                    {{gru-switch switchOptions=switchOptions isChecked=isTeacherRubrics}}
                    <span class='options-label'> {{t 'oa.rubrics.switch.label'}} </span>
                </div>
            {{else}}
                <span class='head-label'> {{t 'oa.teacher-rubric'}} </span>
            {{/unless}}
            <div class="content">
                {{#unless isTeacherRubrics}}
                    <div class="scoring-option">
                        <span class='hidden'> {{t 'oa.max-score.label'}} </span>
                        <div class="setting maximum-points">
                            {{input type=number value=tempModel.maxScore class="max-score-input" name='maxScore' maxlength=3 
                            focus-out="updateQuantity"
                            key-press="inputTyping"
                            
                            }}
                            {{!--                             
                            {{validation.gru-input options=maximumOptions search="true" optionSelected=tempModel.maxScore onOptionSelect="onMaxScoreChange"}}
                             --}}
                            <span class="title">{{t 'content.questions.edit.builder.feedback-grading.maximum-points'}}</span>
                        </div>
                    </div>
                {{/unless}}
                {{#if isTeacherRubrics}}
                    {{#if (and isTeacherRubrics (not teacherRubrics.title))}}
                        <span> {{t 'oa.rubrics.label'}} </span>
                    {{/if}}
                    {{#if teacherRubrics.title}}
                        <div class="associated-rubric">
                            <div class="image">
                                {{#if teacherRubrics.thumbnail}}
                                    <img class="img-responsive" src="{{teacherRubrics.thumbnail}}" />
                                {{else}}
                                    <i class="rubric-icon"></i>
                                {{/if}}
                            </div>
                            <div class="info">
                                <h3>{{teacherRubrics.title}}</h3>
                            </div>
                            <div class="actions">
                                <button {{action 'showAddRubricModal' 'teacher'}} class="btn no-bgd edit-item">
                                    {{gru-icon name="edit"}}
                                </button>
                            </div>
                        </div>
                    {{else}}
                        <div class="add-rubric-container">
                            <button class="btn btn-success add-prefix add-rubric" {{action 'showAddRubricModal' 'teacher'}}>
                                {{t 'content.questions.edit.builder.feedback-grading.from-existing-rubric'}}
                            </button>
                        </div>
                        <div class="validation">
                            {{#if rubricError}}
                                <span class="error">
                                    {{t 'content.questions.edit.builder.feedback-grading.rubric-error'}}
                                </span>
                            {{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>