<div class="panel panel-default">
    {{!-- <div class="panel-heading"> --}}
    {{!-- hiding header as it creates extra border --}}
    <a role="button" data-toggle="collapse" data-parent="#accordion" {{action 'expandTitle' }} id="head-{{elementId}}" href="#m-{{elementId}}" aria-expanded="true" aria-controls="m-{{elementId}}">
        <div class="associated-rubric">
            <div class="image">
                <i class="rubric-icon"></i>
            </div>
            <div class="info">
                <h3>{{model.title}} </h3>
                <span class="submissionCount">
                    {{#if model.id}}
                        {{t 'oa.task.submissions.frs-label'}}
                    {{/if}}
                    {{#if (gt model.oaTaskSubmissions.length 0)}}
                        , {{t 'oa.task.submissions.label'}} : {{model.oaTaskSubmissions.length}}
                    {{/if}}
                </span>
            </div>
            {{!-- {{task.description}} --}}
            {{#if model.id}}
                <div class="actions">
                    <button class="btn no-bgd remove-item" {{action 'removeLineItem' preventDefault=false bubbles=false}}>
                        {{gru-icon name="remove_circle"}}
                    </button>
                </div>
            {{/if}}
        </div>
    </a>
    {{!-- </div> --}}
    <div id="m-{{elementId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="#head-{{elementId}}">
        <div class="panel-body">
            <div class='expandedTitle'>
                <div class='actions'>
                    <button class="cancel btn btn-info" {{action 'cancelChanges'}}>{{t "common.cancel"}}</button>
                    <button class="save btn btn-success" {{action 'updateContent' model}}>{{t "common.save"}}</button>
                </div>
                {{!-- <button {{action 'updateContent'}}>Save</button>
        <button>Cancel </button> --}}
                <span>Title</span>
                {{validation.gru-input model=model valuePath='title' maxLength=50 didValidate=didValidate}}
            </div>
            {{!-- {{partial 'content/partials/information-actions'}} --}}
            <span>Description</span>
            {{validation.gru-textarea model=model content=model.description valuePath='description' rows=2 maxLength=500 didValidate=didValidate}}
            {{!-- {{gru-rich-text-editor content=model.description model=model valuePath='description'}} --}}
            {{!-- {{validation.gru-input model=model valuePath='description' maxLength=50 didValidate=true}} --}}
            {{#if model.id}}
                {{content.activity.task.gru-submissions submissions=model.oaTaskSubmissions oaId=oaId oaTaskId=model.id }}
            {{/if}}
            {{!-- updateParent=(action 'updateParent') --}}
        </div>
    </div>
</div>