<div class="panel-default">
    <div class="panel-heading">
        <h3>{{t 'content.questions.edit.builder.feedback-grading.title'}}</h3>
    </div>
    <div class="panel panel-body">
        <div class="feedback-grading">
            <div class="border-bottom">
            </div>
            <div class="content">
                {{#unless isTeacherRubrics}}
                    <div class="scoring-settings">
                        <div class="setting maximum-points">
                            <span class="title">{{t 'content.questions.edit.builder.feedback-grading.maximum-points'}}</span>
                            {{validation.gru-select options=maximumOptions search="true" optionSelected=tempModel.maxScore onOptionSelect="onMaxScoreChange"}}
                        </div>
                        <div class='actions'>
                            <button class="cancel btn btn-info" {{action 'cancelChanges'}}>{{t "common.cancel"}}</button>
                            <button class="save btn btn-success" {{action 'updateContent' model}}>{{t "common.save"}}</button>
                        </div>
                    </div>
                {{/unless}}
                {{#unless (and isTeacherRubrics teacherRubrics.title) }}
                    <div>
                        <div class="switch rubric">
                            <label class="switch-label">{{t 'common.rubric'}}</label>
                            {{gru-switch switchOptions=switchOptions isChecked=isTeacherRubrics}}
                        </div>
                    </div>
                {{/unless}}
                {{#if isTeacherRubrics}}
                    {{#if teacherRubrics.title}}
                        <div class="associated-rubric">
                            <div class="image">
                                {{#if teacherRubrics.thumbnail}}
                                    <img class="img-responsive" src="{{teacherRubrics.thumbnail}}" />
                                {{else}}
                                    <i class="rubric-icon"></i>
                                {{/if}}
                            </div>
                            <div class="info">
                                <h3>{{teacherRubrics.title}}</h3>
                            </div>
                            <div class="actions">
                                <button {{action 'showAddRubricModal' 'teacher'}} class="btn no-bgd edit-item">
                                    {{gru-icon name="edit"}}
                                </button>
                            </div>
                        </div>
                    {{else}}
                        <div class="add-rubric-container">
                            <button class="btn btn-success add-prefix add-rubric" {{action 'showAddRubricModal' 'teacher'}}>
                                {{t 'content.questions.edit.builder.feedback-grading.from-existing-rubric'}}
                            </button>
                        </div>
                        <div class="validation">
                            {{#if rubricError}}
                                <span class="error">
                                    {{t 'content.questions.edit.builder.feedback-grading.rubric-error'}}
                                </span>
                            {{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>