<div class="header">
    <h2>Task</h2>
    <div class="actions">
        {{!-- <button class="btn no-bgd add-item" {{action 'addNewTask'}}>
            {{gru-icon name="add_circle"}}
        </button> --}}
        <button class="btn btn-primary add-item dropdown-toggle" title="{{t 'common.create'}}" type="button" data-toggle="dropdown" {{action 'addNewTask'}}>{{gru-icon name="add"}}</button>
    </div>
</div>
<div class="panel-default">
    <div class="panel-heading">
        <div class="detail">
        </div>
    </div>
    <div class="panel panel-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {{log 'tasks' tasks}}
            {{#each tasks as |task|}}
                {{content.activity.gru-tasks-edit oaId=activityModel.id updateParent=(action 'updateTaskCollection') model=task removeLineItem=(action 'removeLineItem')}}
            {{/each}}
            {{#if task }}
                {{content.activity.gru-tasks-edit oaId=activityModel.id updateParent=(action 'updateTaskCollection') model=task removeLineItem=(action 'removeLineItem')}}
            {{/if}}
        </div>
    </div>
</div>
{{!-- <button class="btn btn-primary add-item dropdown-toggle" title="{{t 'common.create'}}" type="button" data-toggle="dropdown">{{gru-icon name="add"}}</button> --}}