<div class="panel-container">
  {{ library.library-search-header
     selectedFilters=selectedFilters
     activeContentType=activeContentType
     library=library
     profile=profile
     onShowModal="showModal"
     isAnonymousUser=session.isAnonymous
     onSearch="doSearch"
   }}
  {{log profile}}
  {{#if isLoading}}
    {{three-bounce-spinner}}
  {{else}}
    {{library.library-content-result-grid-view
       paginateNext="doPaginate"
       isTeacher=isTeacher
       activeClasses=activeClasses
       myClasses=myClasses
       type=type
       isMyProfile=isMyProfile
       onRemixQuestion="remixQuestion"
       onRemixCourse="remixCourse"
       updateUserClasses=updateClass
       searchResults=searchResults
       profile=profile
       activeContentType=activeContentType
     }}
  {{/if}}
</div>
