<div class="offline-activity-player-container">
  <div class="header-container">
    <div class="action pull-left" {{action 'onClosePlayer'}} data-toggle="tooltip" data-placement="bottom" title="{{t 'common.close'}}">
      <div class="close-icon">
        {{gru-icon name='close'}}
      </div>
    </div>
    <div class="pull-left content-title">
      <div class="title-info">
        <i class="icon pull-left"></i>
        <p class="title pull-left">{{offlineActivity.title}}</p>
      </div>
    </div>
  </div>
  <div class="body-container">
    {{#if isShowStartPlayer}}
      {{player.offline-activity.gru-offline-activity-start-page
        offlineActivity = offlineActivity
        onStartPlayer = "onStartPlayer"
        onClosePlayer = "onClosePlayer"}}
    {{else}}
      {{player.offline-activity.gru-offline-activity-submission
        offlineActivity = offlineActivity
        classId = classId
        caContentId = caContentId}}
    {{/if}}
  </div>
</div>
