<div class="external-player-container">
  <div class="header-container">
    <div class="action pull-left" {{action 'onClosePlayer'}} data-toggle="tooltip" data-placement="bottom" title="{{t 'common.close'}}">
      <div class="close-icon">
        {{gru-icon name='close'}}
      </div>
    </div>
    <div class="pull-left content-title">
      <div class="title-info">
        <i class="icon pull-left {{resourceType}}"></i>
        <p class="title pull-left">{{externalResource.title}}</p>
      </div>
    </div>
  </div>
  <div class="player-container">
    {{#if (eq resourceType 'collection-external')}}
      {{player.gru-external-collection-page
        collection=externalResource
        mapLocation=mapLocation
        source=source
      }}
    {{else}}
      {{player.gru-external-assessment-page
        assessment=externalResource
        mapLocation=mapLocation
        source=source
      }}
    {{/if}}
  </div>
</div>
