<div class="controller student-landing container-fluid">
  <div class="student-left-panel">
    {{#unless (gt loginCount 5)}}
      <div class="greetings hidden-xs">
        <div class="featured-courses pull-right">
          <span>{{t 'student-landing.browse-our'}} {{#link-to 'library'}}{{t 'student-landing.featured-courses'}}{{/link-to}}</span>
        </div>
      </div>
      <div class="hidden-xs">
        {{gru-student-featured-courses
        courses=featuredCourses
        profile=profile
        loginCount=loginCount
      }}
      </div>
    {{/unless}}

    <div class="student-navigator">
      <ul class="nav nav-tabs hidden-xs" role="tablist">
        <li role="presentation" class="active active-classes tab">
          {{#link-to 'student-home'}}
            <span class="lead">{{t 'user.classrooms'}}</span>
          {{/link-to}}
        </li>
        <li role="presentation" class="independent-learning tab">
          {{#link-to 'student-independent-learning.learning-base'}}
            <span class="lead">{{t 'user.independent-learning'}}</span>
          {{/link-to}}
        </li>
      </ul>
      <div class="heading hidden visible-xs">{{t 'user.classrooms'}}</div>
    </div>
    <div class="content">
      {{cards.gru-join-class-card
        onJoinClass="joinClass"
        validCode=validCode
        notMember=notMember
        allowedCode=allowedCode
        isLoading=isLoading}}
      {{#if hasClasses}}
        {{#each activeClasses as |class|}}
          {{cards.gru-student-class-card
            class=class
            course=class.course
            onPlayCollection='studyPlayer'
            demoClass= demoClass
            onItemSelected='selectMenuItem'
            }}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
