<div class="student-proficiency-container {{if isShowSuggestion 'player-suggestion'}} {{if isPlayerProficiency 'player-proficiency'}}">
  {{#if isPlayerProficiency}}
    {{player/gru-study-header
      classId=class.id
      class=class
      courseId=course.id
      courseTitle=course.title
      sourceType= source
      isStudyPlayer=true
      menuItem = 'profile-prof'
    }}
  {{/if}}
  <div class="panel-container">
    {{proficiency/student-proficiency-panel
       studentProfile=studentProfile
       course=course
       activeSubject=activeSubject
       timeLine=timeLine
       class=class
       isStudent=isStudent
       competencyMatrixDomains=competencyMatrixDomains
       userProficiencyBaseLine=userProficiencyBaseLine
       competencyMatrixCoordinates=competencyMatrixCoordinates
       subjectBucket=subjectBucket
       taxonomyCategories=taxonomyCategories
       taxonomySubjects=taxonomySubjects
       isShowMatrixChart=isShowMatrixChart
       isSelectBaseLine=isSelectBaseLine
       selectedCategory=selectedCategory
       selectedCompetency=selectedCompetency
       selectedDomain=selectedDomain
       onSelectMonth="onSelectMonth"
       onSelectCompetency="onSelectCompetency"
       onDomainSelect="onDomainSelect"
       onSubjectChange="onSubjectChange"
       taxonomyGrades=taxonomyGrades
       classGrade=classGrade
       subjectCode=subjectCode
       fwCompetencies=fwCompetencies
       onSelectCategory="onSelectCategory"
       isPlayerProficiency = isPlayerProficiency
     }}

    {{#if isMobile}}
      <div class="inspect-competency">
        {{proficiency/competency-info-pull-up
          fwDomains=fwDomains
          fwCompetencies=fwCompetencies
          showGutCompetency=showGutCompetency
          isInspectCompetency=showCompetencyInfo
          onClosePullUp="onClosePullUp"
          classFramework=classFramework
          isStudent=isStudent
          competency=selectedCompetency
          studentId=studentProfile.id
          domainCompetencyList=domainCompetencyList
          isPlayerProficiency=isPlayerProficiency
        }}
      </div>
    {{/if}}
  </div>
  <div class="pull-up-container">
    {{#if isShowMatrixChart}}
      {{#proficiency/proficiency-subject-panel
         fwDomains=fwDomains
         showGutCompetency=showGutCompetency
         onDomainSelect="onDomainSelect"
         class=class subject=activeSubject
         competencyMatrixCoordinates=competencyMatrixCoordinates
       }}
        {{#if showDomainInfo}}
          {{proficiency/domain-info-pull-up
          fwDomains=fwDomains
          fwCompetencies=fwCompetencies
          showGutCompetency=showGutCompetency
          onSelectCompetency="onSelectCompetency"
          showPullUp=showDomainInfo
          competencies=selectedDomainCompetencies
          domain=selectedDomain
          }}
        {{/if}}
        {{proficiency/competency-info-pull-up
          fwDomains=fwDomains
          fwCompetencies=fwCompetencies
          showGutCompetency=showGutCompetency
          isInspectCompetency=showCompetencyInfo
          onClosePullUp="onClosePullUp"
          classFramework=classFramework
          isStudent=isStudent
          competency=selectedCompetency
          studentId=studentProfile.id
          domainCompetencyList=domainCompetencyList
          isPlayerProficiency=isPlayerProficiency
        }}
      {{/proficiency/proficiency-subject-panel}}
    {{/if}}
  </div>
</div>

{{#if isPlayerProficiency}}
  {{player/gru-player-summary-footer isDone=isDone classId=classId parents="onPlayNext" courseId=courseId courseTitle=course.title isPlayerProficiency = isPlayerProficiency isFullScreen=isFullScreen onToggleScreen="onToggleScreen"}}
{{/if}}

{{#if isShowSuggestion}}
  {{content/modals/gru-content-suggestion mapLocation=mapLocation onAcceptSuggestion="onAcceptSuggestion" onIgnoreSuggestion="onIgnoreSuggestion"}}
{{/if}}
