{{#if isTeacher}}
  <div class="class-header">
    {{teacher.class.gru-class-navbar navTitle= class.title class=class onItemSelected="selectMenuItem" selectedMenuItem=menuItem
    isPremiumClass=isPremiumClass onOpenCourseReport="onOpenCourseReport" onOpenOCAReport="onOpenOCAReport" performanceSummaryForDCA=performanceSummaryForDCA isOfflineClass=isOfflineClass onOpenCompetencyReport="onOpenCompetencyReport"}}
  </div>
{{/if}}
<div class="student-proficiency-container {{if isTeacher 'teacher'}}">
  <div class="taxonomy-grades">
    {{#if (and (gt taxonomyGrades.length 0) isShowMatrixChart)}}
      <div class="taxonomy-grades-container">
        {{proficiency.taxonomy-grades
          taxonomyGrades=taxonomyGrades
          activeGrade=activeGrade
          classGrade=classGrade
          subjectCode=subjectCode
          onSelectGrade="onSelectGrade"
        }}
        <div class="baseline-toggle" {{action "onToggleBaseline"}}>
          <div class="baseline-label">{{t 'profile.proficiency.baseline'}}</div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="panel-container">
    {{proficiency.student-proficiency-panel
       studentProfile=studentProfile
       course=course
       activeSubject=activeSubject
       timeLine=timeLine
       class=class
       selectedGrade=selectedGrade
       isSelectGrade=isSelectGrade
       isTeacher=isTeacher
       competencyMatrixDomains=competencyMatrixDomains
       userProficiencyBaseLine=userProficiencyBaseLine
       competencyMatrixCoordinates=competencyMatrixCoordinates
       subjectBucket=subjectBucket
       taxonomySubjects=taxonomySubjects
       isShowMatrixChart=isShowMatrixChart
       isSelectBaseLine=isSelectBaseLine
       onSelectMonth="onSelectMonth"
       onSelectCompetency="onSelectCompetency"
       onDomainSelect="onDomainSelect"
       onSubjectChange="onSubjectChange"
       categories=taxonomyCategories}}
  </div>
  <div class="pull-up-container">
    {{#if isShowMatrixChart}}
      {{#proficiency.proficiency-subject-panel class=class studentId=studentProfile.id selectedCompetency=selectedCompetency domainCompetencyList=domainCompetencyList selectedDomain=selectedDomain competencyMatrixDomains=competencyMatrixDomains subject=activeSubject
        competencyMatrixCoordinates=competencyMatrixCoordinates}}
        {{proficiency.domain-info-pull-up showPullUp=showDomainInfo competencies=selectedDomainCompetencies domain=selectedDomain}} {{proficiency.competency-info-pull-up isInspectCompetency=showCompetencyInfo competency=selectedCompetency studentId=studentProfile.id domainCompetencyList=domainCompetencyList}}
      {{/proficiency.proficiency-subject-panel}}
    {{/if}}
  </div>
</div>

{{#if isShowCourseReport}}
  {{reports.pull-up.course-report context=courseReportData showPullUp=isShowCourseReport onOpenUnitReport="onOpenUnitReport"  onClosePullUp="onClosePullUp" }}
{{/if}}

{{#if isShowUnitReportPullUp}}
  {{reports.pull-up.unit-report context=unitReportData onClosePullUp="onClosePullUp" showPullUp=isShowUnitReportPullUp onOpenLessonReport="onOpenLessonReport"}}
{{/if}}

{{#if isShowLessonReportPullUp}}
  {{reports.pull-up.lesson-report context=lessonReportData  onClosePullUp="onClosePullUp"  showPullUp=isShowLessonReportPullUp teacherCollectionReport="teacherCollectionReport"}}
{{/if}}

{{#if isShowCollectionReportPullUp}}
  {{reports.pull-up.collection-report onClosePullUp="onClosePullUp" context=teacherCollectionReportData showPullUp=isShowCollectionReportPullUp}}
{{/if}}

{{#if isShowOCASummaryReportPullUp}}
  {{teacher.offline-class.oca-summary-report-pull-up  classId=class.id performanceSummary=performanceSummaryForDCA onClosePullUp="onClosePullUp"}}
{{/if}}
