{{player/gru-study-header
  classId=classId
  class=class
  collection=collection
  courseId=course.id
  courseTitle=course.title
  sourceType= source
  showConfirmation=(if isOfflineActivity false true)
  isStudyPlayer=true
}}
<div class="player-container  {{type}}">
  <div class="player">
    {{#if isOfflineActivity}}
      {{player/gru-offline-activity-page
        offlineActivity = collection
        source = source
        mapLocation = mapLocation
        isStudyPlayer = true
      }}
    {{else if isAsssessment}}
      {{player/gru-external-assessment-page
      assessment=collection
      mapLocation=mapLocation
      source=source
      isNewPlayer=isNewPlayer
      dataParams=dataParams}}
    {{else}}
      {{player/gru-external-collection-page
      assessment=collection
      mapLocation=mapLocation
      source=source
      isNewPlayer=isNewPlayer}}
    {{/if}}
  </div>
  <div class="footer">
    {{player/gru-external-assessment-footer
      assessment=collection
      playNext="playNext"
      isFullScreen=isFullScreen
      onToggleScreen="onToggleScreen"
      isDone=isDone
      classId=classId
      courseId=courseId
    }}
  </div>
</div>