{{player.gru-study-header
  classId=classId
  class=class
  collection=collection
  courseId=course.id
  courseTitle=course.title
  sourceType= source
}}

<div class="player-container  {{type}}">
  <div class="player">
    {{#if isAsssessment}}
      {{player.gru-external-assessment-page
      assessment=collection
      mapLocation=mapLocation
      source=source
      isNewPlayer=isNewPlayer
    }}
    {{else}}
      {{player.gru-external-collection-page
      assessment=collection
      mapLocation=mapLocation
      source=source
      isNewPlayer=isNewPlayer
    }}
    {{/if}}
  </div>
  <div class="footer">
    {{player.gru-external-assessment-footer
      assessment=collection
      playNext="playNext"
      isFullScreen=isFullScreen
      onToggleScreen="onToggleScreen"
    }}
  </div>
</div>
